Repository apache/incubator-pegasus, pull requests merged in 2018-12, with the labels that each got.

#217 rocksdb: add compression type zstd and lz4
  .travis.yml
  run.sh
  scripts/pack_server.sh
  scripts/pack_tools.sh
  src/CMakeLists.txt
  src/geo/bench/CMakeLists.txt
  src/server/CMakeLists.txt
  src/server/pegasus_server_impl.cpp
  src/server/test/CMakeLists.txt
  src/shell/CMakeLists.txt
  src/test/bench_test/CMakeLists.txt
Labels: submodule/rocksdb

#232 scripts: fix pack_common.sh
  scripts/pack_common.sh
Labels: component/scripts

#241 server: fix invalid access to block_cache nullptr if disabled
  src/server/pegasus_server_impl.cpp
Labels: type/bug-fix

#244 scripts: check health status for all clusters
  scripts/pegasus_check_clusters.py
  scripts/pegasus_check_ports.py
  scripts/py_utils/__init__.py
  scripts/py_utils/lib.py
Labels: component/scripts
