Repository apache/incubator-pegasus, pull requests merged in 2018-11, with the labels that each got.

#205 idl: fix recompile_thrift.sh & script: add format_files.sh
  scripts/format_files.sh
  src/idl/recompile_thrift.sh
  src/server/test/pegasus_server_write_test.cpp
  src/test/bench_test/pegasus_bench.cpp
Labels: component/scripts

#208 test: fix scan test cases skiped bug in CI
  src/test/function_test/test_scan.cpp
Labels: type/bug-fix

#209 scripts: fix format_files.sh to ignore rdsn module
  scripts/format_files.sh
  src/server/key_ttl_compaction_filter.h
  src/server/pegasus_server_write.cpp
  src/server/pegasus_write_service.cpp
Labels: component/scripts

#215 server: fix iterate_count of multi_get
  src/server/pegasus_server_impl.cpp
Labels: type/bug-fix

#216 shell: use rocksdb's histogram for shell key-value size statistics
  src/geo/bench/bench.cpp
  src/server/CMakeLists.txt
  src/shell/CMakeLists.txt
  src/shell/command_helper.h
  src/shell/commands.h
Labels: component/shell
