Repository apache/incubator-pegasus, pull requests merged in 2019-08, with the labels that each got.

#358 scripts: travis supports format
  .gitignore
  .travis.yml
  scripts/format_files.sh
  scripts/travis.sh
  src/base/test/CMakeLists.txt
  src/base/test/run.sh
  src/geo/bench/bench.cpp
  src/redis_protocol/proxy_ut/redis_proxy_test.cpp
  src/server/test/pegasus_compression_options_test.cpp
  src/shell/commands/data_operations.cpp
  src/test/function_test/test_recovery.cpp
Labels: component/scripts

#370 configs: minimize config-server.ini to config.min.ini
  run.sh
  src/server/config-server.ini
  src/server/config.ini
  src/server/config.min.ini
Labels: component/configs

#375 scripts: fix clusters_stat.sh and related scripts
  scripts/clusters_show.sh
  scripts/clusters_stat.sh
  scripts/pegasus_stat_available.sh
Labels: component/scripts

#372 benchmark: remove dependency of unexport rocksdb objects
  run.sh
  src/test/bench_test/CMakeLists.txt
  src/test/bench_test/benchmark.cpp
  src/test/bench_test/benchmark.h
  src/test/bench_test/config.cpp
  src/test/bench_test/config.h
  src/test/bench_test/config.ini
  src/test/bench_test/main.cpp
  src/test/bench_test/pegasus_bench.cpp
  src/test/bench_test/rand.cpp
  src/test/bench_test/rand.h
  src/test/bench_test/statistics.cpp
  src/test/bench_test/statistics.h
  src/test/bench_test/utils.h
Labels: type/testing

#382 fix: improve shell get_app_stat and ls_nodes & fix scripts
  scripts/clusters_show.sh
  scripts/pegasus_manual_compact.sh
  scripts/pegasus_replica_thread.sh
  scripts/pegasus_set_usage_scenario.sh
  src/shell/command_helper.h
  src/shell/commands/node_management.cpp
Labels: component/scripts, component/shell
