Repository apache/incubator-pegasus, pull requests merged in 2019-07, with the labels that each got.

#348 scripts: add convenience script for creating table
  scripts/create_table.py
  scripts/py_utils/lib.py
Labels: component/scripts

#349 docs: update readme of Pegasus
  README.md
  docs/contribution.md
  docs/media-img/pegasus-architecture-overview.png
  docs/media-img/pegasus-data-model.png
  docs/roadmap.md
Labels: component/docs

#355 scripts: build rocksdb with RelWithDebInfo
  .gitignore
  run.sh
  scripts/create_table.py
Labels: component/scripts, submodule/rocksdb, type/bug-fix

#357 GEO: Support more configuration for geo_client
  src/geo/bench/bench.cpp
  src/geo/bench/config.ini
  src/geo/lib/geo_client.cpp
  src/geo/lib/geo_client.h
  src/geo/lib/latlng_extractor.cpp
  src/geo/lib/latlng_extractor.h
  src/geo/test/config.ini
  src/geo/test/extractor_test.cpp
  src/geo/test/geo_test.cpp
  src/redis_protocol/proxy/config.ini
  src/redis_protocol/proxy_lib/redis_parser.cpp
  src/redis_protocol/proxy_ut/config.ini
  src/shell/commands/data_operations.cpp
Labels: component/geo
