Repository apache/incubator-pegasus, pull requests merged in 2019-02, with the labels that each got.

#275 scripts: fix pack tools to copy lib with the right name
  scripts/pack_common.sh
  scripts/pack_server.sh
  scripts/pack_tools.sh
Labels: component/scripts

#277 shell: improve subcommand app_stat and nodes
  src/server/info_collector.cpp
  src/shell/command_helper.h
  src/shell/commands.h
  src/shell/main.cpp
Labels: component/shell

#279 pegasus_server: use unique_ptr to reduce memory leak risk
  src/server/pegasus_server_impl.cpp
Labels: type/enhancement

#281 doc: fix Pegasus_Intro_2018_07.pptx
  docs/ppt/Pegasus_Intro_2018_07.pptx
Labels: component/docs

#282 scripts: fix scripts to parse cluster_info correctly
  scripts/pegasus_offline_node.sh
  scripts/pegasus_offline_node_list.sh
  scripts/pegasus_rolling_update.sh
Labels: component/scripts

#283 client: fix interface comment
  src/include/pegasus/client.h
Labels: component/docs

#284 shell: split the commands.h for refactor (#278)
  src/shell/CMakeLists.txt
  src/shell/commands.h
  src/shell/commands/cold_backup.cpp
  src/shell/commands/data_operations.cpp
  src/shell/commands/debugger.cpp
  src/shell/commands/global_properties.cpp
  src/shell/commands/misc.cpp
  src/shell/commands/node_management.cpp
  src/shell/commands/rebalance.cpp
  src/shell/commands/recovery.cpp
  src/shell/commands/table_management.cpp
  src/shell/main.cpp
Labels: component/shell

#285 shell: improve app_stat to add app_id and partition_count column
  scripts/pegasus_stat_available.sh
  src/shell/command_helper.h
  src/shell/commands/table_management.cpp
Labels: component/shell

#288 shell: add --only_usage option for app_stat
  src/shell/command_helper.h
  src/shell/commands/table_management.cpp
  src/shell/main.cpp
Labels: component/shell

#291 shell: fix copy_data bug
  src/shell/command_helper.h
  src/shell/commands/data_operations.cpp
Labels: component/shell, type/bug-fix

#292 shell: improve copy_data/clear_data/count_data to support HashKey/SortKey/Value filters
  src/shell/commands/data_operations.cpp
  src/shell/main.cpp
Labels: component/scripts
