Repository apache/incubator-pegasus, pull requests merged in 2022-07, with the labels that each got.

#1017 build(thirdparty): add thirdparty for centos6 build env
  docker/pegasus-build-env/centos7/Dockerfile
  docker/pegasus-build-env/ubuntu1604/Dockerfile
  docker/pegasus-build-env/ubuntu1804/Dockerfile
  docker/pegasus-build-env/ubuntu2004/Dockerfile
  rdsn/thirdparty/CMakeLists.txt
  scripts/pack_server.sh
Labels: thirdparty-modified

#1078 fix: fix recovery code clang failed
  src/rdsn/src/meta/server_state.cpp
Labels: cpp

#1079 refactor: Move some common files out of rdsn directory
  .gitignore
  .licenserc.yaml
  docs/CONTRIBUTING.md
  docs/rdsn-README.md
  docs/resources/arch.png
  docs/resources/config.png
  docs/resources/rdsn-layer1.jpg
  docs/resources/rdsn-layer2.jpg
  docs/resources/rdsn-layer3.jpg
  docs/resources/rdsn-state-all.jpg
  docs/resources/rdsn.jpg
  docs/resources/viz.png
  idl/dsn.layer2.thrift
  idl/dsn.thrift
  idl/rrdb.thrift
  run.sh
  scripts/compile_thrift.py
  scripts/recompile_thrift.sh
  src/idl/dsn.thrift
  src/rdsn/src/common/backup.thrift
  src/rdsn/src/common/bulk_load.thrift
  src/rdsn/src/common/consensus.thrift
  src/rdsn/src/common/duplication.thrift
  src/rdsn/src/common/meta_admin.thrift
  src/rdsn/src/common/metadata.thrift
  src/rdsn/src/common/partition_split.thrift
  src/rdsn/src/common/replica_admin.thrift
  src/rdsn/src/failure_detector/fd.thrift
  src/rdsn/src/nfs/nfs.thrift
  src/rdsn/src/runtime/security/security.thrift
Labels: docs, scripts, build, thrift

#1071 chore(build): add file license check for some excluded files
  java-client/pom.xml
Labels: first-time-contributor, java-client

#1080 fix: fix 'assert' disabled caused function_test failed bug
  src/base/pegasus_utils.cpp
  src/base/pegasus_value_schema.h
  src/geo/bench/bench.cpp
  src/geo/lib/latlng_codec.cpp
  src/rdsn/include/dsn/cpp/json_helper.h
  src/rdsn/include/dsn/utility/casts.h
  src/rdsn/include/dsn/utility/endians.h
  src/rdsn/src/aio/aio_task.cpp
  src/rdsn/src/block_service/test/fds_service_test.cpp
  src/rdsn/src/client/partition_resolver_simple.cpp
  src/rdsn/src/client/replication_ddl_client.cpp
  src/rdsn/src/common/fs_manager.cpp
  src/rdsn/src/http/http_call_registry.h
  src/rdsn/src/http/http_message_parser.cpp
  src/rdsn/src/http/uri_decoder.cpp
  src/rdsn/src/meta/meta_backup_service.cpp
  src/rdsn/src/runtime/rpc/thrift_message_parser.cpp
  src/test/bench_test/benchmark.cpp
  src/test/bench_test/benchmark.h
  src/test/function_test/global_env.cpp
  src/test/function_test/global_env.h
  src/test/function_test/test_restore.cpp
  src/test/kill_test/killer_handler_shell.cpp
  src/test/kill_test/process_kill_testor.cpp
  src/test/upgrade_test/process_upgrader.cpp
  src/test/upgrade_test/upgrader_handler_shell.cpp
Labels: type/bug-fix, cpp

#1074 feat: support to close percentile to prevent from heap-use-after-free error
  src/rdsn/include/dsn/utility/metrics.h
  src/rdsn/src/utils/metrics.cpp
  src/rdsn/src/utils/test/metrics_test.cpp
Labels: type/bug-fix, cpp, unit-test

#1082 refactor(build): skip re-generating thrift and skip re-cmaking
  .github/workflows/lint_and_test_cpp.yaml
  .rat-excludes
  run.sh
  scripts/clear_zk.sh
  scripts/collector_table_counter_gen.py
  scripts/config_hdfs.sh
  scripts/downgrade_node.sh
  scripts/format_files.sh
  scripts/get_local_ip.py
  scripts/migrate_node.sh
  scripts/minos_common.sh
  scripts/pack_client.sh
  scripts/pack_common.sh
  scripts/pack_server.sh
  scripts/pack_tools.sh
  scripts/pegasus_add_node_list.sh
  scripts/pegasus_bench_run.sh
  scripts/pegasus_check_arguments.sh
  scripts/pegasus_kill_test.sh
  scripts/pegasus_manual_compact.sh
  scripts/pegasus_migrate_zookeeper.sh
  scripts/pegasus_offline_node.sh
  scripts/pegasus_offline_node_list.sh
  scripts/pegasus_rebalance_cluster.sh
  scripts/pegasus_replica_thread.sh
  scripts/pegasus_restart_node.sh
  scripts/pegasus_rolling_update.sh
  scripts/pegasus_set_usage_scenario.sh
  scripts/pegasus_stat_available.sh
  scripts/pegasus_update_ingest_behind.sh
  scripts/sendmail.sh
  scripts/start_zk.sh
  scripts/stop_zk.sh
Labels: github, scripts, build
