Repository apache/incubator-pegasus, pull requests merged in 2022-12, with the labels that each got.

#1277 build: Use maven flatten plugin to generate resolved pom
  .gitignore
  java-client/pom.xml
Labels: java-client

#1198 feat(config): Make the configs take effect for the FLAGS_* only used once
  src/common/replication_common.cpp
  src/common/replication_common.h
  src/http/builtin_http_calls.cpp
  src/http/builtin_http_calls.h
  src/http/config_http_service.cpp
  src/http/http_call_registry.h
  src/http/http_server.cpp
  src/http/http_server.h
  src/meta/meta_http_service.h
  src/replica/duplication/test/dup_replica_http_service_test.cpp
  src/replica/replica_http_service.cpp
  src/replica/replica_http_service.h
  src/replica/replica_stub.cpp
  src/replica/replica_stub.h
  src/replica/test/replica_http_service_test.cpp
  src/runtime/task/async_calls.h
  src/runtime/task/task.cpp
  src/runtime/task/task.h
  src/server/info_collector_app.cpp
  src/utils/flags.h
Labels: cpp

#1278 build: Support publish artifacts to repository.a.o
  java-client/pom.xml
Labels: java-client

#1258 feat(new_metrics): take snapshot of each entity as json format
  src/common/json_helper.h
  src/utils/metrics.cpp
  src/utils/metrics.h
  src/utils/test/metrics_test.cpp
Labels: cpp

#1282 fix: fix some bad links of docs
  .github/workflows/lint_and_test_admin-cli.yml
  .github/workflows/lint_and_test_go-client.yml
  README.md
  admin-cli/README.md
  java-client/README.md
Labels: docs, github, admin-cli, java-client

#1284 refactor(idl): unify the *.thrift files used by cpp and go-client
  .github/workflows/lint_and_test_go-client.yml
  .licenserc.yaml
  go-client/Makefile
  go-client/admin/client.go
  go-client/docs/how_to_add_new_interface.md
  go-client/generator/admin.csv
  go-client/idl/admin.thrift
  go-client/idl/admin/GoUnusedProtection__.go
  go-client/idl/admin/admin-consts.go
  go-client/idl/admin/admin.go
  go-client/idl/base.thrift
  go-client/idl/base/error_code.go
  go-client/idl/cmd.thrift
  go-client/idl/cmd/GoUnusedProtection__.go
  go-client/idl/cmd/cmd-consts.go
  go-client/idl/cmd/cmd.go
  go-client/idl/radmin.thrift
  go-client/idl/radmin/GoUnusedProtection__.go
  go-client/idl/radmin/radmin-consts.go
  go-client/idl/radmin/radmin.go
  go-client/idl/replication.thrift
  go-client/idl/replication/GoUnusedProtection__.go
  go-client/idl/replication/replication-consts.go
  go-client/idl/replication/replication.go
  go-client/idl/rrdb.thrift
  go-client/idl/rrdb/GoUnusedProtection__.go
  go-client/idl/rrdb/rrdb-consts.go
  go-client/idl/rrdb/rrdb.go
  go-client/pegalog/logger.go
  go-client/pegasus/op/multidel.go
  go-client/pegasus/op/multiget.go
  go-client/pegasus/scanner.go
  go-client/pegasus/table_connector.go
  go-client/pegasus/table_connector_test.go
  go-client/session/admin_rpc_types.go
  go-client/session/codec.go
  go-client/session/codec_test.go
  go-client/session/meta_session.go
  go-client/session/session_test.go
  idl/backup.thrift
  idl/bulk_load.thrift
  idl/command.thrift
  idl/dsn.layer2.thrift
  idl/dsn.thrift
  idl/duplication.thrift
  idl/meta_admin.thrift
  idl/metadata.thrift
  idl/partition_split.thrift
  idl/replica_admin.thrift
  idl/rrdb.thrift
  src/common/CMakeLists.txt
  src/common/consensus.thrift
  src/common/duplication_internal.thrift
  src/include/rrdb/rrdb.client.h
  src/remote_cmd/CMakeLists.txt
  src/runtime/rpc/request_meta.thrift
  src/server/pegasus_write_service.h
Labels: docs, github, go-client, cpp, build, thrift

#1289 fix: fix judgment to disk for partition split
  admin-cli/executor/partition_split.go
Labels: admin-cli

#1272 feat: add rename_app interface
  idl/meta_admin.thrift
  src/client/replication_ddl_client.cpp
  src/client/replication_ddl_client.h
  src/common/replication.codes.h
  src/meta/meta_rpc_types.h
  src/meta/meta_service.cpp
  src/meta/meta_service.h
  src/meta/server_state.cpp
  src/meta/server_state.h
  src/meta/test/meta_app_operation_test.cpp
  src/replica/replica.h
  src/replica/replica_config.cpp
  src/shell/commands.h
  src/shell/commands/table_management.cpp
  src/shell/main.cpp
Labels: cpp, thrift

#1292 chore(ci): use ubuntu-20.04 and install thrift-0.13 specially
  .github/workflows/regular-build.yml
Labels: github

#1290 refactor(idl): unify the *.thrift files used by cpp and java-client
  .github/workflows/regular-build.yml
  go-client/pegasus/table_connector.go
  go-client/pegasus/table_connector_test.go
  go-client/session/codec.go
  go-client/session/codec_test.go
  go-client/session/meta_session.go
  go-client/session/session_test.go
  idl/backup.thrift
  idl/bulk_load.thrift
  idl/dsn.layer2.thrift
  idl/dsn.thrift
  idl/duplication.thrift
  idl/meta_admin.thrift
  idl/metadata.thrift
  idl/partition_split.thrift
  idl/rrdb.thrift
  idl/security.thrift
  java-client/README.md
  java-client/idl/apache-licence-template
  java-client/idl/base.thrift
  java-client/idl/meta_admin.thrift
  java-client/idl/replication.thrift
  java-client/idl/rrdb.thrift
  java-client/idl/security.thrift
  java-client/scripts/ci-test.sh
  java-client/scripts/recompile_thrift.sh
  java-client/src/main/java/org/apache/pegasus/client/PegasusScanner.java
  java-client/src/main/java/org/apache/pegasus/operator/create_app_operator.java
  java-client/src/main/java/org/apache/pegasus/operator/drop_app_operator.java
  src/client/partition_resolver_simple.cpp
  src/client/replication_ddl_client.cpp
  src/client_lib/pegasus_client_impl.cpp
  src/meta/duplication/meta_duplication_service.cpp
  src/meta/meta_http_service.cpp
  src/meta/meta_rpc_types.h
  src/meta/meta_service.cpp
  src/meta/server_state.cpp
  src/meta/server_state.h
  src/meta/test/state_sync_test.cpp
  src/replica/duplication/replica_follower.cpp
  src/replica/duplication/replica_follower.h
  src/replica/duplication/test/replica_follower_test.cpp
  src/runtime/security/CMakeLists.txt
  src/runtime/test/message_utils_test.cpp
  src/runtime/test/rpc_holder_test.cpp
  src/runtime/test/rpc_message.cpp
Labels: docs, github, go-client, java-client, scripts, cpp, build, thrift

#1295 fix(ci): fix build failure on ubuntu-16.04
  src/runtime/task/task_code.cpp
Labels: cpp

#1297 fix(ci): fix golint not work bug
  .github/workflows/lint_and_test_admin-cli.yml
  .github/workflows/lint_and_test_go-client.yml
  .github/workflows/lint_and_test_pegic.yml
Labels: github

#1298 feat(new_metrics): provide http service to process client query for metrics
  src/http/test/http_server_test.cpp
  src/utils/CMakeLists.txt
  src/utils/metrics.cpp
  src/utils/metrics.h
  src/utils/test/CMakeLists.txt
  src/utils/test/metrics_test.cpp
Labels: cpp, build

#1293 fix: fix judgment to disk for partition split
  admin-cli/executor/partition_split.go
Labels: admin-cli

#1132 feat(server): disable UDP service by config
  src/runtime/nativerun.cpp
  src/runtime/providers.common.cpp
  src/runtime/task/task_spec.cpp
Labels: cpp

#1148 feat: expose parameter success_if_exist for interface create_app
  go-client/admin/client.go
  java-client/src/main/java/org/apache/pegasus/client/PegasusAdminClient.java
  java-client/src/main/java/org/apache/pegasus/client/PegasusAdminClientInterface.java
  src/client/replication_ddl_client.cpp
  src/client/replication_ddl_client.h
  src/shell/commands/table_management.cpp
  src/shell/main.cpp
Labels: go-client, java-client, cpp

#1300 feat: decide whether two C strings are equal and support CHECK_STREQ* and CHECK_STRNE*
  src/aio/test/aio.cpp
  src/block_service/test/fds_service_test.cpp
  src/block_service/test/hdfs_service_test.cpp
  src/failure_detector/test/failure_detector.cpp
  src/http/http_message_parser.cpp
  src/http/pprof_http_service.cpp
  src/meta/meta_state_service_simple.cpp
  src/meta/server_state.cpp
  src/meta/test/dump_file.cpp
  src/meta/test/json_compacity.cpp
  src/meta/test/state_sync_test.cpp
  src/perf_counter/perf_counter.cpp
  src/perf_counter/perf_counters.cpp
  src/redis_protocol/proxy/main.cpp
  src/redis_protocol/proxy_lib/redis_parser.cpp
  src/redis_protocol/proxy_ut/redis_proxy_test.cpp
  src/replica/storage/simple_kv/test/case.cpp
  src/replica/storage/simple_kv/test/checker.cpp
  src/replica/test/mutation_log_learn_test.cpp
  src/reporter/pegasus_counter_reporter.cpp
  src/runtime/global_config.cpp
  src/runtime/rpc/rpc_address.cpp
  src/runtime/rpc/thrift_message_parser.cpp
  src/runtime/service_api_c.cpp
  src/runtime/test/main.cpp
  src/runtime/test/netprovider.cpp
  src/runtime/test/rpc_message.cpp
  src/server/compaction_filter_rule.cpp
  src/server/main.cpp
  src/server/pegasus_server_impl.cpp
  src/server/pegasus_write_service_impl.h
  src/shell/args.h
  src/shell/command_helper.h
  src/shell/command_utils.h
  src/shell/commands/detect_hotkey.cpp
  src/shell/commands/global_properties.cpp
  src/shell/main.cpp
  src/test/kill_test/main.cpp
  src/utils/fmt_logging.h
  src/utils/long_adder_bench/long_adder_bench.cpp
  src/utils/metrics.cpp
  src/utils/metrics.h
  src/utils/simple_logger.cpp
  src/utils/string_view.cpp
  src/utils/string_view.h
  src/utils/strings.cpp
  src/utils/strings.h
  src/utils/test/flag_test.cpp
  src/utils/test/metrics_test.cpp
  src/utils/test/utils.cpp
Labels: cpp

#1302 feat(new_metrics): support frequently-used combinations of metric fields in the query string
  src/utils/metrics.cpp
  src/utils/test/metrics_test.cpp
Labels: cpp
