Repository apache/incubator-pegasus, pull requests merged in 2022-10, with the labels that each got.

#1182 fix: fix workflow labeler not work
  .github/workflows/labeler.yml
Labels: github

#1180 docs: Update nodejs-client/README.md
  nodejs-client/README.md
Labels: docs, first-time-contributor, nodejs-client

#1187 chore(CI): disable some flaky tests
  .github/workflows/lint_and_test_cpp.yaml
Labels: github

#1194 fix: fix wrong comments for down_cast
  src/rdsn/src/utils/casts.h
Labels: cpp

#1192 refactor(metrics): drop template specialization for gauge
  src/rdsn/src/utils/metrics.cpp
  src/rdsn/src/utils/metrics.h
Labels: cpp

#1196 feat(new_metrics): use rwlock instead of mutex to protect a metric entity or registry against few writes and numerous reads
  src/rdsn/src/utils/metrics.cpp
  src/rdsn/src/utils/metrics.h
Labels: cpp

#1202 refactor(log): adjust log level and rename for d*_replica/dup/rocksdb macros
  src/meta/duplication/duplication_info.cpp
  src/meta/duplication/duplication_info.h
  src/meta/duplication/meta_duplication_service.cpp
  src/replica/backup/replica_backup_manager.cpp
  src/replica/bulk_load/replica_bulk_loader.cpp
  src/replica/duplication/load_from_private_log.cpp
  src/replica/duplication/mutation_batch.cpp
  src/replica/duplication/replica_duplicator.cpp
  src/replica/duplication/replica_duplicator_manager.cpp
  src/replica/duplication/replica_duplicator_manager.h
  src/replica/duplication/replica_follower.cpp
  src/replica/replica.cpp
  src/replica/replica_2pc.cpp
  src/replica/replica_backup.cpp
  src/replica/replica_base.h
  src/replica/replica_check.cpp
  src/replica/replica_chkpt.cpp
  src/replica/replica_config.cpp
  src/replica/replica_disk_migrator.cpp
  src/replica/replica_init.cpp
  src/replica/replica_learn.cpp
  src/replica/replica_restore.cpp
  src/replica/replica_throttle.cpp
  src/replica/replication_app_base.cpp
  src/replica/split/replica_split_manager.cpp
  src/replica/split/replica_split_manager.h
  src/server/hotkey_collector.cpp
  src/server/logging_utils.h
  src/server/meta_store.cpp
  src/server/pegasus_event_listener.cpp
  src/server/pegasus_manual_compact_service.cpp
  src/server/pegasus_mutation_duplicator.cpp
  src/server/pegasus_server_impl.cpp
  src/server/pegasus_server_impl_init.cpp
  src/server/pegasus_server_write.cpp
  src/server/pegasus_write_service_impl.h
  src/server/rocksdb_wrapper.cpp
  src/utils/fmt_logging.h
Labels: cpp

#1210 fix(script): move zookeeper-bin under INSTALL_DIR rather than being it
  run.sh
Labels: scripts, build

#1211 refactor(macro): use CHECK to replace dassert_f/dassert (part2)
  src/common/json_helper.h
  src/failure_detector/failure_detector.cpp
  src/failure_detector/failure_detector_multimaster.h
  src/http/http_message_parser.cpp
  src/meta/dump_file.h
  src/meta/duplication/duplication_info.h
  src/meta/duplication/meta_duplication_service.h
  src/meta/greedy_load_balancer.cpp
  src/meta/load_balance_policy.cpp
  src/meta/meta_backup_service.cpp
  src/meta/meta_data.cpp
  src/meta/meta_server_failure_detector.cpp
  src/meta/meta_server_failure_detector.h
  src/meta/meta_service.cpp
  src/meta/meta_split_service.cpp
  src/meta/meta_state_service_simple.cpp
  src/meta/meta_state_service_utils.cpp
  src/meta/partition_guardian.cpp
  src/meta/server_load_balancer.cpp
  src/meta/server_state.cpp
  src/meta/server_state_restore.cpp
  src/meta/test/balancer_simulator/balancer_simulator.cpp
  src/meta/test/balancer_validator.cpp
  src/meta/test/meta_app_operation_test.cpp
  src/meta/test/meta_state/meta_state_service.cpp
  src/meta/test/misc/misc.cpp
  src/nfs/nfs_client_impl.cpp
  src/perf_counter/perf_counter_atomic.h
  src/perf_counter/perf_counters.cpp
  src/redis_protocol/proxy_lib/redis_parser.cpp
  src/replica/replica_stub.cpp
  src/runtime/security/kinit_context.cpp
  src/runtime/security/negotiation_manager.cpp
  src/server/pegasus_server_impl.cpp
  src/shell/command_helper.h
  src/utils/casts.h
  src/utils/fmt_logging.h
Labels: cpp

#1212 refactor(macro): use CHECK_EQ to replace dassert_eq*
  src/aio/aio_task.cpp
  src/base/pegasus_value_schema.h
  src/block_service/test/fds_service_test.cpp
  src/client/partition_resolver_simple.cpp
  src/client/replication_ddl_client.cpp
  src/common/fs_manager.cpp
  src/geo/lib/latlng_codec.cpp
  src/geo/test/geo_test.cpp
  src/http/http_call_registry.h
  src/http/http_message_parser.cpp
  src/http/uri_decoder.cpp
  src/meta/backup_engine.cpp
  src/meta/meta_backup_service.cpp
  src/meta/server_load_balancer.cpp
  src/replica/duplication/duplication_pipeline.cpp
  src/replica/duplication/replica_duplicator_manager.cpp
  src/replica/mutation_log.cpp
  src/replica/replica.cpp
  src/replica/replica_backup.cpp
  src/replica/replica_config.cpp
  src/replica/replica_init.cpp
  src/replica/replication_app_base.cpp
  src/replica/split/replica_split_manager.cpp
  src/replica/test/mock_utils.h
  src/runtime/rpc/network.cpp
  src/runtime/rpc/thrift_message_parser.cpp
  src/runtime/security/kinit_context.cpp
  src/server/hotspot_partition_calculator.cpp
  src/server/meta_store.cpp
  src/server/pegasus_server_impl.cpp
  src/test/function_test/restore_test/test_restore.cpp
  src/test/function_test/utils/utils.h
  src/test/kill_test/killer_handler_shell.cpp
  src/test/kill_test/process_kill_testor.cpp
  src/utils/fmt_logging.h
Labels: cpp

#1214 refactor(macro): use CHECK_* to replace dassert_*
  src/aio/disk_engine.cpp
  src/common/replication_common.cpp
  src/replica/duplication/duplication_pipeline.cpp
  src/replica/duplication/mutation_batch.cpp
  src/replica/log_file.cpp
  src/replica/prepare_list.cpp
  src/replica/replica_learn.cpp
  src/replica/replication_app_base.cpp
  src/replica/split/replica_split_manager.cpp
  src/reporter/pegasus_counter_reporter.cpp
  src/runtime/task/task_spec.cpp
  src/server/hotkey_collector.cpp
  src/server/pegasus_server_impl.cpp
  src/utils/endians.h
  src/utils/fmt_logging.h
  src/utils/je_ctl.cpp
  src/utils/metrics.cpp
  src/utils/metrics.h
Labels: cpp

#1208 fix: fix rollback by mistake for mutation_log::reset_from
  src/replica/mutation_log.cpp
Labels: cpp
