Repository apache/incubator-pegasus, pull requests merged in 2022-09, with the labels that each got.

#1139 feat(backup): 7. replica upload backup files
  src/rdsn/src/common/backup_restore_common.cpp
  src/rdsn/src/common/backup_restore_common.h
  src/rdsn/src/replica/backup/replica_backup_manager.cpp
  src/rdsn/src/replica/backup/replica_backup_manager.h
  src/rdsn/src/replica/backup/test/config-test.ini
  src/rdsn/src/replica/backup/test/replica_backup_manager_test.cpp
  src/rdsn/src/replica/replica_stub.h
Labels: cpp, component/backup_restore

#1133 feat(jemalloc): support to dump stats
  .github/workflows/lint_and_test_cpp.yaml
  src/rdsn/include/dsn/utility/enum_helper.h
  src/rdsn/src/replica/replica_stub.cpp
  src/rdsn/src/replica/replica_stub.h
  src/rdsn/src/utils/je_ctl.cpp
  src/rdsn/src/utils/je_ctl.h
  src/rdsn/src/utils/test/je_ctl_test.cpp
Labels: github, cpp

#1142 chore(CI): Lint and build all projects regularlly
  .github/workflows/pegasus-regular-build.yml
  .github/workflows/regular-build.yml
  java-client/pom.xml
Labels: github, java-client

#1146 feat(backup): 8. meta handle backup_response during uploading and succeed
  src/rdsn/src/meta/meta_backup_engine.cpp
  src/rdsn/src/meta/meta_backup_engine.h
  src/rdsn/src/meta/test/meta_backup_engine_test.cpp
Labels: cpp, component/backup_restore

#1154 fix: fix bad links and bad image names
  .github/workflows/regular-build.yml
  README.md
  docker/README.md
Labels: docs, github, docker

#1152 feat: make java client interface closable
  java-client/src/main/java/org/apache/pegasus/client/PegasusAdminClientInterface.java
  java-client/src/main/java/org/apache/pegasus/client/PegasusClientInterface.java
  java-client/src/main/java/org/apache/pegasus/client/PegasusScannerInterface.java
Labels: java-client

#1161 fix(workflow): drop --on_travis option for unit tests of jemalloc
  .github/workflows/lint_and_test_cpp.yaml
  run.sh
Labels: github, scripts, build

#1163 build(images): parallelize images building for all binary third-parties and only build ubuntu1804 for test images
  .github/workflows/thirdparty-regular-push.yml
Labels: github

#1150 feat(backup): 9. replica handle backup clear context and invalid status
  docker/README.md
  src/rdsn/src/common/backup_restore_common.cpp
  src/rdsn/src/common/replication_common.cpp
  src/rdsn/src/common/replication_common.h
  src/rdsn/src/replica/backup/replica_backup_manager.cpp
  src/rdsn/src/replica/backup/replica_backup_manager.h
  src/rdsn/src/replica/backup/test/replica_backup_manager_test.cpp
  src/rdsn/src/replica/replica_config.cpp
Labels: docs, docker, cpp, component/backup_restore

#1167 build(images): download hadoop-2.8.4.tar.gz during third-parties image building for unit tests
  .github/workflows/thirdparty-regular-push.yml
  docker/thirdparties-bin/Dockerfile
  scripts/download_hadoop.sh
Labels: github, docker, scripts

#1169 refactor(function_test): use test_util to reduce duplicate code
  run.sh
  src/test/function_test/backup_restore_test/test_backup_and_restore.cpp
  src/test/function_test/base_api_test/test_basic.cpp
  src/test/function_test/base_api_test/test_batch_get.cpp
  src/test/function_test/base_api_test/test_check_and_mutate.cpp
  src/test/function_test/base_api_test/test_check_and_set.cpp
  src/test/function_test/base_api_test/test_copy.cpp
  src/test/function_test/base_api_test/test_incr.cpp
  src/test/function_test/base_api_test/test_range_read.cpp
  src/test/function_test/base_api_test/test_recall.cpp
  src/test/function_test/base_api_test/test_scan.cpp
  src/test/function_test/base_api_test/test_ttl.cpp
  src/test/function_test/bulk_load_test/test_bulk_load.cpp
  src/test/function_test/detect_hotspot_test/test_detect_hotspot.cpp
  src/test/function_test/partition_split_test/test_split.cpp
  src/test/function_test/recovery_test/test_recovery.cpp
  src/test/function_test/restore_test/test_restore.cpp
  src/test/function_test/throttle_test/test_throttle.cpp
  src/test/function_test/utils/CMakeLists.txt
  src/test/function_test/utils/global_env.cpp
  src/test/function_test/utils/test_util.cpp
  src/test/function_test/utils/test_util.h
  src/test/function_test/utils/utils.h
Labels: scripts, cpp, build

#1171 refactor(test): remove useless upgrade_test
  run.sh
  src/CMakeLists.txt
  src/test/upgrade_test/CMakeLists.txt
  src/test/upgrade_test/config.ini
  src/test/upgrade_test/data_verifier.cpp
  src/test/upgrade_test/data_verifier.h
  src/test/upgrade_test/job.cpp
  src/test/upgrade_test/job.h
  src/test/upgrade_test/main.cpp
  src/test/upgrade_test/process_upgrader.cpp
  src/test/upgrade_test/process_upgrader.h
  src/test/upgrade_test/upgrade_testor.cpp
  src/test/upgrade_test/upgrade_testor.h
  src/test/upgrade_test/upgrader_handler.h
  src/test/upgrade_test/upgrader_handler_shell.cpp
  src/test/upgrade_test/upgrader_handler_shell.h
  src/test/upgrade_test/upgrader_registry.cpp
  src/test/upgrade_test/upgrader_registry.h
Labels: scripts, cpp, build

#1168 ci: download hadoop-2.8.4.tar.gz during release building for unit tests once third-parties have changed
  .github/workflows/lint_and_test_cpp.yaml
  scripts/config_hdfs.sh
Labels: github, scripts

#1172 chore(license): check and fix *.txt files license
  .github/workflows/standardization_lint.yaml
  .licenserc.yaml
  src/rdsn/src/aio/CMakeLists.txt
  src/rdsn/src/aio/test/CMakeLists.txt
  src/rdsn/src/block_service/fds/CMakeLists.txt
  src/rdsn/src/block_service/hdfs/CMakeLists.txt
  src/rdsn/src/block_service/local/CMakeLists.txt
  src/rdsn/src/client/CMakeLists.txt
  src/rdsn/src/common/CMakeLists.txt
  src/rdsn/src/common/test/CMakeLists.txt
  src/rdsn/src/failure_detector/CMakeLists.txt
  src/rdsn/src/failure_detector/test/CMakeLists.txt
  src/rdsn/src/http/CMakeLists.txt
  src/rdsn/src/http/test/CMakeLists.txt
  src/rdsn/src/meta/CMakeLists.txt
  src/rdsn/src/meta/test/CMakeLists.txt
  src/rdsn/src/meta/test/balancer_simulator/CMakeLists.txt
  src/rdsn/src/meta/test/meta_state/CMakeLists.txt
  src/rdsn/src/meta/test/meta_state/clear.cmd
  src/rdsn/src/nfs/CMakeLists.txt
  src/rdsn/src/nfs/test/CMakeLists.txt
  src/rdsn/src/perf_counter/CMakeLists.txt
  src/rdsn/src/perf_counter/test/CMakeLists.txt
  src/rdsn/src/remote_cmd/CMakeLists.txt
  src/rdsn/src/replica/CMakeLists.txt
  src/rdsn/src/replica/backup/test/CMakeLists.txt
  src/rdsn/src/replica/bulk_load/test/CMakeLists.txt
  src/rdsn/src/replica/duplication/test/CMakeLists.txt
  src/rdsn/src/replica/split/test/CMakeLists.txt
  src/rdsn/src/replica/storage/CMakeLists.txt
  src/rdsn/src/replica/storage/simple_kv/CMakeLists.txt
  src/rdsn/src/replica/storage/simple_kv/test/CMakeLists.txt
  src/rdsn/src/replica/test/CMakeLists.txt
  src/rdsn/src/runtime/CMakeLists.txt
  src/rdsn/src/runtime/rpc/CMakeLists.txt
  src/rdsn/src/runtime/security/CMakeLists.txt
  src/rdsn/src/runtime/task/CMakeLists.txt
  src/rdsn/src/runtime/test/CMakeLists.txt
  src/rdsn/src/tools/CMakeLists.txt
  src/rdsn/src/utils/CMakeLists.txt
  src/rdsn/src/utils/test/CMakeLists.txt
  src/rdsn/src/zookeeper/CMakeLists.txt
  src/rdsn/src/zookeeper/test/CMakeLists.txt
Labels: github, build

#1175 chore(license): add ignore file/path configs to .rat-excludes
  .rat-excludes
  go-client/idl/base/gpid_test.go
Labels: go-client

#1173 chore(license): check and fix *.txt files license
  .github/workflows/standardization_lint.yaml
  .licenserc.yaml
  docker/README.md
  src/rdsn/src/aio/CMakeLists.txt
  src/rdsn/src/aio/test/CMakeLists.txt
  src/rdsn/src/block_service/fds/CMakeLists.txt
  src/rdsn/src/block_service/hdfs/CMakeLists.txt
  src/rdsn/src/block_service/local/CMakeLists.txt
  src/rdsn/src/client/CMakeLists.txt
  src/rdsn/src/common/CMakeLists.txt
  src/rdsn/src/common/test/CMakeLists.txt
  src/rdsn/src/failure_detector/CMakeLists.txt
  src/rdsn/src/failure_detector/test/CMakeLists.txt
  src/rdsn/src/http/CMakeLists.txt
  src/rdsn/src/http/test/CMakeLists.txt
  src/rdsn/src/meta/CMakeLists.txt
  src/rdsn/src/meta/test/CMakeLists.txt
  src/rdsn/src/meta/test/balancer_simulator/CMakeLists.txt
  src/rdsn/src/meta/test/meta_state/CMakeLists.txt
  src/rdsn/src/meta/test/meta_state/clear.cmd
  src/rdsn/src/nfs/CMakeLists.txt
  src/rdsn/src/nfs/test/CMakeLists.txt
  src/rdsn/src/perf_counter/CMakeLists.txt
  src/rdsn/src/perf_counter/test/CMakeLists.txt
  src/rdsn/src/remote_cmd/CMakeLists.txt
  src/rdsn/src/replica/CMakeLists.txt
  src/rdsn/src/replica/backup/test/CMakeLists.txt
  src/rdsn/src/replica/bulk_load/test/CMakeLists.txt
  src/rdsn/src/replica/duplication/test/CMakeLists.txt
  src/rdsn/src/replica/split/test/CMakeLists.txt
  src/rdsn/src/replica/storage/CMakeLists.txt
  src/rdsn/src/replica/storage/simple_kv/CMakeLists.txt
  src/rdsn/src/replica/storage/simple_kv/test/CMakeLists.txt
  src/rdsn/src/replica/test/CMakeLists.txt
  src/rdsn/src/runtime/CMakeLists.txt
  src/rdsn/src/runtime/rpc/CMakeLists.txt
  src/rdsn/src/runtime/security/CMakeLists.txt
  src/rdsn/src/runtime/task/CMakeLists.txt
  src/rdsn/src/runtime/test/CMakeLists.txt
  src/rdsn/src/tools/CMakeLists.txt
  src/rdsn/src/utils/CMakeLists.txt
  src/rdsn/src/utils/test/CMakeLists.txt
  src/rdsn/src/zookeeper/CMakeLists.txt
  src/rdsn/src/zookeeper/test/CMakeLists.txt
Labels: docs, github, docker, build

#1176 chore(license): add ignore file/path configs to .rat-excludes
  .rat-excludes
  go-client/idl/base/gpid_test.go
Labels: go-client
