Repository apache/incubator-pegasus, pull requests merged in 2022-08, with the labels that each got.

#1086 chore(github): Add workflow of building Pegasus on macOS
  .github/workflows/lint_and_test_cpp.yaml
  cmake_modules/BaseFunctions.cmake
  run.sh
  thirdparty/CMakeLists.txt
Labels: thirdparty, github, scripts, build

#1085 chore(script): Use fqdn instead of ip to generate the meta_server conf
  docker/pegasus-docker-compose/cluster_args.sh
  docker/pegasus-docker-compose/prepare.sh
  run.sh
  scripts/get_local_ip.py
  src/server/config.min.ini
  src/test/kill_test/config.ini
  src/test/upgrade_test/config.ini
Labels: docker, scripts, build

#1096 refactor(java-client): remove duplicate variable
  java-client/pom.xml
  java-client/src/main/java/org/apache/pegasus/client/ClientOptions.java
  java-client/src/main/java/org/apache/pegasus/rpc/interceptor/ReplicaSessionInterceptorManager.java
  java-client/src/main/java/org/apache/pegasus/security/AuthProtocol.java
  java-client/src/main/java/org/apache/pegasus/security/KerberosProtocol.java
Labels: java-client

#1098 feat(backup): 1. remove some previous backup implementation
  src/rdsn/src/common/backup_common.cpp
  src/rdsn/src/meta/meta_backup_service.cpp
  src/rdsn/src/meta/meta_backup_service.h
  src/rdsn/src/meta/meta_http_service.cpp
  src/rdsn/src/meta/meta_service.cpp
  src/rdsn/src/meta/meta_service.h
  src/rdsn/src/meta/test/backup_test.cpp
  src/rdsn/src/meta/test/json_compacity.cpp
  src/rdsn/src/meta/test/meta_backup_test.cpp
  src/rdsn/src/meta/test/meta_http_service_test.cpp
  src/rdsn/src/meta/test/server_state_restore_test.cpp
  src/rdsn/src/replica/CMakeLists.txt
  src/rdsn/src/replica/backup/cold_backup_context.cpp
  src/rdsn/src/replica/backup/cold_backup_context.h
  src/rdsn/src/replica/backup/replica_backup_manager.cpp
  src/rdsn/src/replica/backup/replica_backup_manager.h
  src/rdsn/src/replica/backup/replica_backup_server.cpp
  src/rdsn/src/replica/backup/replica_backup_server.h
  src/rdsn/src/replica/backup/test/replica_backup_manager_test.cpp
  src/rdsn/src/replica/replica.cpp
  src/rdsn/src/replica/replica.h
  src/rdsn/src/replica/replica_backup.cpp
  src/rdsn/src/replica/replica_config.cpp
  src/rdsn/src/replica/replica_init.cpp
  src/rdsn/src/replica/replica_restore.cpp
  src/rdsn/src/replica/replica_stub.cpp
  src/rdsn/src/replica/replica_stub.h
  src/rdsn/src/replica/test/backup_block_service_mock.h
  src/rdsn/src/replica/test/cold_backup_context_test.cpp
  src/rdsn/src/replica/test/main.cpp
  src/rdsn/src/replica/test/mock_utils.h
  src/rdsn/src/replica/test/replica_test.cpp
  src/rdsn/src/replica/test/replication_service_test_app.h
  src/test/function_test/test_backup_and_restore.cpp
  src/test/function_test/test_restore.cpp
Labels: cpp, build, component/backup_restore

#1094 feat: Support Build on M1 MacOS
  .licenserc.yaml
  thirdparty/CMakeLists.txt
  thirdparty/fix_jemalloc_for_m1_on_macos.patch
Labels: thirdparty, build

#1110 feat(backup): 3. remove all functions in backup_common
  src/rdsn/src/common/backup_common.cpp
  src/rdsn/src/common/backup_common.h
  src/rdsn/src/common/backup_restore_common.cpp
  src/rdsn/src/common/backup_restore_common.h
  src/rdsn/src/meta/meta_backup_engine.cpp
  src/rdsn/src/meta/meta_backup_engine.h
  src/rdsn/src/meta/meta_backup_service.cpp
  src/rdsn/src/meta/server_state_restore.cpp
  src/rdsn/src/meta/test/meta_backup_test.cpp
  src/rdsn/src/meta/test/server_state_restore_test.cpp
  src/rdsn/src/replica/replica.cpp
  src/rdsn/src/replica/replica_restore.cpp
  src/rdsn/src/replica/replica_stub.cpp
  src/rdsn/src/replica/test/replica_test.cpp
Labels: cpp, component/backup_restore

#1109 feat: add some functions for block service manager
  src/rdsn/src/block_service/block_service_manager.cpp
  src/rdsn/src/block_service/block_service_manager.h
  src/rdsn/src/block_service/test/block_service_manager_test.cpp
  src/rdsn/src/block_service/test/block_service_mock.h
Labels: cpp, component/backup_restore

#1088 fix: revert zk c client to 3.4.10 for compatibility
  scripts/clear_zk.sh
  scripts/start_zk.sh
  scripts/stop_zk.sh
  src/rdsn/src/failure_detector/test/CMakeLists.txt
  src/rdsn/src/meta/CMakeLists.txt
  src/rdsn/src/meta/test/CMakeLists.txt
  src/rdsn/src/meta/test/balancer_simulator/CMakeLists.txt
  src/rdsn/src/meta/test/meta_state/CMakeLists.txt
  src/rdsn/src/replica/backup/test/CMakeLists.txt
  src/rdsn/src/replica/bulk_load/test/CMakeLists.txt
  src/rdsn/src/replica/duplication/test/CMakeLists.txt
  src/rdsn/src/replica/split/test/CMakeLists.txt
  src/rdsn/src/replica/storage/simple_kv/CMakeLists.txt
  src/rdsn/src/replica/storage/simple_kv/test/CMakeLists.txt
  src/rdsn/src/replica/test/CMakeLists.txt
  src/rdsn/src/runtime/security/init.cpp
  src/rdsn/src/runtime/security/init.h
  src/rdsn/src/runtime/security/kinit_context.cpp
  src/rdsn/src/runtime/security/negotiation.cpp
  src/rdsn/src/runtime/service_api_c.cpp
  src/rdsn/src/zookeeper/CMakeLists.txt
  src/rdsn/src/zookeeper/test/CMakeLists.txt
  src/rdsn/src/zookeeper/zookeeper_session.cpp
  src/server/CMakeLists.txt
  src/server/test/CMakeLists.txt
  thirdparty/CMakeLists.txt
Labels: thirdparty, scripts, cpp, build

#1114 fix(actions): fix docker images conflict on different branches
  .github/workflows/lint_and_test_cpp.yaml
  .github/workflows/pegasus-regular-build.yml
  .github/workflows/thirdparty-regular-push.yml
  docker/README.md
  docker/thirdparties-bin/Dockerfile
Labels: docs, github, docker

#1087 refactor(java-client): optimize code style
  java-client/pom.xml
  java-client/src/main/java/org/apache/pegasus/client/ClientOptions.java
  java-client/src/main/java/org/apache/pegasus/client/HashKeyData.java
  java-client/src/main/java/org/apache/pegasus/client/PegasusAbstractClient.java
  java-client/src/main/java/org/apache/pegasus/client/PegasusClient.java
  java-client/src/main/java/org/apache/pegasus/client/PegasusClientFactory.java
  java-client/src/main/java/org/apache/pegasus/client/PegasusScanner.java
  java-client/src/main/java/org/apache/pegasus/client/PegasusTable.java
  java-client/src/main/java/org/apache/pegasus/client/PegasusTableInterface.java
  java-client/src/main/java/org/apache/pegasus/client/SetItem.java
  java-client/src/main/java/org/apache/pegasus/example/BatchSample.java
  java-client/src/main/java/org/apache/pegasus/example/FullScanSample.java
  java-client/src/main/java/org/apache/pegasus/metrics/MetricsReporter.java
  java-client/src/main/java/org/apache/pegasus/operator/drop_app_operator.java
  java-client/src/main/java/org/apache/pegasus/operator/rrdb_multi_remove_operator.java
  java-client/src/main/java/org/apache/pegasus/rpc/async/ClientRequestRound.java
  java-client/src/main/java/org/apache/pegasus/rpc/async/ClusterManager.java
  java-client/src/main/java/org/apache/pegasus/rpc/async/MetaSession.java
  java-client/src/main/java/org/apache/pegasus/rpc/async/ReplicaSession.java
  java-client/src/main/java/org/apache/pegasus/rpc/async/TableHandler.java
  java-client/src/main/java/org/apache/pegasus/rpc/interceptor/BackupRequestInterceptor.java
  java-client/src/main/java/org/apache/pegasus/tools/FlowController.java
  java-client/src/main/java/org/apache/pegasus/tools/Tools.java
  java-client/src/main/java/org/apache/pegasus/tools/WriteLimiter.java
  java-client/src/test/java/org/apache/pegasus/client/TestBasic.java
  java-client/src/test/java/org/apache/pegasus/client/TestBatch.java
  java-client/src/test/java/org/apache/pegasus/client/TestCheckAndMutate.java
  java-client/src/test/java/org/apache/pegasus/client/TestCheckAndSet.java
Labels: java-client

#1123 fix(github): fix the conditions for file changes that trigger workflows
  .github/workflows/lint_and_test_cpp.yaml
Labels: github

#1124 fix: update pegasus regular ci docker version base branch
  .github/workflows/pegasus-regular-build.yml
Labels: github

#1112 feat(backup): 4. meta server send backup_request to replica
  src/rdsn/src/common/backup.thrift
  src/rdsn/src/common/backup_restore_common.cpp
  src/rdsn/src/common/backup_restore_common.h
  src/rdsn/src/common/replication_common.cpp
  src/rdsn/src/common/replication_common.h
  src/rdsn/src/meta/meta_backup_engine.cpp
  src/rdsn/src/meta/meta_backup_engine.h
  src/rdsn/src/meta/meta_service.cpp
  src/rdsn/src/meta/meta_service.h
  src/rdsn/src/meta/server_state_restore.cpp
  src/rdsn/src/meta/test/meta_backup_engine_test.cpp
  src/rdsn/src/meta/test/meta_backup_test.cpp
  src/rdsn/src/replica/replica_restore.cpp
Labels: cpp, thrift, component/backup_restore

#1127 fix: update pegasus clone branch when regular ci docker
  .github/workflows/pegasus-regular-build.yml
Labels: github

#1104 refactor(java-client): add more detail message for error log
  java-client/src/main/java/org/apache/pegasus/client/ClientOptions.java
  java-client/src/main/java/org/apache/pegasus/client/PegasusTable.java
  java-client/src/test/java/org/apache/pegasus/client/TestBasic.java
Labels: java-client

#1136 fix(actions): build unit tests with portable rocksdb
  .github/workflows/lint_and_test_cpp.yaml
  .github/workflows/thirdparty-regular-push.yml
  docker/thirdparties-bin/Dockerfile
Labels: github, docker

#1108 fix: rocksdb options not changed even if update in Pegasus config file
  src/server/pegasus_server_impl.cpp
  src/server/pegasus_server_impl.h
Labels: type/bug-fix, cpp

#1138 fix(actinos): use portable thirdparties-bin-test-* as the base image to build and run unit tests for CI on github
  .github/workflows/lint_and_test_cpp.yaml
Labels: github

#1128 feat(backup): 5. replica create backup checkpoint
  src/rdsn/src/replica/backup/replica_backup_manager.cpp
  src/rdsn/src/replica/backup/replica_backup_manager.h
  src/rdsn/src/replica/backup/test/replica_backup_manager_test.cpp
  src/rdsn/src/replica/replica_stub.cpp
  src/rdsn/src/replica/replica_stub.h
Labels: cpp, component/backup_restore

#1091 feat: improve performance of count_data
  idl/rrdb.thrift
  src/client_lib/pegasus_client_impl.h
  src/client_lib/pegasus_scanner_impl.cpp
  src/geo/lib/geo_client.cpp
  src/include/pegasus/client.h
  src/server/pegasus_scan_context.h
  src/server/pegasus_server_impl.cpp
  src/server/pegasus_server_impl.h
  src/shell/command_helper.h
  src/shell/commands/data_operations.cpp
  src/test/function_test/test_scan.cpp
Labels: cpp, thrift

#1143 feat(jemalloc): support building third-parties images for both production and test with jemalloc
  .github/workflows/thirdparty-regular-push.yml
  docker/thirdparties-bin/Dockerfile
Labels: github, docker

#1129 feat(backup): 6. meta handle backup_response during checkpointing
  src/rdsn/src/meta/meta_backup_engine.cpp
  src/rdsn/src/meta/meta_backup_engine.h
  src/rdsn/src/meta/test/meta_backup_engine_test.cpp
Labels: cpp, component/backup_restore
