Repository apache/incubator-pegasus, pull requests merged in 2022-11, with the labels that each got.

#1219 feat(new_metrics): take snapshot of each metric as json format
  src/utils/metrics.h
  src/utils/test/metrics_test.cpp
Labels: cpp

#1222 fix: update commons-configuration2 version to 2.8.0
  java-client/pom.xml
Labels: java-client

#1221 fix: fix rollback by mistake for mutation_log::reset_from
  src/rdsn/src/replica/mutation_log.cpp
Labels: cpp

#1225 feat: overload stream insertion operator(<<) to support formatting by {fmt}
  .gitignore
  src/common/gpid.h
  src/runtime/rpc/asio_net_provider.cpp
  src/runtime/rpc/network.sim.cpp
  src/runtime/task/task_code.h
  src/utils/customizable_id.h
  src/utils/error_code.h
  src/utils/threadpool_code.h
Labels: cpp

#1228 refactor(macro): use DCHECK* to replace dbg_dassert and self defined ASSERT_*
  src/meta/test/balancer_simulator/balancer_simulator.cpp
  src/meta/test/balancer_validator.cpp
  src/meta/test/misc/misc.cpp
  src/runtime/rpc/network.cpp
  src/runtime/rpc/rpc_engine.cpp
  src/runtime/rpc/rpc_message.cpp
  src/runtime/rpc/rpc_stream.h
  src/runtime/rpc/rpc_task.cpp
  src/runtime/task/task_queue.cpp
  src/utils/fmt_logging.h
Labels: cpp

#1230 refactor(macro): use the more general CHECK_PREFIX* to replace dassert_replica
  src/meta/duplication/duplication_info.cpp
  src/meta/duplication/duplication_info.h
  src/replica/duplication/load_from_private_log.cpp
  src/replica/duplication/mutation_batch.cpp
  src/replica/prepare_list.cpp
  src/replica/replica.cpp
  src/replica/replica_config.cpp
  src/replica/replica_disk_migrator.cpp
  src/replica/replica_learn.cpp
  src/replica/replica_restore.cpp
  src/replica/replication_app_base.cpp
  src/replica/split/replica_split_manager.cpp
  src/server/meta_store.cpp
  src/server/pegasus_mutation_duplicator.cpp
  src/server/pegasus_server_impl.cpp
  src/utils/fmt_logging.h
Labels: cpp

#1229 feat: improve checking if C string is empty
  src/common/common.cpp
  src/redis_protocol/proxy_lib/redis_parser.cpp
  src/runtime/rpc/network.cpp
  src/runtime/security/kinit_context.cpp
  src/runtime/security/meta_access_controller.cpp
  src/utils/strings.h
  src/utils/test/utils.cpp
Labels: cpp

#1048 feat(thirdparty): use official rocksdb
  .licenserc.yaml
  src/server/pegasus_server_impl.cpp
  thirdparty/CMakeLists.txt
  thirdparty/rocksdb_fix_atomic_flush_0879c240.patch
Labels: type/incompatible, thirdparty, cpp, build

#1238 refactor: use linux_fd_t instead of dsn_handle_t for file descriptor
  src/aio/aio_provider.h
  src/aio/aio_task.h
  src/aio/disk_engine.cpp
  src/aio/disk_engine.h
  src/aio/file_io.cpp
  src/aio/native_linux_aio_provider.cpp
  src/aio/native_linux_aio_provider.h
  src/nfs/nfs_server_impl.cpp
  src/nfs/nfs_server_impl.h
Labels: cpp

#1244 fix: valid zookeeper directory for clear
  scripts/clear_zk.sh
Labels: scripts

#1241 refactor: use command_deregister to auto deregister from command_manager
  .licenserc.yaml
  src/common/api_common.h
  src/failure_detector/failure_detector.cpp
  src/failure_detector/failure_detector.h
  src/meta/app_balance_policy.cpp
  src/meta/app_balance_policy.h
  src/meta/cluster_balance_policy.h
  src/meta/greedy_load_balancer.cpp
  src/meta/greedy_load_balancer.h
  src/meta/load_balance_policy.cpp
  src/meta/load_balance_policy.h
  src/meta/meta_service.cpp
  src/meta/meta_service.h
  src/meta/partition_guardian.cpp
  src/meta/partition_guardian.h
  src/meta/server_state.cpp
  src/meta/server_state.h
  src/nfs/nfs_client_impl.cpp
  src/nfs/nfs_client_impl.h
  src/nfs/nfs_server_impl.h
  src/perf_counter/perf_counters.cpp
  src/perf_counter/perf_counters.h
  src/replica/replica_stub.cpp
  src/replica/replica_stub.h
  src/runtime/service_engine.cpp
  src/runtime/service_engine.h
  src/runtime/task/task_engine.h
  src/utils/command_manager.cpp
  src/utils/command_manager.h
  src/utils/test/command_manager.cpp
  src/utils/test/command_manager_test.cpp
  src/utils/test/main.cpp
Labels: cpp

#1240 refactor: use state machine to improve split_args for strings
  src/utils/strings.cpp
  src/utils/strings.h
  src/utils/test/utils.cpp
Labels: cpp

#1246 fix: fix log header not corresponding to level
  src/utils/simple_logger.cpp
Labels: cpp

#1237 feat(new_metrics): support filters for selected metric fields in response
  src/utils/enum_helper.h
  src/utils/metrics.cpp
  src/utils/metrics.h
  src/utils/test/metrics_test.cpp
Labels: cpp

#1250 refactor(log): adjust default log level from DEBUG to INFO
  src/geo/bench/config.ini
  src/redis_protocol/proxy/config.ini
  src/server/config.ini
  src/server/config.min.ini
  src/shell/config.ini
  src/test/bench_test/config.ini
  src/test/function_test/config.ini
  src/test/kill_test/config.ini
  src/test/pressure_test/config-pressure.ini
  src/utils/logging.cpp
Labels: cpp

#1248 refactor: enable warning on unused result
  cmake_modules/BaseFunctions.cmake
  src/block_service/directio_writable_file.cpp
  src/block_service/directio_writable_file.h
  src/block_service/test/fds_service_test.cpp
  src/perf_counter/perf_counters.cpp
  src/runtime/service_api_c.cpp
  src/runtime/task/task_code.cpp
  src/runtime/task/task_spec.cpp
  src/runtime/tracer.cpp
  src/runtime/tracer.h
  src/server/brief_stat.cpp
  src/server/brief_stat.h
  src/server/main.cpp
  src/test/function_test/restore_test/test_restore.cpp
  src/test/function_test/utils/test_util.cpp
  src/test/kill_test/process_kill_testor.cpp
  src/utils/command_manager.cpp
  src/utils/command_manager.h
  src/utils/customizable_id.h
  src/utils/logging.cpp
  src/utils/logging_provider.h
  src/utils/ports.h
  src/utils/simple_logger.cpp
  src/utils/simple_logger.h
  src/utils/test/logger.cpp
Labels: cpp, build

#1256 build(pom): Use --release when building java client with java11+
  java-client/pom.xml
Labels: java-client

#1260 build(pom): Inherit apache pom
  java-client/pom.xml
Labels: java-client

#1266 refactor: Remove assembly and output debug output to console when running UTs for java client
  java-client/configuration/log4j.properties
  java-client/pom.xml
  java-client/src/assembly/dep.xml
  java-client/src/test/resources/log4j.properties
  java-client/src/test/resources/pegasus.properties
Labels: java-client

#1264 refactor: remove zkclient dependency
  java-client/pom.xml
  java-client/src/main/java/org/apache/pegasus/client/PConfigUtil.java
  java-client/src/test/java/org/apache/pegasus/client/TestPingZK.java
  java-client/src/test/resources/simplelogger.properties
Labels: java-client

#1271 refactor: Use spotless plugin to format pom file
  java-client/pom.xml
Labels: java-client

#1270 chore(action): support checking issue number prefixed with '#' in github actions for PRs
  .github/workflows/standardization_lint.yaml
Labels: github

#1273 refactor: Remove usage of commons-configuration
  java-client/pom.xml
  java-client/src/main/java/org/apache/pegasus/client/ClientOptions.java
  java-client/src/main/java/org/apache/pegasus/security/Credential.java
  java-client/src/main/java/org/apache/pegasus/security/KerberosCredential.java
  java-client/src/main/java/org/apache/pegasus/util/PropertyUtils.java
Labels: java-client

#1274 build: Bump netty's version and shade it
  java-client/pom.xml
Labels: java-client
