Repository apache/incubator-pegasus, pull requests merged in 2023-04, with the labels that each got.

#1402 feat(Ranger): Use Apache Ranger for meta access controller
  src/meta/meta_backup_service.cpp
  src/meta/meta_service.cpp
  src/meta/meta_service.h
  src/meta/server_state.cpp
  src/meta/server_state.h
  src/meta/server_state_restore.cpp
  src/meta/test/meta_service_test.cpp
  src/meta/test/meta_service_test_app.h
  src/replica/CMakeLists.txt
  src/replica/backup/test/CMakeLists.txt
  src/runtime/ranger/ranger_resource_policy_manager.cpp
  src/runtime/ranger/ranger_resource_policy_manager.h
  src/runtime/security/access_controller.cpp
  src/runtime/security/access_controller.h
  src/runtime/security/meta_access_controller.cpp
  src/runtime/security/meta_access_controller.h
  src/runtime/test/meta_access_controller_test.cpp
  src/runtime/test/ranger_resource_policy_manager_test.cpp
  src/shell/CMakeLists.txt
Labels: cpp, build

#1429 feat: add new macro definitions & make the dockerfile compliant
  docker/pegasus-build-env/centos6/Dockerfile
  src/geo/lib/geo_client.cpp
  src/redis_protocol/proxy_lib/redis_parser.cpp
  src/utils/errors.h
  src/utils/fmt_logging.h
Labels: docker, cpp

#1428 fix: log error but not crash if found an imcomplete replica path
  src/replica/replication_app_base.cpp
  src/replica/replication_app_base.h
Labels: cpp

#1416 fix(java-client): Fix java spotbug
  java-client/dev-support/findbugs-exclude.xml
  java-client/pom.xml
Labels: java-client

#1434 fix(IWYU): fix include errors for rpc_host_port reported by IWYU
  src/runtime/rpc/rpc_host_port.h
Labels: cpp

#1437 feat(new_metrics): migrate server-level metrics for meta_service
  src/meta/meta_service.cpp
  src/meta/meta_service.h
  src/utils/metrics.h
Labels: cpp

#1438 feat(new_metrics): add backup-policy-level metric entity and migrate backup-policy-level metrics for meta_backup_service
  src/meta/meta_backup_service.cpp
  src/meta/meta_backup_service.h
  src/meta/test/backup_test.cpp
  src/utils/metrics.h
Labels: cpp

#1440 feat(new_metrics): migrate partition-level metrics for partition_guardian
  src/meta/partition_guardian.cpp
  src/meta/partition_guardian.h
  src/meta/table_metrics.cpp
  src/meta/table_metrics.h
Labels: cpp

#1433 feat(Ranger): Use Apache Ranger for replica access controller
  src/replica/replica.cpp
  src/replica/replica.h
  src/replica/replica_2pc.cpp
  src/replica/replica_config.cpp
  src/replica/replica_stub.cpp
  src/replica/replica_stub.h
  src/runtime/security/access_controller.cpp
  src/runtime/security/access_controller.h
  src/runtime/security/meta_access_controller.cpp
  src/runtime/security/meta_access_controller.h
  src/runtime/security/replica_access_controller.cpp
  src/runtime/security/replica_access_controller.h
  src/runtime/test/replica_access_controller_test.cpp
Labels: cpp

#1442 fix(ut): fix a flaky test integration_test.write_corrupt_db
  src/test/function_test/base_api_test/integration_test.cpp
  src/test/function_test/utils/test_util.cpp
  src/test/function_test/utils/test_util.h
Labels: cpp

#1448 doc(go-client): add deprecated marker to TableConnector.Close()
  go-client/pegasus/table_connector.go
Labels: go-client

#1444 fix(go-client): loopForRequest not return and retry forever
  go-client/pegasus/table_connector.go
  go-client/pegasus/table_connector_test.go
  go-client/session/session.go
Labels: go-client

#1445 feat(Ranger): Use Apache Ranger for ACL when replica master-slave learn
  src/replica/replica_stub.cpp
Labels: cpp

#1456 refactor: remove useless function 'last_flushed_decree()'
  src/replica/replica.cpp
  src/replica/replica.h
  src/replica/replication_app_base.h
  src/server/pegasus_server_impl.cpp
  src/server/pegasus_server_impl.h
Labels: cpp

#1458 feat(util): add cancel() for class defer
  src/utils/defer.h
Labels: cpp

#1457 refactor(log): make macros LOG_AND_RETURN_NOT_* more general
  src/replica/replication_app_base.cpp
  src/runtime/ranger/ranger_resource_policy_manager.cpp
  src/utils/fmt_logging.h
Labels: cpp

#1451 fix: fix a crash bug when open an incomplete created RocksDB instance
  src/server/meta_store.cpp
  src/server/meta_store.h
  src/server/pegasus_server_impl.cpp
  src/test/function_test/base_api_test/integration_test.cpp
  src/test/function_test/utils/global_env.cpp
  src/test/function_test/utils/test_util.cpp
  src/test/function_test/utils/utils.h
  src/test_util/test_util.cpp
  src/test_util/test_util.h
  src/utils/fmt_logging.h
Labels: cpp

#1452 feat(Ranger): Use Apache Ranger for ACL when replica performs nfs copy
  src/nfs/nfs.thrift
  src/nfs/nfs_client_impl.cpp
  src/nfs/nfs_node.cpp
  src/nfs/nfs_node.h
  src/nfs/nfs_node_impl.cpp
  src/nfs/nfs_node_simple.h
  src/nfs/nfs_server_impl.h
  src/nfs/test/main.cpp
  src/replica/replica.cpp
  src/replica/replica.h
  src/replica/replica_learn.cpp
  src/replica/replica_stub.cpp
  src/replica/replica_stub.h
Labels: cpp, thrift

#1447 fix: Fault-tolerant storage engine errors for read operations
  src/common/storage_serverlet.h
  src/replica/replica.cpp
  src/replica/replication_app_base.h
  src/replica/storage/simple_kv/simple_kv.server.h
  src/replica/test/mock_utils.h
  src/server/pegasus_read_service.h
  src/server/pegasus_server_impl.cpp
  src/test/function_test/base_api_test/integration_test.cpp
Labels: cpp

#1453 fix(ddl_client): sleep for a while before retry once meta server is busy
  .github/workflows/lint_and_test_cpp.yaml
  run.sh
  src/client/CMakeLists.txt
  src/client/replication_ddl_client.cpp
  src/client/replication_ddl_client.h
  src/client/test/CMakeLists.txt
  src/client/test/config.ini
  src/client/test/ddl_client_test.cpp
  src/client/test/main.cpp
  src/client/test/run.sh
  src/runtime/task/task_code.h
  src/utils/fail_point.h
Labels: github, scripts, cpp, build

#1459 feat(new_metrics): migrate metrics for replica_stub (part 2)
  src/replica/replica.cpp
  src/replica/replica.h
  src/replica/replica_learn.cpp
  src/replica/replica_stub.cpp
  src/replica/replica_stub.h
  src/utils/metrics.h
Labels: cpp

#1436 feat(FQDN): Implement of struct host_port_group
  src/runtime/rpc/group_host_port.h
  src/runtime/rpc/rpc_host_port.cpp
  src/runtime/rpc/rpc_host_port.h
  src/runtime/test/host_port_test.cpp
Labels: cpp
