Repository apache/incubator-pegasus, pull requests merged in 2023-03, with the labels that each got.

#1375 feat(security): Use Apache Ranger for access control(2/n)
  src/meta/meta_service.h
  src/runtime/ranger/ranger_resource_policy_manager.cpp
  src/runtime/ranger/ranger_resource_policy_manager.h
Labels: cpp

#1371 refactor(conf): use DSN_DEFINE_string to load string type of configs
  src/common/replication_common.cpp
  src/common/replication_common.h
  src/meta/meta_http_service.cpp
  src/meta/meta_options.cpp
  src/meta/meta_options.h
  src/meta/meta_server_failure_detector.cpp
  src/meta/meta_service.cpp
  src/meta/test/backup_test.cpp
  src/meta/test/meta_test_base.cpp
  src/meta/test/server_state_test.cpp
  src/meta/test/state_sync_test.cpp
  src/replica/backup/replica_backup_server.cpp
  src/replica/replica_backup.cpp
  src/replica/storage/simple_kv/test/checker.cpp
  src/replica/test/replica_test.cpp
  src/runtime/rpc/network.cpp
  src/runtime/test/main.cpp
  src/runtime/test/service_api_c.cpp
  src/server/available_detector.cpp
  src/server/available_detector.h
  src/server/info_collector.cpp
  src/server/info_collector.h
  src/server/pegasus_server_impl_init.cpp
  src/test/bench_test/benchmark.cpp
  src/test/bench_test/config.cpp
  src/test/bench_test/config.h
  src/test/function_test/recovery_test/test_recovery.cpp
  src/test/kill_test/data_verifier.cpp
  src/test/kill_test/data_verifier.h
  src/test/kill_test/kill_testor.cpp
  src/test/kill_test/kill_testor.h
  src/test/kill_test/killer_handler_shell.cpp
  src/test/kill_test/killer_handler_shell.h
  src/test/kill_test/main.cpp
  src/test/kill_test/process_kill_testor.cpp
  src/test/pressure_test/main.cpp
  src/zookeeper/zookeeper_session.cpp
  src/zookeeper/zookeeper_session_mgr.cpp
  src/zookeeper/zookeeper_session_mgr.h
Labels: cpp

#1376 chore(cmake): fix project load failure by CLion
  src/common/CMakeLists.txt
  src/remote_cmd/CMakeLists.txt
  src/runtime/security/CMakeLists.txt
Labels: build

#1373 feat(test): add bench type multi set/get
  run.sh
  src/test/bench_test/benchmark.cpp
  src/test/bench_test/benchmark.h
  src/test/bench_test/config.cpp
  src/test/bench_test/config.ini
  src/test/bench_test/statistics.cpp
  src/test/bench_test/utils.h
Labels: scripts, cpp, build

#1356 fix: fix centos image build
  .github/workflows/standardization_lint.yaml
  docker/pegasus-build-env/centos6/Dockerfile
  docker/pegasus-build-env/centos7/Dockerfile
Labels: github, docker

#1374 feat(new_metrics): migrate replica-level metrics for pegasus_server_impl (part 1)
  src/server/pegasus_server_impl.cpp
  src/server/pegasus_server_impl.h
  src/server/pegasus_server_impl_init.cpp
  src/server/pegasus_write_service_impl.h
  src/server/rocksdb_wrapper.cpp
  src/server/rocksdb_wrapper.h
  src/server/test/pegasus_server_impl_test.cpp
  src/utils/metrics.h
  src/utils/test/metrics_test.cpp
  src/utils/time_utils.h
Labels: cpp

#1381 chore(CI): Use Ubuntu 22.04 as the default test platform
  .github/workflows/build-push-env-docker.yml
  .github/workflows/labeler.yml
  .github/workflows/lint_and_test_admin-cli.yml
  .github/workflows/lint_and_test_cpp.yaml
  .github/workflows/lint_and_test_go-client.yml
  .github/workflows/lint_and_test_pegic.yml
  .github/workflows/regular-build.yml
  .github/workflows/standardization_lint.yaml
  .github/workflows/test_java-client.yml
  .github/workflows/test_scala-client.yml
  .github/workflows/thirdparty-regular-push.yml
  src/http/http_server.cpp
  src/replica/duplication/replica_follower.cpp
  src/runtime/ranger/ranger_resource_policy_manager.cpp
  src/runtime/ranger/ranger_resource_policy_manager.h
  src/utils/string_conv.h
Labels: github, cpp

#1384 refactor: Move some functions from 'replica' to 'replica_stub'
  src/replica/disk_cleaner.cpp
  src/replica/disk_cleaner.h
  src/replica/replica.h
  src/replica/replica_config.cpp
  src/replica/replica_init.cpp
  src/replica/replica_stub.cpp
  src/replica/replica_stub.h
  src/replica/replication_app_base.cpp
  src/replica/test/replica_test.cpp
Labels: cpp

#1379 feat(Ranger): Compatible with the old ACL and the new ACL
  src/replica/replica_config.cpp
  src/runtime/security/access_controller.cpp
  src/runtime/security/access_controller.h
  src/runtime/security/replica_access_controller.cpp
  src/runtime/security/replica_access_controller.h
Labels: cpp

#1378 feat(Ranger): Support encode and decode Ranger policies
  src/common/json_helper.h
  src/runtime/ranger/access_type.cpp
  src/runtime/ranger/access_type.h
  src/runtime/ranger/ranger_resource_policy.cpp
  src/runtime/ranger/ranger_resource_policy.h
  src/runtime/ranger/ranger_resource_policy_manager.cpp
  src/runtime/ranger/ranger_resource_policy_manager.h
  src/runtime/test/CMakeLists.txt
  src/runtime/test/ranger_resource_policy_manager_test.cpp
  src/runtime/test/ranger_resource_policy_test.cpp
Labels: cpp, build

#1369 chore(script): Script downgrade_node.sh supports using specified config file when using shell client
  run.sh
  scripts/downgrade_node.sh
Labels: scripts, build

#1370 chore(script): Script migrate_node.sh supports using specified config file when using shell config
  run.sh
  scripts/migrate_node.sh
Labels: scripts, build

#1395 chore(CI): include cmath to fix ambiguous std::abs on ubuntu1604
  src/utils/output_utils.h
Labels: cpp

#1393 fix: jaas conf; make thread daemon
  java-client/src/main/java/org/apache/pegasus/security/KerberosProtocol.java
Labels: java-client

#1401 chore(build): make build dir standalone and speedup re-build
  .github/workflows/lint_and_test_cpp.yaml
  .gitignore
  run.sh
  scripts/pack_client.sh
  scripts/pack_common.sh
  scripts/pack_server.sh
  scripts/pack_tools.sh
Labels: github, scripts, build

#1388 feat(Ranger): Pull policies from the Ranger Service and update using resources policies
  src/common/replica_envs.h
  src/common/replication.codes.h
  src/common/replication_common.cpp
  src/meta/app_env_validator.cpp
  src/runtime/ranger/ranger_resource_policy_manager.cpp
  src/runtime/ranger/ranger_resource_policy_manager.h
  src/runtime/test/ranger_resource_policy_manager_test.cpp
  src/utils/error_code.h
Labels: cpp

#1406 refactor: Refactor the method 'check_leader' make it return a enum class type
  src/meta/meta_service.cpp
  src/meta/meta_service.h
Labels: cpp

#1411 fix(java-client): add missing elements that will lead to misalignment and IndexOutOfBoundsException for resultMapList in batchGetByPartitions
  java-client/src/main/java/org/apache/pegasus/client/PegasusTable.java
Labels: java-client

#1407 feat(new_metrics): migrate replica-level metrics for pegasus_event_listener
  src/server/pegasus_event_listener.cpp
  src/server/pegasus_event_listener.h
  src/utils/metrics.h
Labels: cpp

#1413 feat(new_metrics): migrate replica-level metrics for pegasus_mutation_duplicator
  src/server/pegasus_mutation_duplicator.cpp
  src/server/pegasus_mutation_duplicator.h
Labels: cpp

#1415 feat(new_metrics): add server-level metric entity
  src/utils/metrics.cpp
  src/utils/metrics.h
Labels: cpp

#1417 refactor: return Status::code instead of meanless integer
  src/common/storage_serverlet.h
  src/replica/replica.cpp
  src/replica/replication_app_base.cpp
  src/replica/replication_app_base.h
  src/server/pegasus_read_service.h
  src/server/pegasus_server_write.cpp
  src/server/pegasus_server_write.h
  src/server/pegasus_write_service.cpp
  src/server/pegasus_write_service.h
  src/server/pegasus_write_service_impl.h
  src/server/rocksdb_wrapper.cpp
  src/server/rocksdb_wrapper.h
Labels: cpp

#1420 chore(CI): fix regularly build failure
  .github/workflows/regular-build.yml
  run.sh
Labels: github, scripts, build

#1421 feat(new_metrics): migrate server-level metrics for nfs
  src/nfs/nfs_client_impl.cpp
  src/nfs/nfs_client_impl.h
  src/nfs/nfs_server_impl.cpp
  src/nfs/nfs_server_impl.h
  src/nfs/test/CMakeLists.txt
  src/server/pegasus_server_write.cpp
Labels: cpp, build

#1423 refactor: minor refactor on replica module
  src/common/fs_manager.cpp
  src/common/fs_manager.h
  src/replica/duplication/mutation_batch.h
  src/replica/prepare_list.h
  src/replica/replica_learn.cpp
  src/replica/replica_stub.cpp
  src/replica/replica_stub.h
  src/replica/replication_app_base.h
  src/replica/split/replica_split_manager.cpp
  src/replica/test/mock_utils.h
  src/replica/test/replica_test.cpp
Labels: cpp
