Repository apache/incubator-pegasus, pull requests merged in 2023-02, with the labels that each got.

#1338 feat(utils): add an utility function to find string prefix by separator
  src/utils/strings.cpp
  src/utils/strings.h
  src/utils/test/utils.cpp
Labels: cpp

#1304 feat(new_metrics): retire stale metric entities that are not used by any other object
  src/utils/metrics.cpp
  src/utils/metrics.h
  src/utils/test/metrics_test.cpp
Labels: cpp

#1340 fix: fix rocksdb build type
  thirdparty/CMakeLists.txt
Labels: thirdparty, build

#1345 feat(new_metrics): add replica-level metric entity
  src/replica/replica_base.cpp
  src/replica/replica_base.h
Labels: cpp

#1346 refactor(conf): use DSN_DEFINE_int32 to load int32 type of configs (part 2)
  src/client/replication_ddl_client.h
  src/failure_detector/test/failure_detector.cpp
  src/geo/lib/geo_client.cpp
  src/geo/lib/geo_client.h
  src/geo/test/geo_test.cpp
  src/meta/meta_data.cpp
  src/meta/meta_options.cpp
  src/meta/meta_options.h
  src/meta/meta_server_failure_detector.cpp
  src/meta/meta_state_service_zookeeper.cpp
  src/meta/partition_guardian.cpp
  src/meta/server_state.cpp
  src/meta/test/meta_app_operation_test.cpp
  src/perf_counter/perf_counter_atomic.cpp
  src/perf_counter/perf_counter_atomic.h
  src/perf_counter/test/perf_counter_test.cpp
  src/runtime/env.sim.cpp
  src/runtime/env.sim.h
  src/runtime/rpc/asio_net_provider.cpp
  src/runtime/rpc/network.cpp
  src/runtime/rpc/network.h
  src/runtime/simulator.cpp
  src/server/available_detector.cpp
  src/server/available_detector.h
  src/server/pegasus_manual_compact_service.cpp
  src/server/pegasus_manual_compact_service.h
  src/server/test/manual_compact_service_test.cpp
  src/test/kill_test/process_kill_testor.cpp
  src/test/kill_test/process_kill_testor.h
  src/test/pressure_test/main.cpp
  src/zookeeper/distributed_lock_service_zookeeper.cpp
  src/zookeeper/zookeeper_session.cpp
  src/zookeeper/zookeeper_session_mgr.cpp
  src/zookeeper/zookeeper_session_mgr.h
Labels: cpp

#1350 build: Support Ubuntu 22.04 and clang 14
  .github/workflows/build-push-env-docker.yml
  .github/workflows/regular-build.yml
  .github/workflows/thirdparty-regular-push.yml
  .licenserc.yaml
  cmake_modules/BaseFunctions.cmake
  docker/README.md
  docker/pegasus-build-env/ubuntu2204/Dockerfile
  thirdparty/CMakeLists.txt
  thirdparty/fix_prometheus-cpp_limits.patch
Labels: docs, thirdparty, github, docker, build

#1352 refactor(conf): use DSN_DEFINE_uint32 to load uint32 type of configs
  src/geo/lib/geo_client.cpp
  src/meta/test/main.cpp
  src/runtime/rpc/asio_net_provider.cpp
  src/runtime/rpc/network.cpp
  src/runtime/rpc/network.h
  src/runtime/rpc/network.sim.cpp
  src/runtime/rpc/network.sim.h
  src/runtime/rpc/rpc_engine.cpp
  src/runtime/rpc/rpc_message.cpp
  src/runtime/rpc/rpc_message.h
  src/runtime/service_engine.cpp
  src/runtime/test/netprovider.cpp
  src/server/available_detector.cpp
  src/server/available_detector.h
  src/server/info_collector.cpp
  src/server/info_collector.h
  src/server/pegasus_server_impl.cpp
  src/server/pegasus_server_impl.h
  src/server/pegasus_server_impl_init.cpp
  src/test/kill_test/data_verifier.cpp
  src/test/kill_test/kill_testor.cpp
  src/test/kill_test/kill_testor.h
  src/test/kill_test/partition_kill_testor.cpp
  src/test/kill_test/process_kill_testor.cpp
Labels: cpp

#1357 refactor(conf): use DSN_DEFINE_int64 to load int64 type of configs
  src/common/replication_common.cpp
  src/common/replication_common.h
  src/server/config.ini
  src/server/pegasus_server_impl.cpp
  src/server/pegasus_server_impl.h
  src/server/pegasus_server_impl_init.cpp
  src/server/pegasus_write_service.cpp
  src/server/pegasus_write_service.h
  src/server/test/config.ini
  src/test/pressure_test/main.cpp
Labels: cpp

#1359 refactor(conf): use DSN_DEFINE_uint64 to load uint64 type of configs
  src/block_service/test/fds_service_test.cpp
  src/failure_detector/test/failure_detector.cpp
  src/meta/meta_options.cpp
  src/meta/meta_options.h
  src/meta/meta_server_failure_detector.cpp
  src/meta/meta_service.cpp
  src/meta/partition_guardian.cpp
  src/meta/test/meta_app_operation_test.cpp
  src/meta/test/update_configuration_test.cpp
  src/replica/replica_2pc.cpp
  src/replica/replica_stub.cpp
  src/replica/replica_stub.h
  src/server/capacity_unit_calculator.cpp
  src/server/capacity_unit_calculator.h
  src/server/pegasus_server_impl.cpp
  src/server/pegasus_server_impl.h
  src/server/pegasus_server_impl_init.cpp
  src/server/range_read_limiter.h
  src/server/test/capacity_unit_calculator_test.cpp
  src/test/bench_test/benchmark.cpp
  src/test/bench_test/config.cpp
  src/test/bench_test/config.h
  src/test/bench_test/config.ini
Labels: cpp

#1362 refactor(conf): use DSN_DEFINE_double to load double type of configs
  src/runtime/service_api_c.cpp
  src/server/pegasus_server_impl_init.cpp
Labels: cpp

#1363 refactor(conf): use DSN_DEFINE_bool to load bool type of configs
  src/common/replication_common.cpp
  src/common/replication_common.h
  src/common/test/config-test.ini
  src/failure_detector/test/config-test.ini
  src/failure_detector/test/config-whitelist-test-failed.ini
  src/failure_detector/test/config-whitelist-test.ini
  src/meta/app_balance_policy.cpp
  src/meta/meta_http_service.cpp
  src/meta/meta_options.cpp
  src/meta/meta_options.h
  src/meta/meta_service.cpp
  src/meta/server_state.cpp
  src/meta/test/config-test.ini
  src/meta/test/meta_state/config-test.ini
  src/replica/bulk_load/test/config-test.ini
  src/replica/replica.cpp
  src/replica/replica_check.cpp
  src/replica/replica_http_service.cpp
  src/replica/replica_init.cpp
  src/replica/replica_stub.cpp
  src/replica/split/test/config-test.ini
  src/replica/storage/simple_kv/simple_kv.server.impl.cpp
  src/replica/storage/simple_kv/simple_kv.server.impl.h
  src/replica/storage/simple_kv/test/simple_kv.server.impl.cpp
  src/replica/storage/simple_kv/test/simple_kv.server.impl.h
  src/replica/test/config-test.ini
  src/replica/test/replica_http_service_test.cpp
  src/runtime/profiler.cpp
  src/runtime/service_api_c.cpp
  src/runtime/tracer.cpp
  src/server/pegasus_server_impl.cpp
  src/server/pegasus_server_impl.h
  src/server/pegasus_server_impl_init.cpp
  src/server/pegasus_server_write.cpp
  src/server/pegasus_server_write.h
  src/server/test/pegasus_server_write_test.cpp
  src/server/test/pegasus_write_service_impl_test.cpp
  src/server/test/pegasus_write_service_test.cpp
  src/server/test/rocksdb_wrapper_test.cpp
  src/utils/simple_logger.cpp
  src/utils/simple_logger.h
  src/utils/test/logger.cpp
  src/zookeeper/test/config-test.ini
Labels: cpp

#1360 feat(security): Use Apache Ranger for access control(1/n)
  src/runtime/CMakeLists.txt
  src/runtime/ranger/CMakeLists.txt
  src/runtime/ranger/ranger_resource_policy.cpp
  src/runtime/ranger/ranger_resource_policy.h
  src/runtime/test/ranger_resource_policy_test.cpp
Labels: cpp, build
