Repository apache/incubator-pegasus, pull requests merged in 2023-10, with the labels that each got.

#1628 refactor(file_system): remove useless read/write_file()
  src/replica/bulk_load/replica_bulk_loader.cpp
  src/utils/filesystem.cpp
  src/utils/filesystem.h
Labels: cpp

#1629 refactor: some minor refactors without functional changes
  .licenserc.yaml
  src/block_service/block_service.h
  src/geo/bench/bench.cpp
  src/meta/test/main.cpp
  src/nfs/nfs_node_simple.cpp
  src/nfs/nfs_node_simple.h
  src/nfs/nfs_server_impl.cpp
  src/nfs/nfs_server_impl.h
  src/server/test/pegasus_server_impl_test.cpp
  src/test/function_test/base_api/test_copy.cpp
Labels: cpp

#1630 fix(ut): fix flaky unit test test_rename_path_while_writing
  .github/workflows/lint_and_test_cpp.yaml
  src/block_service/test/hdfs_service_test.cpp
  src/test_util/test_util.h
Labels: github, cpp

#1636 fix(jemalloc): enlarge the buffer size to dump jemalloc stats
  src/utils/je_ctl.cpp
  src/utils/test/je_ctl_test.cpp
Labels: type/bug, cpp

#1633 build(thirdparty): bump libcurl from 7.47.0 to 8.4.0
  thirdparty/CMakeLists.txt
Labels: thirdparty, build

#1634 refactor(filesystem): refactor file_utils unit tests
  src/utils/filesystem.cpp
  src/utils/filesystem.h
  src/utils/test/file_utils.cpp
Labels: cpp

#1637 feature(aio): use rocksdb APIs to re-implement the aio module
  src/aio/CMakeLists.txt
  src/aio/aio_provider.h
  src/aio/disk_engine.cpp
  src/aio/disk_engine.h
  src/aio/file_io.cpp
  src/aio/file_io.h
  src/aio/native_linux_aio_provider.cpp
  src/aio/native_linux_aio_provider.h
  src/aio/test/CMakeLists.txt
  src/aio/test/aio.cpp
  src/aio/test/config.ini
  src/meta/meta_state_service_simple.cpp
  src/nfs/nfs_client_impl.cpp
  src/nfs/nfs_server_impl.cpp
  src/replica/duplication/test/load_from_private_log_test.cpp
  src/replica/log_file.cpp
  src/replica/storage/simple_kv/simple_kv.server.impl.cpp
  src/replica/storage/simple_kv/test/simple_kv.server.impl.cpp
  src/replica/test/mutation_log_test.cpp
  src/runtime/test/CMakeLists.txt
  src/runtime/test/task_test.cpp
  src/test_util/test_util.cpp
  src/test_util/test_util.h
  src/utils/long_adder_bench/long_adder_bench.cpp
  src/utils/test/env.cpp
Labels: cpp, build

#1641 chore(CI): unify to use Ubuntu 22.04 for CI
  .github/workflows/lint_and_test_cpp.yaml
Labels: github

#1643 chore(github): remove release tarballs to free more disk space for unit tests
  .github/workflows/lint_and_test_cpp.yaml
Labels: github

#1646 fix(ASAN): avoid reporting false 'odr-violation' issues (cherry-pick #1611)
  run.sh
Labels: scripts, build

#1598 feat(log): Redacted user key-values printed in logs
  src/base/pegasus_utils.h
  src/base/test/redact_sensitive_string_test.cpp
  src/geo/lib/geo_client.cpp
  src/server/hotkey_collector.cpp
  src/server/pegasus_server_impl.cpp
  src/server/pegasus_server_write.cpp
  src/server/pegasus_write_service_impl.h
  src/server/rocksdb_wrapper.cpp
Labels: first-time-contributor, cpp

#1648 fix(build): fix compilation error on MacOS for C++14
  cmake_modules/BaseFunctions.cmake
  src/meta/meta_service.cpp
Labels: cmake, cpp, build, 2.5

#1638 feat(slog): flush and remove all shared logs for garbage collection (cherry-pick #1594)
  src/replica/duplication/load_from_private_log.cpp
  src/replica/duplication/load_from_private_log.h
  src/replica/duplication/test/duplication_test_base.h
  src/replica/log_file.cpp
  src/replica/log_file.h
  src/replica/mutation_log.cpp
  src/replica/mutation_log.h
  src/replica/mutation_log_replay.cpp
  src/replica/mutation_log_utils.cpp
  src/replica/mutation_log_utils.h
  src/replica/replica_stub.cpp
  src/replica/replica_stub.h
  src/replica/replication_app_base.cpp
  src/replica/test/mock_utils.h
  src/replica/test/mutation_log_test.cpp
  src/server/config.ini
  src/server/pegasus_server_impl.cpp
  src/server/test/config.ini
  src/utils/autoref_ptr.h
  src/utils/fmt_logging.h
Labels: cpp, 2.5

#1652 chore(CI): remove the "Check issue" from Standardization Lint
  .github/workflows/standardization_lint.yaml
Labels: github

#1653 chore(CI): remove the "Check issue" from Standardization Lint (cherry-pick #1652)
  .github/workflows/standardization_lint.yaml
Labels: github

#1656 fix(CI): Fix the "Lint Dockerfile" action failure
  docker/pegasus-build-env/ubuntu1804/Dockerfile
Labels: docker

#1657 fix(CI): Fix the "Lint Dockerfile" action failure (cherry-pick #1656)
  docker/pegasus-build-env/ubuntu1804/Dockerfile
Labels: docker

#1662 fix(scala-client): generate thrift sources for scala client
  java-client/scripts/ci-test.sh
  scala-client/scripts/ci-test.sh
Labels: java-client, scala-client, scripts
