Repository apache/incubator-pegasus, pull requests merged in 2023-08, with the labels that each got.

#1580 fix: support core dump for fatal logging in simple_logger::dsn_logv and call fatal logging exactly once for the assertion
  src/client/replication_ddl_client.cpp
  src/meta/test/backup_test.cpp
  src/server/result_writer.cpp
  src/utils/fmt_logging.h
  src/utils/simple_logger.cpp
  src/utils/simple_logger.h
  src/utils/test/logging.cpp
Labels: type/bug-fix, cpp

#1581 chore(github): free disk space after packaging with jemalloc in github workflows
  .github/workflows/lint_and_test_cpp.yaml
Labels: github

#1569 Pegasus-Shell supports executing kinit outside of the program and completing authentication within the program
  src/runtime/security/init.cpp
  src/runtime/security/kinit_context.cpp
  src/runtime/security/kinit_context.h
Labels: cpp

#1586 chore(github): free disk space for daily building on github
  .github/workflows/regular-build.yml
Labels: github

#1588 fix: fix errors in format string for logging and macro
  src/meta/meta_backup_service.cpp
  src/meta/meta_data.cpp
  src/meta/partition_guardian.cpp
  src/meta/test/backup_test.cpp
  src/replica/replica.cpp
  src/replica/replica_2pc.cpp
  src/runtime/task/task.cpp
  src/server/pegasus_server_impl.cpp
Labels: cpp
