Repository apache/incubator-pegasus, pull requests merged in 2023-12, with the labels that each got.

#1700 chore: add change log for version 2.5
  .licenserc.yaml
  HISTORY.md
Labels: docs, release-note, 2.5

#1708 feat: source config_hdfs.sh automatically before starting onebox
  .github/workflows/lint_and_test_cpp.yaml
  run.sh
  scripts/config_hdfs.sh
Labels: github, scripts, build

#1703 feat(replica): add FileDataType as the parameter
  src/replica/replica_disk_migrator.cpp
  src/replica/replica_stub.cpp
  src/replica/replication_app_base.cpp
  src/replica/replication_app_base.h
Labels: cpp

#1710 refactor(function_test): make [backup_]restore_test derive from test_util
  run.sh
  src/test/function_test/backup_restore/CMakeLists.txt
  src/test/function_test/backup_restore/test_backup_and_restore.cpp
  src/test/function_test/config.ini
  src/test/function_test/restore/test_restore.cpp
  src/test/function_test/utils/test_util.cpp
  src/test/kill_test/config.ini
Labels: scripts, cpp, build

#1756 refactor(function_test): abstract some functions to reduce duplicate code
  src/test/function_test/backup_restore/CMakeLists.txt
  src/test/function_test/backup_restore/test_backup_and_restore.cpp
  src/test/function_test/base_api/integration_test.cpp
  src/test/function_test/base_api/test_batch_get.cpp
  src/test/function_test/base_api/test_recall.cpp
  src/test/function_test/base_api/test_scan.cpp
  src/test/function_test/base_api/test_ttl.cpp
  src/test/function_test/bulk_load/test_bulk_load.cpp
  src/test/function_test/detect_hotspot/CMakeLists.txt
  src/test/function_test/detect_hotspot/test_detect_hotspot.cpp
  src/test/function_test/partition_split/test_split.cpp
  src/test/function_test/recovery/CMakeLists.txt
  src/test/function_test/recovery/test_recovery.cpp
  src/test/function_test/restore/CMakeLists.txt
  src/test/function_test/restore/test_restore.cpp
  src/test/function_test/throttle/test_throttle.cpp
  src/test/function_test/utils/test_util.cpp
  src/test/function_test/utils/test_util.h
Labels: cpp, build

#1709 feat(snappy/lz4/zstd): Build snappy/lz4/zstd as a thirdparty libraries
  .github/workflows/lint_and_test_cpp.yaml
  .licenserc.yaml
  cmake_modules/BaseFunctions.cmake
  docker/pegasus-build-env/centos7/Dockerfile
  docker/pegasus-build-env/ubuntu1804/Dockerfile
  docker/pegasus-build-env/ubuntu2004/Dockerfile
  docker/pegasus-build-env/ubuntu2204/Dockerfile
  src/aio/CMakeLists.txt
  src/aio/test/CMakeLists.txt
  src/block_service/hdfs/CMakeLists.txt
  src/block_service/local/CMakeLists.txt
  src/block_service/test/CMakeLists.txt
  src/client/test/CMakeLists.txt
  src/common/test/CMakeLists.txt
  src/failure_detector/test/CMakeLists.txt
  src/geo/bench/CMakeLists.txt
  src/http/test/CMakeLists.txt
  src/meta/CMakeLists.txt
  src/nfs/test/CMakeLists.txt
  src/perf_counter/test/CMakeLists.txt
  src/replica/CMakeLists.txt
  src/replica/backup/test/CMakeLists.txt
  src/replica/bulk_load/test/CMakeLists.txt
  src/replica/duplication/test/CMakeLists.txt
  src/replica/storage/simple_kv/CMakeLists.txt
  src/replica/storage/simple_kv/test/CMakeLists.txt
  src/replica/test/CMakeLists.txt
  src/runtime/ranger/CMakeLists.txt
  src/runtime/test/CMakeLists.txt
  src/server/CMakeLists.txt
  src/server/test/CMakeLists.txt
  src/shell/CMakeLists.txt
  src/test/bench_test/CMakeLists.txt
  src/test/function_test/bulk_load/CMakeLists.txt
  src/test_util/CMakeLists.txt
  src/utils/CMakeLists.txt
  src/utils/long_adder_bench/CMakeLists.txt
  src/utils/test/CMakeLists.txt
  src/utils/test/nth_element_bench/CMakeLists.txt
  src/zookeeper/test/CMakeLists.txt
  thirdparty/CMakeLists.txt
  thirdparty/fix_snappy-Wsign-compare-warning.patch
Labels: thirdparty, github, docker, build

#1760 feat(cpp-shell): make mlog_dump dump plog
  src/replica/replica.h
  src/shell/commands/debugger.cpp
  src/shell/config.ini
  src/shell/main.cpp
  src/tools/mutation_log_tool.cpp
  src/tools/mutation_log_tool.h
  src/utils/time_utils.cpp
Labels: cpp

#1763 build(images): append branch name to the tag of each build-env-* image to support building image for each branch
  .github/workflows/build-push-env-docker.yml
  .github/workflows/thirdparty-regular-push.yml
  docker/README.md
  docker/ci-env/Dockerfile
  docker/pegasus-docker-compose/README.md
  docker/pegasus-docker-compose/build_docker.sh
  docker/pegasus-docker-compose/image_for_prebuilt_bin/Dockerfile
  docker/thirdparties-bin/Dockerfile
  docker/thirdparties-src/Dockerfile
Labels: docs, github, docker, scripts

#1765 chore(CI): use actions/labeler@v4 to keep compatiblity (cherry-pick #1711)
  .github/workflows/labeler.yml
Labels: github, 2.5

#1764 build(images): append branch name to the tag of each build-env-* image to support building image for each branch (cherry-pick #1763)
  .github/workflows/build-push-env-docker.yml
  .github/workflows/thirdparty-regular-push.yml
  docker/README.md
  docker/ci-env/Dockerfile
  docker/pegasus-docker-compose/README.md
  docker/pegasus-docker-compose/build_docker.sh
  docker/pegasus-docker-compose/image_for_prebuilt_bin/Dockerfile
  docker/thirdparties-bin/Dockerfile
  docker/thirdparties-src/Dockerfile
Labels: docs, github, docker, scripts, 2.5

#1766 build(images): append branch name to the tag of each build-env-* image to support building image for each branch (cherry-pick #1763)
  .github/workflows/build-push-env-docker.yml
  .github/workflows/thirdparty-regular-push.yml
  docker/README.md
  docker/ci-env/Dockerfile
  docker/pegasus-docker-compose/README.md
  docker/pegasus-docker-compose/build_docker.sh
  docker/pegasus-docker-compose/image_for_prebuilt_bin/Dockerfile
  docker/thirdparties-bin/Dockerfile
  docker/thirdparties-src/Dockerfile
Labels: docs, github, docker, scripts, 2.4

#1767 fix(docker): fix pegasus-build-env of ubuntu:18.04 Dockerfile (cherry-pick #1558)
  docker/pegasus-build-env/ubuntu1804/Dockerfile
Labels: docker, 2.4

#1768 fix: fix centos image build (cherry-pick #1356)
  .github/workflows/standardization_lint.yaml
  docker/pegasus-build-env/centos6/Dockerfile
  docker/pegasus-build-env/centos7/Dockerfile
Labels: github, docker, 2.4

#1769 refactor(local_service): minor refactor on file_metadata
  src/block_service/local/local_service.cpp
  src/block_service/local/local_service.h
  src/block_service/test/local_service_test.cpp
Labels: cpp

#1770 refactor(function_test): Generate bulk load files internally
  .gitignore
  run.sh
  src/test/function_test/backup_restore/test_backup_and_restore.cpp
  src/test/function_test/base_api/integration_test.cpp
  src/test/function_test/base_api/test_batch_get.cpp
  src/test/function_test/base_api/test_copy.cpp
  src/test/function_test/base_api/test_scan.cpp
  src/test/function_test/bulk_load/CMakeLists.txt
  src/test/function_test/bulk_load/test_bulk_load.cpp
  src/test/function_test/restore/test_restore.cpp
  src/test/function_test/utils/test_util.cpp
  src/test/function_test/utils/test_util.h
Labels: scripts, cpp, build

#1771 fix: use boost::filesystem::path instead of std::filesystem::path to be compatible with lower gcc/clang versions
  src/shell/commands/debugger.cpp
Labels: component/shell, cpp

#1773 build(images): remove ci-env docker image
  docker/ci-env/Dockerfile
Labels: docker

#1775 fix: fix rocksdb build type (cherry-pick #1340)
  thirdparty/CMakeLists.txt
Labels: thirdparty, build, 2.4

#1755 fix(java-client): use junit5 instead of junit3/junit4
  java-client/pom.xml
  java-client/src/test/java/org/apache/pegasus/base/TestRpcAddress.java
  java-client/src/test/java/org/apache/pegasus/client/PegasusScannerTest.java
  java-client/src/test/java/org/apache/pegasus/client/TestAdminClient.java
  java-client/src/test/java/org/apache/pegasus/client/TestBasic.java
  java-client/src/test/java/org/apache/pegasus/client/TestBatch.java
  java-client/src/test/java/org/apache/pegasus/client/TestBatchGetByPartitions.java
  java-client/src/test/java/org/apache/pegasus/client/TestBench.java
  java-client/src/test/java/org/apache/pegasus/client/TestCheckAndMutate.java
  java-client/src/test/java/org/apache/pegasus/client/TestCheckAndSet.java
  java-client/src/test/java/org/apache/pegasus/client/TestFutureGroup.java
  java-client/src/test/java/org/apache/pegasus/client/TestIncr.java
  java-client/src/test/java/org/apache/pegasus/client/TestMultiThread.java
  java-client/src/test/java/org/apache/pegasus/client/TestNoOperate.java
  java-client/src/test/java/org/apache/pegasus/client/TestPException.java
  java-client/src/test/java/org/apache/pegasus/client/TestPing.java
  java-client/src/test/java/org/apache/pegasus/client/TestPingZK.java
  java-client/src/test/java/org/apache/pegasus/client/TestTimeout.java
  java-client/src/test/java/org/apache/pegasus/metrics/MetricsPoolTest.java
  java-client/src/test/java/org/apache/pegasus/operator/ClientOperatorTest.java
  java-client/src/test/java/org/apache/pegasus/rpc/async/ClusterManagerTest.java
  java-client/src/test/java/org/apache/pegasus/rpc/async/InterceptorTest.java
  java-client/src/test/java/org/apache/pegasus/rpc/async/MetaSessionTest.java
  java-client/src/test/java/org/apache/pegasus/rpc/async/ReplicaSessionTest.java
  java-client/src/test/java/org/apache/pegasus/rpc/async/TableHandlerTest.java
  java-client/src/test/java/org/apache/pegasus/rpc/async/TimeoutBenchmark.java
  java-client/src/test/java/org/apache/pegasus/security/NegotiationTest.java
  java-client/src/test/java/org/apache/pegasus/tools/TestZstdWrapper.java
  java-client/src/test/resources/simplelogger.properties
Labels: java-client

#1778 chore(java-client-ci): build the server instead of downloading it from external site
  .github/workflows/test_java-client.yml
  java-client/scripts/ci-test.sh
Labels: github, java-client, scripts

#1777 fix(rocksdb): specify the HINTS for zstd/lz4/snappy in third-party CMakeLists allowing rocksdb to find them
  thirdparty/CMakeLists.txt
Labels: type/bug-fix, thirdparty, cmake, build

#1793 chore(admin-cli&pegic): Add make fmt and fotmat files
  admin-cli/Makefile
  admin-cli/cmd/remote_command.go
  admin-cli/executor/server_config.go
  admin-cli/tabular/printer.go
  admin-cli/util/pegasus_node.go
  pegic/Makefile
Labels: admin-cli, pegic

#1794 fix(scripts): drop unnecessary dependencies for pack_server.sh
  scripts/pack_server.sh
Labels: type/bug-fix, scripts

#1796 fix(scripts): fix that librocksdb.so.8 was not found for the executable binary generated by pack_server.sh
  scripts/pack_server.sh
Labels: type/bug-fix, scripts

#1797 feat(go): Unify and bump go version to 1.18
  .github/workflows/lint_and_test_admin-cli.yml
  .github/workflows/lint_and_test_collector.yml
  .github/workflows/lint_and_test_go-client.yml
  .github/workflows/lint_and_test_pegic.yml
  .github/workflows/regular-build.yml
  admin-cli/go.mod
  admin-cli/go.sum
  collector/go.mod
  collector/go.sum
  go-client/README.md
  go-client/go.mod
  pegic/go.mod
  pegic/go.sum
Labels: docs, github, admin-cli, go-client, pegic, collector

#1804 fix(rocksdb): force librocksdb.so* to be output into the directory 'lib'
  .github/workflows/lint_and_test_cpp.yaml
  scripts/pack_server.sh
  thirdparty/CMakeLists.txt
Labels: thirdparty, github, scripts, build

#1803 fix(logger): logs fail to be printed to stdout and the process is not terminated for fatal errors before logging is initialized
  src/replica/storage/simple_kv/test/simple_kv.server.impl.cpp
  src/utils/simple_logger.cpp
  src/utils/simple_logger.h
Labels: type/bug-fix, cpp

#1798 feat(run.sh): make it possible to build partial objects
  .github/workflows/lint_and_test_cpp.yaml
  run.sh
Labels: github, scripts, build

#1809 refactor(logging): drop the unnecessary interface, use `log` instead of `dsn_log` and improve the tests
  src/replica/replica_2pc.cpp
  src/runtime/security/sasl_init.cpp
  src/runtime/task/task_spec.h
  src/utils/api_utilities.h
  src/utils/fmt_logging.h
  src/utils/logging.cpp
  src/utils/logging_provider.h
  src/utils/simple_logger.cpp
  src/utils/simple_logger.h
  src/utils/test/endian_test.cpp
  src/utils/test/logger.cpp
  src/utils/test/logging.cpp
Labels: type/bug-fix, type/testing, cpp

#1816 fix: standby meta server exits abnormally with core dump after receiving the http request `/meta/cluster`
  cmake_modules/BaseFunctions.cmake
  src/meta/CMakeLists.txt
  src/meta/meta_http_service.cpp
  src/utils/api_utilities.h
  src/utils/metrics.h
Labels: type/bug-fix, cmake, cpp, build

#1790 chore(go-client-ci): build the server instead of downloading it from external site
  .github/workflows/lint_and_test_go-client.yml
  go-client/README.md
  go-client/admin/client_test.go
  go-client/example/main.go
  go-client/generator/main.go
  go-client/idl/base/dsn_err_string.go
  go-client/session/admin_rpc_types.go
  go-client/session/radmin_rpc_types.go
  go-client/test.sh
Labels: docs, github, go-client, scripts

#1814 chore(nodejs-client-ci): build the server instead of downloading it from external site
  .github/workflows/test_nodejs-client.yml
  nodejs-client/test.sh
Labels: github, nodejs-client, scripts

#1813 chore(scala-client-ci): build the server instead of downloading it from external site
  .github/workflows/lint_and_test_scala-client.yml
  .github/workflows/test_scala-client.yml
  scala-client/README.md
  scala-client/scripts/ci-test.sh
  scala-client/scripts/format-all.sh
  scala-client/src/main/scala/org/apache/pegasus/scalaclient/PegasusUtil.scala
  scala-client/src/main/scala/org/apache/pegasus/scalaclient/ScalaPegasusAsyncTable.scala
Labels: docs, github, scala-client, scripts

#1815 chore(python-client-ci): build the server instead of downloading it from external site
  .github/workflows/test_python-client.yml
  python-client/README.md
  python-client/test.sh
Labels: docs, github, python-client, scripts

#1811 feat(fqdn): json decode & encode for rpc_host_port
  src/common/json_helper.h
  src/runtime/rpc/rpc_host_port.cpp
  src/runtime/rpc/rpc_host_port.h
  src/runtime/test/host_port_test.cpp
  src/utils/string_conv.h
  src/utils/test/json_helper_test.cpp
Labels: cpp
