Repository apache/incubator-pegasus, pull requests merged in 2023-07, with the labels that each got.

#1555 fix: fix build failure on older Ubuntu&GCC versions
  src/common/serialization_helper/thrift_helper.h
  src/utils/test/metrics_test.cpp
Labels: cpp

#1553 chore: remove the supporting of EOL OS ubuntu 16.04
  .github/workflows/build-push-env-docker.yml
  .github/workflows/regular-build.yml
  .github/workflows/thirdparty-regular-push.yml
  docker/README.md
  docker/pegasus-build-env/ubuntu1604/Dockerfile
Labels: docs, github, docker

#1557 chore: remove the supporting of EOL OS CentOS 6
  .github/workflows/build-push-env-docker.yml
  .github/workflows/regular-build.yml
  .github/workflows/thirdparty-regular-push.yml
  docker/pegasus-build-env/centos6/Dockerfile
Labels: github, docker

#1558 fix(docker): fix pegasus-build-env of ubuntu:18.04 Dockerfile
  docker/pegasus-build-env/ubuntu1804/Dockerfile
Labels: docker

#1563 Fix write global seqno
  src/server/config.ini
  src/server/rocksdb_wrapper.cpp
Labels: type/config-change, cpp

#1573 fix(logs): fix logs in FATAL level not take effect
  src/utils/simple_logger.cpp
Labels: cpp

#1574 fix(slog): add an option to exit the process when find slog error
  src/replica/replica_stub.cpp
Labels: cpp
