Repository apache/incubator-pegasus, pull requests merged in 2023-11, with the labels that each got.

#1668 fix(log): not redacted hotkey log
  src/server/hotkey_collector.cpp
Labels: cpp

#1660 chore(version): update the version of pegasus server and client of each language to 2.5.0
  java-client/pom.xml
  nodejs-client/package.json
  python-client/pypegasus/__init__.py
  scala-client/build.sbt
  src/client_lib/mutation.cpp
  src/include/pegasus/version.h
Labels: java-client, nodejs-client, python-client, scala-client, cpp

#1669 fix: generate thrift sources for scala client (cherry-pick #1662)
  java-client/scripts/ci-test.sh
  scala-client/scripts/ci-test.sh
Labels: java-client, scala-client, scripts

#1670 chore(version): update the version of pegasus server and client of each language to 2.5.0 (cherry-pick #1660)
  java-client/pom.xml
  nodejs-client/package.json
  python-client/pypegasus/__init__.py
  scala-client/build.sbt
  src/include/pegasus/version.h
Labels: java-client, nodejs-client, python-client, scala-client, cpp, 2.5

#1672 chore: update NOTICE year to 2023 (cherry-pick #1671)
  NOTICE
Labels: 2.5

#1667 fix: parse timestamp from the name of data dir for gc instead of the last update time
  src/replica/disk_cleaner.cpp
  src/replica/disk_cleaner.h
  src/replica/replica_stub.cpp
  src/replica/test/replica_disk_test.cpp
  src/test_util/test_util.h
  src/utils/macros.h
  src/utils/metrics.h
Labels: cpp

#1674 chore(license): add license checker for copyright and fix license files
  .licenserc.yaml
  LICENSE
  scripts/check_license.py
Labels: scripts

#1677 chore(license): add license checker for copyright and fix license files (cherry-pick #1674)
  .licenserc.yaml
  LICENSE
  scripts/check_license.py
Labels: scripts, 2.5

#1675 feat(thirdparty): Introduce abseil
  thirdparty/CMakeLists.txt
Labels: thirdparty, build

#1680 refactor: use fmt:join to simplify code
  src/client/replication_ddl_client.cpp
Labels: cpp

#1682 chore(thirdparty): Bump gperftools to 2.13
  scripts/pack_server.sh
  scripts/pack_tools.sh
  thirdparty/CMakeLists.txt
Labels: thirdparty, scripts, build

#1684 feat(pprof): Supports both heap profiling and heap sampling
  src/http/pprof_http_service.cpp
Labels: cpp

#1681 chore: bump the development version to 2.5.0 and release v2.5.0-RC1
  java-client/pom.xml
  scala-client/build.sbt
  src/include/pegasus/version.h
Labels: java-client, scala-client, cpp, 2.5

#1683 feat(thirdparty): compile curl with gssapi
  src/http/http_client.cpp
  src/http/http_client.h
  src/http/http_method.h
  thirdparty/CMakeLists.txt
Labels: thirdparty, cpp, build

#1687 refactor(build): Improve the project CMake
  .licenserc.yaml
  CMakeLists.txt
  run.sh
  thirdparty/CMakeLists.txt
  thirdparty/fix_rocksdb-cmake-PORTABLE-option.patch
  thirdparty/rocksdb_fix_atomic_flush_0879c240.patch
Labels: thirdparty, scripts, build

#1690 fix: use libgcc instead of generic_fp as default stacktrace
  run.sh
Labels: scripts, build

#1688 refactor(thirdparty): Bump s2geometry to 0.10.0
  .licenserc.yaml
  cmake_modules/BaseFunctions.cmake
  src/geo/bench/CMakeLists.txt
  src/geo/bench/bench.cpp
  src/geo/lib/geo_client.h
  src/geo/lib/latlng_codec.cpp
  src/geo/lib/latlng_codec.h
  src/geo/test/CMakeLists.txt
  src/geo/test/geo_test.cpp
  src/geo/test/latlng_codec_test.cpp
  src/redis_protocol/proxy/CMakeLists.txt
  src/redis_protocol/proxy/main.cpp
  src/redis_protocol/proxy_lib/redis_parser.h
  src/redis_protocol/proxy_ut/CMakeLists.txt
  src/redis_protocol/proxy_ut/redis_proxy_test.cpp
  src/server/hotspot_partition_calculator.cpp
  src/server/hotspot_partition_calculator.h
  src/server/info_collector.h
  src/server/info_collector_app.h
  src/server/main.cpp
  src/shell/CMakeLists.txt
  src/shell/commands/bulk_load.cpp
  src/shell/commands/cold_backup.cpp
  src/shell/commands/data_operations.cpp
  src/shell/commands/debugger.cpp
  src/shell/commands/detect_hotkey.cpp
  src/shell/commands/duplication.cpp
  src/shell/commands/global_properties.cpp
  src/shell/commands/node_management.cpp
  src/shell/commands/rebalance.cpp
  src/shell/commands/recovery.cpp
  src/shell/commands/table_management.cpp
  src/shell/main.cpp
  src/test/function_test/base_api/test_copy.cpp
  thirdparty/CMakeLists.txt
  thirdparty/fix_s2_build_with_absl_and_gtest.patch
  thirdparty/fix_s2_build_with_cxx17.patch
Labels: thirdparty, cpp, build

#1697 refactor(regex): Use std::regex instead of boost::regex
  cmake_modules/BaseFunctions.cmake
  src/aio/test/CMakeLists.txt
  src/base/test/CMakeLists.txt
  src/block_service/test/CMakeLists.txt
  src/client/test/CMakeLists.txt
  src/common/test/CMakeLists.txt
  src/failure_detector/test/CMakeLists.txt
  src/geo/bench/CMakeLists.txt
  src/geo/test/CMakeLists.txt
  src/http/test/CMakeLists.txt
  src/meta/CMakeLists.txt
  src/meta/test/CMakeLists.txt
  src/meta/test/balancer_simulator/CMakeLists.txt
  src/meta/test/meta_state/CMakeLists.txt
  src/nfs/test/CMakeLists.txt
  src/perf_counter/test/CMakeLists.txt
  src/redis_protocol/proxy/CMakeLists.txt
  src/redis_protocol/proxy_ut/CMakeLists.txt
  src/replica/CMakeLists.txt
  src/replica/backup/test/CMakeLists.txt
  src/replica/bulk_load/test/CMakeLists.txt
  src/replica/duplication/test/CMakeLists.txt
  src/replica/split/test/CMakeLists.txt
  src/replica/storage/simple_kv/CMakeLists.txt
  src/replica/storage/simple_kv/test/CMakeLists.txt
  src/replica/test/CMakeLists.txt
  src/runtime/test/CMakeLists.txt
  src/sample/CMakeLists.txt
  src/server/CMakeLists.txt
  src/server/test/CMakeLists.txt
  src/shell/CMakeLists.txt
  src/test/bench_test/CMakeLists.txt
  src/test/function_test/backup_restore/CMakeLists.txt
  src/test/function_test/base_api/CMakeLists.txt
  src/test/function_test/bulk_load/CMakeLists.txt
  src/test/function_test/detect_hotspot/CMakeLists.txt
  src/test/function_test/partition_split/CMakeLists.txt
  src/test/function_test/recovery/CMakeLists.txt
  src/test/function_test/restore/CMakeLists.txt
  src/test/function_test/throttle/CMakeLists.txt
  src/test/kill_test/CMakeLists.txt
  src/test/pressure_test/CMakeLists.txt
  src/utils/CMakeLists.txt
  src/utils/fail_point.cpp
  src/utils/long_adder_bench/CMakeLists.txt
  src/utils/test/CMakeLists.txt
  src/utils/test/nth_element_bench/CMakeLists.txt
  src/zookeeper/test/CMakeLists.txt
  thirdparty/CMakeLists.txt
Labels: thirdparty, cpp, build

#1699 fix(admin-cli): fix the command reports incorrect ERR_INVALID_PARAMETERS error
  admin-cli/client/meta.go
  admin-cli/go.sum
Labels: admin-cli

#1701 feat(ddl_client): add failure logs when backup or restore commands failed
  src/client/replication_ddl_client.cpp
Labels: cpp

#1695 feat(FDS): Terminate the FDS supporting
  .licenserc.yaml
  cmake_modules/BaseFunctions.cmake
  scripts/pack_server.sh
  scripts/pack_tools.sh
  src/block_service/CMakeLists.txt
  src/block_service/block_service_manager.cpp
  src/block_service/fds/CMakeLists.txt
  src/block_service/fds/fds_service.cpp
  src/block_service/fds/fds_service.h
  src/block_service/test/CMakeLists.txt
  src/block_service/test/config-test.ini
  src/block_service/test/fds_service_test.cpp
  src/failure_detector/CMakeLists.txt
  src/failure_detector/test/config-test.ini
  src/failure_detector/test/config-whitelist-test-failed.ini
  src/failure_detector/test/config-whitelist-test.ini
  src/meta/CMakeLists.txt
  src/meta/test/CMakeLists.txt
  src/meta/test/config-test.ini
  src/replica/CMakeLists.txt
  src/replica/backup/test/CMakeLists.txt
  src/replica/test/CMakeLists.txt
  src/replica/test/replica_http_service_test.cpp
  src/server/CMakeLists.txt
  src/server/test/CMakeLists.txt
  src/server/test/config.ini
  src/shell/CMakeLists.txt
  thirdparty/CMakeLists.txt
  thirdparty/fix_fds_for_macos.patch
Labels: thirdparty, scripts, cpp, build

#1705 feat(HDFS): Add hdfs_service related configs in server.ini and run.sh
  run.sh
  src/server/config.ini
Labels: scripts, build
