Repository apache/incubator-pegasus, pull requests merged in 2023-01, with the labels that each got.

#1306 refactor(log): use LOG_DEBUG_F instead of LOG_DEBUG
  src/aio/disk_engine.cpp
  src/block_service/fds/fds_service.cpp
  src/block_service/local/local_service.cpp
  src/client/partition_resolver.h
  src/client/partition_resolver_simple.cpp
  src/failure_detector/failure_detector.cpp
  src/failure_detector/test/failure_detector.cpp
  src/meta/load_balance_policy.cpp
  src/meta/meta_backup_service.cpp
  src/meta/meta_data.cpp
  src/meta/meta_server_failure_detector.cpp
  src/meta/meta_service.cpp
  src/meta/meta_service.h
  src/meta/meta_state_service_simple.cpp
  src/meta/meta_state_service_zookeeper.cpp
  src/meta/server_state.cpp
  src/meta/test/balancer_simulator/balancer_simulator.cpp
  src/meta/test/balancer_validator.cpp
  src/meta/test/misc/misc.cpp
  src/nfs/nfs_server_impl.cpp
  src/perf_counter/perf_counters.cpp
  src/perf_counter/perf_counters.h
  src/redis_protocol/proxy_lib/proxy_layer.h
  src/redis_protocol/proxy_lib/redis_parser.cpp
  src/replica/mutation.cpp
  src/replica/mutation_log.cpp
  src/replica/mutation_log_replay.cpp
  src/replica/replica.cpp
  src/replica/replica_2pc.cpp
  src/replica/replica_config.cpp
  src/replica/replica_init.cpp
  src/replica/replica_learn.cpp
  src/replica/replica_restore.cpp
  src/replica/storage/simple_kv/simple_kv.server.impl.cpp
  src/reporter/pegasus_counter_reporter.cpp
  src/runtime/rpc/asio_rpc_session.cpp
  src/runtime/rpc/network.cpp
  src/runtime/rpc/rpc_engine.cpp
  src/runtime/task/task.h
  src/server/available_detector.cpp
  src/server/info_collector.cpp
  src/server/result_writer.cpp
  src/test/kill_test/data_verifier.cpp
  src/test/kill_test/kill_testor.cpp
  src/utils/api_utilities.h
  src/utils/token_bucket_throttling_controller.cpp
  src/zookeeper/lock_struct.cpp
  src/zookeeper/zookeeper_session.cpp
Labels: cpp

#1308 refactor(FLAG): remove the quotes of section field of FLAG
  src/block_service/directio_writable_file.cpp
  src/block_service/fds/fds_service.cpp
  src/block_service/hdfs/hdfs_service.cpp
  src/block_service/test/hdfs_service_test.cpp
  src/common/common.cpp
  src/common/duplication_common.cpp
  src/common/fs_manager.cpp
  src/common/replication_common.cpp
  src/http/http_server.cpp
  src/meta/cluster_balance_policy.cpp
  src/meta/greedy_load_balancer.cpp
  src/meta/meta_bulk_load_ingestion_context.cpp
  src/meta/meta_bulk_load_service.cpp
  src/meta/meta_data.cpp
  src/meta/meta_service.cpp
  src/meta/server_state.cpp
  src/nfs/nfs_client_impl.cpp
  src/nfs/nfs_server_impl.cpp
  src/replica/disk_cleaner.cpp
  src/replica/mutation.cpp
  src/replica/mutation_log.cpp
  src/replica/replica_2pc.cpp
  src/replica/replica_backup.cpp
  src/replica/replica_stub.cpp
  src/reporter/pegasus_counter_reporter.cpp
  src/runtime/providers.common.cpp
  src/runtime/rpc/asio_net_provider.cpp
  src/runtime/security/access_controller.cpp
  src/runtime/security/kinit_context.cpp
  src/runtime/security/meta_access_controller.cpp
  src/runtime/security/negotiation.cpp
  src/runtime/security/sasl_init.cpp
  src/server/hotkey_collector.cpp
  src/server/hotspot_partition_calculator.cpp
  src/server/pegasus_server_impl.cpp
  src/server/pegasus_server_impl_init.cpp
  src/server/result_writer.cpp
  src/utils/flags.cpp
  src/utils/flags.h
  src/utils/latency_tracer.cpp
  src/utils/logging.cpp
  src/utils/shared_io_service.cpp
  src/utils/simple_logger.cpp
  src/utils/test/flag_test.cpp
  src/zookeeper/zookeeper_session.cpp
Labels: cpp

#1307 refactor(log): use LOG_INFO_F instead of LOG_INFO (1/3)
  src/replica/backup/replica_backup_server.cpp
  src/replica/mutation_log.cpp
  src/replica/mutation_log_replay.cpp
  src/replica/replica.cpp
  src/replica/replica_2pc.cpp
  src/replica/replica_backup.cpp
  src/replica/replica_check.cpp
  src/replica/replica_chkpt.cpp
  src/replica/replica_config.cpp
  src/replica/replica_failover.cpp
  src/replica/replica_init.cpp
  src/replica/replica_learn.cpp
  src/replica/replica_restore.cpp
  src/replica/test/mock_utils.h
Labels: cpp

#1310 refactor(log): use LOG_INFO_F instead of LOG_INFO (2/3)
  src/meta/app_balance_policy.cpp
  src/meta/greedy_load_balancer.cpp
  src/meta/load_balance_policy.cpp
  src/meta/meta_backup_service.cpp
  src/meta/meta_backup_service.h
  src/meta/meta_data.cpp
  src/meta/meta_server_failure_detector.cpp
  src/meta/meta_service.cpp
  src/meta/meta_service.h
  src/meta/meta_state_service_zookeeper.cpp
  src/meta/partition_guardian.cpp
  src/meta/server_state.cpp
  src/meta/server_state_restore.cpp
  src/meta/test/backup_test.cpp
  src/meta/test/meta_state/meta_state_service.cpp
  src/meta/test/update_configuration_test.cpp
Labels: cpp

#1311 refactor(log): use LOG_INFO_F instead of LOG_INFO (3/3)
  src/aio/test/aio.cpp
  src/block_service/block_service_manager.cpp
  src/block_service/fds/fds_service.cpp
  src/block_service/hdfs/hdfs_service.cpp
  src/block_service/local/local_service.cpp
  src/common/fs_manager.cpp
  src/failure_detector/failure_detector.cpp
  src/failure_detector/failure_detector_multimaster.cpp
  src/http/pprof_http_service.cpp
  src/meta/server_state.cpp
  src/perf_counter/test/perf_counter_test.cpp
  src/redis_protocol/proxy_lib/proxy_layer.cpp
  src/redis_protocol/proxy_lib/redis_parser.cpp
  src/redis_protocol/proxy_ut/redis_proxy_test.cpp
  src/replica/backup/cold_backup_context.cpp
  src/replica/duplication/duplication_sync_timer.cpp
  src/replica/replica_stub.cpp
  src/replica/storage/simple_kv/simple_kv.server.impl.cpp
  src/replica/storage/simple_kv/test/case.cpp
  src/replica/storage/simple_kv/test/case.h
  src/replica/storage/simple_kv/test/checker.cpp
  src/replica/storage/simple_kv/test/client.cpp
  src/replica/storage/simple_kv/test/common.h
  src/replica/storage/simple_kv/test/injector.cpp
  src/replica/storage/simple_kv/test/simple_kv.main.cpp
  src/replica/storage/simple_kv/test/simple_kv.server.impl.cpp
  src/reporter/pegasus_counter_reporter.cpp
  src/runtime/fault_injector.cpp
  src/runtime/rpc/asio_rpc_session.cpp
  src/runtime/rpc/network.cpp
  src/runtime/rpc/raw_message_parser.cpp
  src/runtime/rpc/rpc_engine.cpp
  src/runtime/security/init.cpp
  src/runtime/service_api_c.cpp
  src/runtime/test/async_call.cpp
  src/runtime/test/netprovider.cpp
  src/runtime/test/rpc.cpp
  src/runtime/test/test_utils.h
  src/runtime/tool_api.cpp
  src/runtime/tracer.cpp
  src/server/available_detector.cpp
  src/server/compaction_operation.cpp
  src/server/hotspot_partition_calculator.cpp
  src/server/info_collector.cpp
  src/server/main.cpp
  src/server/pegasus_server_impl.cpp
  src/test/kill_test/data_verifier.cpp
  src/test/kill_test/kill_testor.cpp
  src/test/kill_test/killer_handler_shell.cpp
  src/test/kill_test/partition_kill_testor.cpp
  src/test/kill_test/process_kill_testor.cpp
  src/test/pressure_test/main.cpp
  src/utils/api_utilities.h
  src/utils/command_manager.h
  src/utils/fail_point.cpp
  src/zookeeper/distributed_lock_service_zookeeper.cpp
  src/zookeeper/lock_struct.cpp
  src/zookeeper/test/distributed_lock_zookeeper.cpp
  src/zookeeper/zookeeper_session.cpp
Labels: cpp

#1312 refactor(log): use LOG_FATAL_F instead of LOG_FATAL
  src/http/http_server.cpp
  src/runtime/task/simple_task_queue.cpp
  src/server/pegasus_mutation_duplicator.cpp
  src/shell/commands/duplication.cpp
  src/test/kill_test/data_verifier.cpp
  src/test/kill_test/process_kill_testor.cpp
  src/utils/api_utilities.h
  src/utils/fail_point.cpp
Labels: cpp

#1314 chore(CI): Add unit test workflow for python client
  .github/workflows/test_python-client.yml
  python-client/test.sh
  python-client/tests/test_basics.py
Labels: github, python-client, scripts

#1315 refactor(log): use LOG_WARNING_F instead of LOG_WARNING (1/3)
  src/replica/log_file.cpp
  src/replica/mutation_log.cpp
  src/replica/mutation_log_replay.cpp
  src/replica/replica.cpp
  src/replica/replica_2pc.cpp
  src/replica/replica_backup.cpp
  src/replica/replica_check.cpp
  src/replica/replica_config.cpp
  src/replica/replica_init.cpp
  src/replica/replica_learn.cpp
  src/replica/replica_stub.cpp
Labels: cpp

#1316 refactor(log): use LOG_WARNING_F instead of LOG_WARNING (2/3)
  src/meta/load_balance_policy.cpp
  src/meta/meta_backup_service.cpp
  src/meta/meta_data.cpp
  src/meta/meta_server_failure_detector.cpp
  src/meta/meta_service.cpp
  src/meta/meta_state_service_zookeeper.cpp
  src/meta/partition_guardian.cpp
  src/meta/server_state.cpp
Labels: cpp

#1318 refactor(log): use LOG_ERROR_F instead of LOG_ERROR (1/2)
  src/replica/backup/cold_backup_context.cpp
  src/replica/backup/replica_backup_server.cpp
  src/replica/bulk_load/test/replica_bulk_loader_test.cpp
  src/replica/log_file.cpp
  src/replica/mutation_log.cpp
  src/replica/mutation_log_replay.cpp
  src/replica/replica_2pc.cpp
  src/replica/replica_backup.cpp
  src/replica/replica_chkpt.cpp
  src/replica/replica_failover.cpp
  src/replica/replica_init.cpp
  src/replica/replica_learn.cpp
  src/replica/replica_restore.cpp
  src/replica/replica_stub.cpp
  src/replica/storage/simple_kv/test/case.cpp
  src/replica/storage/simple_kv/test/checker.cpp
  src/replica/storage/simple_kv/test/simple_kv.server.impl.cpp
Labels: cpp

#1319 refactor(log): use LOG_WARNING_F instead of LOG_WARNING (3/3)
  src/block_service/local/local_service.cpp
  src/client/partition_resolver_simple.cpp
  src/client_lib/pegasus_client_factory_impl.cpp
  src/common/fs_manager.cpp
  src/common/storage_serverlet.h
  src/failure_detector/failure_detector.cpp
  src/failure_detector/test/failure_detector.cpp
  src/nfs/nfs_client_impl.cpp
  src/redis_protocol/proxy_lib/proxy_layer.cpp
  src/redis_protocol/proxy_lib/redis_parser.cpp
  src/runtime/rpc/asio_net_provider.cpp
  src/runtime/rpc/asio_rpc_session.cpp
  src/runtime/rpc/network.cpp
  src/runtime/rpc/rpc_engine.cpp
  src/runtime/security/client_negotiation.cpp
  src/runtime/security/kinit_context.cpp
  src/runtime/security/server_negotiation.cpp
  src/runtime/task/task.cpp
  src/runtime/task/task_spec.cpp
  src/runtime/task/task_worker.cpp
  src/runtime/zlocks.cpp
  src/server/available_detector.cpp
  src/server/info_collector.cpp
  src/server/pegasus_server_impl.cpp
  src/server/result_writer.cpp
  src/shell/command_helper.h
  src/test/pressure_test/main.cpp
  src/utils/api_utilities.h
  src/utils/filesystem.cpp
  src/utils/utils.cpp
  src/zookeeper/distributed_lock_service_zookeeper.cpp
  src/zookeeper/lock_struct.cpp
Labels: cpp

#1320 refactor(log): use LOG_ERROR_F instead of LOG_ERROR (2/2)
  src/block_service/fds/fds_service.cpp
  src/block_service/local/local_service.cpp
  src/client/partition_resolver.cpp
  src/client/partition_resolver_manager.cpp
  src/client/partition_resolver_simple.cpp
  src/client/replication_ddl_client.cpp
  src/client_lib/pegasus_client_factory_impl.cpp
  src/client_lib/pegasus_client_impl.cpp
  src/common/fs_manager.cpp
  src/failure_detector/failure_detector.cpp
  src/http/http_message_parser.cpp
  src/http/pprof_http_service.cpp
  src/meta/dump_file.h
  src/meta/meta_backup_service.cpp
  src/meta/meta_data.cpp
  src/meta/meta_server_failure_detector.cpp
  src/meta/meta_service.cpp
  src/meta/meta_state_service_simple.cpp
  src/meta/partition_guardian.cpp
  src/meta/server_state.cpp
  src/meta/server_state_restore.cpp
  src/meta/test/main.cpp
  src/nfs/nfs_client_impl.cpp
  src/nfs/nfs_server_impl.cpp
  src/redis_protocol/proxy_lib/proxy_layer.cpp
  src/reporter/pegasus_counter_reporter.cpp
  src/runtime/env.sim.cpp
  src/runtime/fault_injector.cpp
  src/runtime/rpc/asio_net_provider.cpp
  src/runtime/rpc/asio_rpc_session.cpp
  src/runtime/rpc/dsn_message_parser.cpp
  src/runtime/rpc/network.cpp
  src/runtime/rpc/network.sim.cpp
  src/runtime/rpc/thrift_message_parser.cpp
  src/runtime/service_api_c.cpp
  src/runtime/simulator.cpp
  src/runtime/task/task_spec.cpp
  src/runtime/task/task_worker.cpp
  src/runtime/test/test_utils.h
  src/server/available_detector.cpp
  src/server/info_collector.cpp
  src/server/pegasus_server_impl.cpp
  src/server/result_writer.cpp
  src/shell/command_helper.h
  src/test/kill_test/data_verifier.cpp
  src/test/kill_test/kill_testor.cpp
  src/test/kill_test/partition_kill_testor.cpp
  src/test/kill_test/process_kill_testor.cpp
  src/utils/api_utilities.h
  src/utils/filesystem.cpp
  src/utils/shared_io_service.cpp
  src/zookeeper/distributed_lock_service_zookeeper.cpp
  src/zookeeper/lock_struct.cpp
Labels: cpp

#1317 refactor(idl): unify the *.thrift files used by cpp and python-client
  .github/workflows/test_python-client.yml
  .licenserc.yaml
  idl/dsn.layer2.thrift
  idl/dsn.thrift
  idl/rrdb.thrift
  python-client/README.md
  python-client/idl/base.thrift
  python-client/idl/replication.thrift
  python-client/idl/rrdb.thrift
  python-client/pypegasus/__init__.py
  python-client/pypegasus/base/constants.py
  python-client/pypegasus/base/ttypes.py
  python-client/pypegasus/replication/__init__.py
  python-client/pypegasus/replication/constants.py
  python-client/pypegasus/replication/replication.py
  python-client/pypegasus/replication/ttypes.py
  python-client/pypegasus/rrdb/__init__.py
  python-client/pypegasus/rrdb/constants.py
  python-client/pypegasus/rrdb/meta.py
  python-client/pypegasus/rrdb/rrdb.py
  python-client/pypegasus/rrdb/ttypes.py
  python-client/requirement.txt
  python-client/sample.py
  python-client/setup.py
  python-client/test.sh
Labels: docs, github, python-client, scripts, thrift

#1324 refactor(conf): use DSN_DEFINE_int32 to load int32 type of configs
  src/block_service/test/fds_service_test.cpp
  src/common/replication_common.cpp
  src/common/replication_common.h
  src/meta/meta_backup_service.cpp
  src/meta/meta_service.cpp
  src/meta/test/backup_test.cpp
  src/replica/backup/replica_backup_manager.cpp
  src/replica/mutation_cache.h
  src/replica/replica.cpp
  src/replica/replica_2pc.cpp
  src/replica/replica_check.cpp
  src/replica/replica_chkpt.cpp
  src/replica/replica_init.cpp
  src/replica/replica_learn.cpp
  src/replica/replica_stub.cpp
  src/replica/split/replica_split_manager.cpp
  src/replica/test/mock_utils.h
  src/server/pegasus_server_impl_init.cpp
  src/shell/commands/data_operations.cpp
  src/test/bench_test/benchmark.cpp
  src/test/bench_test/config.cpp
  src/test/bench_test/config.h
Labels: cpp

#1332 chore(CI): Add unit test workflow for node.js client
  .github/workflows/test_nodejs-client.yml
  nodejs-client/test.sh
Labels: github, nodejs-client, scripts

#1335 refactor(idl): unify the *.thrift files used by cpp and nodejs-client
  .github/workflows/test_nodejs-client.yml
  .licenserc.yaml
  idl/dsn.layer2.thrift
  idl/rrdb.thrift
  nodejs-client/idl/base.thrift
  nodejs-client/idl/recompile_thrift.sh
  nodejs-client/idl/replication.thrift
  nodejs-client/idl/rrdb.thrift
  nodejs-client/recompile_thrift.sh
  nodejs-client/src/connection.js
  nodejs-client/src/dsn/dsn_types.js
  nodejs-client/src/dsn/meta.js
  nodejs-client/src/dsn/replication_types.js
  nodejs-client/src/dsn/rrdb.js
  nodejs-client/src/dsn/rrdb_types.js
  nodejs-client/src/errors.js
  nodejs-client/src/operator.js
  nodejs-client/src/session.js
  nodejs-client/src/table_handler.js
  nodejs-client/test/client.test.js
Labels: github, nodejs-client, scripts, thrift
