Repository apache/incubator-pegasus, pull requests merged in 2023-05, with the labels that each got.

#1465 fix(log): fix using of macro LOG_AND_RETURN_NOT_* print duplicate prefixes
  src/replica/replication_app_base.cpp
Labels: cpp

#1468 fix: fix garble words of time filed in logs
  src/meta/meta_http_service.cpp
  src/meta/partition_guardian.cpp
  src/server/pegasus_manual_compact_service.cpp
  src/shell/commands/recovery.cpp
  src/tools/mutation_log_tool.cpp
  src/utils/process_utils.cpp
  src/utils/test/time_utils_test.cpp
  src/utils/time_utils.cpp
  src/utils/time_utils.h
Labels: cpp

#1464 feat(FQDN): Implemention of struct dns_resolver
  src/runtime/rpc/dns_resolver.cpp
  src/runtime/rpc/dns_resolver.h
  src/runtime/rpc/rpc_address.cpp
  src/runtime/rpc/rpc_address.h
  src/runtime/rpc/rpc_host_port.cpp
  src/runtime/rpc/rpc_host_port.h
  src/runtime/test/host_port_test.cpp
Labels: cpp

#1474 feat(new_metrics): migrate metrics for replica_stub (part 6)
  src/replica/bulk_load/replica_bulk_loader.cpp
  src/replica/bulk_load/replica_bulk_loader.h
  src/replica/replica_stub.cpp
  src/replica/replica_stub.h
  src/utils/metrics.h
Labels: cpp

#1471 feat(java-client): add listApps interface
  java-client/src/main/java/org/apache/pegasus/client/ListAppInfoType.java
  java-client/src/main/java/org/apache/pegasus/client/PegasusAdminClient.java
  java-client/src/main/java/org/apache/pegasus/client/PegasusAdminClientInterface.java
  java-client/src/main/java/org/apache/pegasus/operator/list_apps_operator.java
  java-client/src/main/java/org/apache/pegasus/rpc/async/MetaSession.java
  java-client/src/test/java/org/apache/pegasus/client/TestAdminClient.java
Labels: java-client

#1480 refactor: remove some useless code
  src/common/fs_manager.cpp
  src/common/test/fs_manager_test.cpp
  src/meta/test/balancer_validator.cpp
  src/replica/replica.h
  src/replica/replica_init.cpp
  src/replica/replica_test_utils.cpp
  src/replica/replica_test_utils.h
  src/server/test/pegasus_server_test_base.h
  src/server/test/rocksdb_wrapper_test.cpp
Labels: cpp

#1482 feat(new_metrics): migrate metrics for some duplication class
  src/replica/duplication/duplication_pipeline.cpp
  src/replica/duplication/duplication_pipeline.h
  src/replica/duplication/load_from_private_log.cpp
  src/replica/duplication/load_from_private_log.h
  src/replica/duplication/mutation_batch.cpp
  src/replica/duplication/mutation_batch.h
  src/replica/duplication/test/load_from_private_log_test.cpp
  src/server/pegasus_mutation_duplicator.cpp
  src/server/pegasus_mutation_duplicator.h
  src/utils/metrics.h
Labels: cpp

#1477 refactor: improve the single-responsibility of class fs_manager
  src/common/fs_manager.cpp
  src/common/fs_manager.h
  src/common/test/fs_manager_test.cpp
  src/meta/test/misc/misc.cpp
  src/replica/disk_cleaner.cpp
  src/replica/disk_cleaner.h
  src/replica/duplication/test/load_from_private_log_test.cpp
  src/replica/replica_stub.cpp
  src/replica/replica_stub.h
  src/replica/test/mock_utils.h
  src/replica/test/mutation_log_test.cpp
  src/replica/test/open_replica_test.cpp
  src/replica/test/replica_disk_migrate_test.cpp
  src/replica/test/replica_disk_test.cpp
  src/replica/test/replica_disk_test_base.h
  src/replica/test/replica_test_base.h
  src/server/test/pegasus_server_test_base.h
Labels: cpp

#1487 refactor: update replica's dir_node status (part1)
  src/common/fs_manager.cpp
  src/common/fs_manager.h
  src/common/test/fs_manager_test.cpp
  src/replica/replica_stub.cpp
  src/replica/replica_stub.h
  src/replica/test/replica_disk_test.cpp
  src/replica/test/replica_disk_test_base.h
Labels: cpp

#1486 chore(github): remove directories and tarballs after packing server and tools for github actions in case of running out of disk space
  .github/workflows/lint_and_test_cpp.yaml
Labels: github

#1498 chore(github): remove CMakeFiles during Tar files in case of running out of disk space
  .github/workflows/lint_and_test_cpp.yaml
Labels: github

#1489 refactor: update replica's dir_node status (part2)
  src/aio/native_linux_aio_provider.cpp
  src/common/fs_manager.cpp
  src/common/fs_manager.h
  src/replica/duplication/replica_follower.cpp
  src/replica/duplication/test/load_from_private_log_test.cpp
  src/replica/replica.cpp
  src/replica/replica.h
  src/replica/replica_2pc.cpp
  src/replica/replica_check.cpp
  src/replica/replica_learn.cpp
  src/replica/replica_stub.cpp
  src/replica/replica_stub.h
  src/replica/test/mock_utils.h
  src/replica/test/replica_disk_migrate_test.cpp
  src/replica/test/replica_disk_test.cpp
  src/replica/test/replica_disk_test_base.h
  src/replica/test/replica_learn_test.cpp
  src/replica/test/replica_test.cpp
  src/server/test/hotkey_collector_test.cpp
  src/server/test/pegasus_server_test_base.h
  src/server/test/rocksdb_wrapper_test.cpp
  src/utils/test_macros.h
Labels: cpp

#1491 refactor(new_metrics): refactor enum definition for metric types and units
  .github/workflows/lint_and_test_cpp.yaml
  src/replica/test/replica_disk_test_base.h
  src/runtime/task/task_queue.cpp
  src/utils/enum_helper.h
  src/utils/metrics.h
  src/utils/test/enum_helper_test.cpp
Labels: github, cpp
