Repository apache/incubator-pegasus, pull requests merged in 2023-09, with the labels that each got.

#1600 Revert "build(thirdparty): add thirdparty for centos6 build env (#1017)"
  .github/workflows/thirdparty-regular-push.yml
  docker/pegasus-build-env/centos7/Dockerfile
  docker/pegasus-build-env/ubuntu1804/Dockerfile
  docker/pegasus-build-env/ubuntu2004/Dockerfile
  docker/pegasus-build-env/ubuntu2204/Dockerfile
  scripts/pack_server.sh
  thirdparty/CMakeLists.txt
Labels: thirdparty, github, docker, scripts, build

#1603 feat(build): make C++17 as required
  CMakeLists.txt
  cmake_modules/BaseFunctions.cmake
  src/aio/disk_engine.cpp
  src/base/test/utils_test.cpp
  src/common/test/common_test.cpp
  src/geo/lib/geo_client.cpp
  src/geo/lib/latlng_codec.cpp
  src/meta/meta_backup_service.h
  src/meta/meta_service.cpp
  src/meta/test/meta_service_test.cpp
  src/perf_counter/test/perf_counter_test.cpp
  src/redis_protocol/proxy_ut/redis_proxy_test.cpp
  src/replica/backup/cold_backup_context.cpp
  src/replica/bulk_load/test/replica_bulk_loader_test.cpp
  src/replica/duplication/replica_follower.cpp
  src/replica/mutation_cache.cpp
  src/replica/replica.cpp
  src/replica/replica_learn.cpp
  src/replica/storage/simple_kv/simple_kv.server.impl.cpp
  src/replica/storage/simple_kv/test/client.cpp
  src/replica/storage/simple_kv/test/simple_kv.server.impl.cpp
  src/replica/test/replica_test.cpp
  src/runtime/providers.common.cpp
  src/runtime/rpc/asio_net_provider.cpp
  src/runtime/rpc/asio_rpc_session.cpp
  src/runtime/rpc/rpc_address.h
  src/runtime/rpc/rpc_host_port.h
  src/runtime/rpc/thrift_message_parser.cpp
  src/runtime/scheduler.cpp
  src/runtime/service_engine.cpp
  src/runtime/task/task_engine.cpp
  src/runtime/test/client_negotiation_test.cpp
  src/runtime/test/pipeline_test.cpp
  src/runtime/test/server_negotiation_test.cpp
  src/utils/alloc.h
  src/utils/command_manager.cpp
  src/utils/config_api.cpp
  src/utils/filesystem.cpp
  src/utils/flags.h
  src/utils/output_utils.h
  src/utils/simple_logger.cpp
  src/utils/test/autoref_ptr_test.cpp
  src/utils/test/env.cpp
  src/utils/test/fail_point_test.cpp
  src/utils/test/fmt_logging_test.cpp
  src/utils/test/join_point_test.cpp
  src/utils/test/lock.std.cpp
  src/utils/test/main.cpp
  src/utils/test/memutil_test.cpp
  src/utils/test/nth_element_utils.h
  src/utils/test/sema.cpp
  src/utils/test/smart_pointers_test.cpp
  src/utils/utils.h
  thirdparty/CMakeLists.txt
Labels: thirdparty, cpp, build

#1607 fix(docker): fix build failure of rocksdb when PORTABLE=0
  docker/thirdparties-bin/Dockerfile
  docker/thirdparties-src/Dockerfile
Labels: docker

#1609 chore(CI): unify to use Ubuntu 22.04 for CI
  .github/workflows/lint_and_test_cpp.yaml
  .github/workflows/thirdparty-regular-push.yml
Labels: github

#1611 fix(ASAN): avoid reporting false 'odr-violation' issues
  run.sh
Labels: scripts, build

#1610 build(thirdparty): use v8.5.3-pegasus-encrypt branch of pegasus-kv/rocksdb
  thirdparty/CMakeLists.txt
Labels: thirdparty, build

#1612 feat(build): build RocksDB with encryption enabled
  thirdparty/CMakeLists.txt
Labels: thirdparty, build

#1614 fix(rocksdb): update rocksdb to fix build failure on lower OpenSSL version
  thirdparty/CMakeLists.txt
Labels: thirdparty, build

#1615 fix(build): fix a link error on macOS
  .gitignore
  run.sh
  src/server/info_collector.h
  src/test/function_test/CMakeLists.txt
  src/test/function_test/backup_restore/CMakeLists.txt
  src/test/function_test/backup_restore/main.cpp
  src/test/function_test/backup_restore/test_backup_and_restore.cpp
  src/test/function_test/base_api/CMakeLists.txt
  src/test/function_test/base_api/integration_test.cpp
  src/test/function_test/base_api/main.cpp
  src/test/function_test/base_api/test_basic.cpp
  src/test/function_test/base_api/test_batch_get.cpp
  src/test/function_test/base_api/test_check_and_mutate.cpp
  src/test/function_test/base_api/test_check_and_set.cpp
  src/test/function_test/base_api/test_copy.cpp
  src/test/function_test/base_api/test_incr.cpp
  src/test/function_test/base_api/test_range_read.cpp
  src/test/function_test/base_api/test_recall.cpp
  src/test/function_test/base_api/test_scan.cpp
  src/test/function_test/base_api/test_ttl.cpp
  src/test/function_test/bulk_load/CMakeLists.txt
  src/test/function_test/bulk_load/main.cpp
  src/test/function_test/bulk_load/test_bulk_load.cpp
  src/test/function_test/detect_hotspot/CMakeLists.txt
  src/test/function_test/detect_hotspot/main.cpp
  src/test/function_test/detect_hotspot/test_detect_hotspot.cpp
  src/test/function_test/partition_split/CMakeLists.txt
  src/test/function_test/partition_split/main.cpp
  src/test/function_test/partition_split/test_split.cpp
  src/test/function_test/recovery/CMakeLists.txt
  src/test/function_test/recovery/main.cpp
  src/test/function_test/recovery/test_recovery.cpp
  src/test/function_test/restore/CMakeLists.txt
  src/test/function_test/restore/main.cpp
  src/test/function_test/restore/test_restore.cpp
  src/test/function_test/throttle/CMakeLists.txt
  src/test/function_test/throttle/main.cpp
  src/test/function_test/throttle/test_throttle.cpp
  src/utils/output_utils.cpp
Labels: scripts, cpp, build

#1606 feat(encryption): introduce PegasusEnv
  src/aio/test/CMakeLists.txt
  src/block_service/test/CMakeLists.txt
  src/client/test/CMakeLists.txt
  src/common/test/CMakeLists.txt
  src/failure_detector/test/CMakeLists.txt
  src/http/test/CMakeLists.txt
  src/meta/CMakeLists.txt
  src/nfs/test/CMakeLists.txt
  src/perf_counter/test/CMakeLists.txt
  src/replica/backup/test/CMakeLists.txt
  src/replica/duplication/test/CMakeLists.txt
  src/test_util/test_util.h
  src/utils/CMakeLists.txt
  src/utils/env.cpp
  src/utils/env.h
  src/utils/filesystem.cpp
  src/utils/filesystem.h
  src/utils/fmt_logging.h
  src/utils/long_adder_bench/CMakeLists.txt
  src/utils/test/CMakeLists.txt
  src/utils/test/env.cpp
  src/utils/test/file_system_test.cpp
  src/utils/test/nth_element_bench/CMakeLists.txt
  src/zookeeper/test/CMakeLists.txt
Labels: cpp, build

#1616 refactor(test): refactor bulk load function test
  src/block_service/local/local_service.cpp
  src/block_service/local/local_service.h
  src/block_service/test/local_service_test.cpp
  src/meta/meta_bulk_load_service.h
  src/test/function_test/bulk_load/CMakeLists.txt
  src/test/function_test/bulk_load/test_bulk_load.cpp
Labels: cpp, build

#1594 feat(slog): flush and remove all shared logs for garbage collection
  src/replica/duplication/load_from_private_log.cpp
  src/replica/duplication/load_from_private_log.h
  src/replica/duplication/test/duplication_test_base.h
  src/replica/log_file.cpp
  src/replica/log_file.h
  src/replica/mutation_log.cpp
  src/replica/mutation_log.h
  src/replica/mutation_log_replay.cpp
  src/replica/mutation_log_utils.cpp
  src/replica/mutation_log_utils.h
  src/replica/replica_stub.cpp
  src/replica/replica_stub.h
  src/replica/replication_app_base.cpp
  src/replica/test/mock_utils.h
  src/replica/test/mutation_log_test.cpp
  src/server/config.ini
  src/server/pegasus_server_impl.cpp
  src/server/test/config.ini
  src/utils/autoref_ptr.h
  src/utils/fmt_logging.h
Labels: cpp

#1617 refactor(aio_test): refactor aio unit test
  src/aio/native_linux_aio_provider.cpp
  src/aio/test/aio.cpp
Labels: cpp

#1620 refactor(simple_meta_state): use rocksdb API to read/write file
  src/meta/distributed_lock_service_simple.h
  src/meta/dump_file.h
  src/meta/meta_state_service_simple.cpp
  src/meta/meta_state_service_simple.h
  src/meta/test/meta_state/meta_state_service.cpp
Labels: cpp

#1621 refactor(nfs_test): make the tests more accurate and extendable
  src/nfs/test/main.cpp
Labels: cpp

#1622 refactor(simple_kv): use rocksdb API to read/write file
  src/replica/storage/simple_kv/CMakeLists.txt
  src/replica/storage/simple_kv/simple_kv.server.impl.cpp
  src/replica/storage/simple_kv/test/CMakeLists.txt
  src/replica/storage/simple_kv/test/case-000.ini
  src/replica/storage/simple_kv/test/case-001.ini
  src/replica/storage/simple_kv/test/case-002.ini
  src/replica/storage/simple_kv/test/case-003.ini
  src/replica/storage/simple_kv/test/case-004.ini
  src/replica/storage/simple_kv/test/case-005.ini
  src/replica/storage/simple_kv/test/case-006.ini
  src/replica/storage/simple_kv/test/case-100.ini
  src/replica/storage/simple_kv/test/case-101.ini
  src/replica/storage/simple_kv/test/case-102.ini
  src/replica/storage/simple_kv/test/case-103.ini
  src/replica/storage/simple_kv/test/case-104.ini
  src/replica/storage/simple_kv/test/case-105.ini
  src/replica/storage/simple_kv/test/case-106.ini
  src/replica/storage/simple_kv/test/case-107.ini
  src/replica/storage/simple_kv/test/case-108.ini
  src/replica/storage/simple_kv/test/case-109.ini
  src/replica/storage/simple_kv/test/case-200.ini
  src/replica/storage/simple_kv/test/case-201.ini
  src/replica/storage/simple_kv/test/case-202-0.ini
  src/replica/storage/simple_kv/test/case-202-1.ini
  src/replica/storage/simple_kv/test/case-203-0.ini
  src/replica/storage/simple_kv/test/case-204.ini
  src/replica/storage/simple_kv/test/case-205.ini
  src/replica/storage/simple_kv/test/case-206.ini
  src/replica/storage/simple_kv/test/case-207.ini
  src/replica/storage/simple_kv/test/case-208.ini
  src/replica/storage/simple_kv/test/case-209.ini
  src/replica/storage/simple_kv/test/case-210.ini
  src/replica/storage/simple_kv/test/case-211.ini
  src/replica/storage/simple_kv/test/case-212.ini
  src/replica/storage/simple_kv/test/case-213.ini
  src/replica/storage/simple_kv/test/case-214.ini
  src/replica/storage/simple_kv/test/case-215.ini
  src/replica/storage/simple_kv/test/case-216.ini
  src/replica/storage/simple_kv/test/case-300-0.ini
  src/replica/storage/simple_kv/test/case-300-1.ini
  src/replica/storage/simple_kv/test/case-300-2.ini
  src/replica/storage/simple_kv/test/case-301.ini
  src/replica/storage/simple_kv/test/case-302.ini
  src/replica/storage/simple_kv/test/case-303.ini
  src/replica/storage/simple_kv/test/case-304.ini
  src/replica/storage/simple_kv/test/case-305.ini
  src/replica/storage/simple_kv/test/case-306.ini
  src/replica/storage/simple_kv/test/case-307.ini
  src/replica/storage/simple_kv/test/case-400.ini
  src/replica/storage/simple_kv/test/case-401.ini
  src/replica/storage/simple_kv/test/case-402.ini
  src/replica/storage/simple_kv/test/case-600.ini
  src/replica/storage/simple_kv/test/case-601.ini
  src/replica/storage/simple_kv/test/case-602.ini
  src/replica/storage/simple_kv/test/case-603.ini
  src/replica/storage/simple_kv/test/run.sh
  src/replica/storage/simple_kv/test/simple_kv.server.impl.cpp
Labels: scripts, cpp, build

#1625 refactor(misc): use rocksdb API to read/write file
  src/block_service/test/CMakeLists.txt
  src/block_service/test/block_service_manager_test.cpp
  src/replica/bulk_load/test/CMakeLists.txt
  src/replica/bulk_load/test/replica_bulk_loader_test.cpp
  src/replica/duplication/test/load_from_private_log_test.cpp
  src/replica/test/CMakeLists.txt
  src/replica/test/mutation_log_test.cpp
  src/test/function_test/bulk_load/CMakeLists.txt
  src/test_util/CMakeLists.txt
  src/test_util/test_util.cpp
  src/test_util/test_util.h
  src/utils/test/CMakeLists.txt
Labels: cpp, build

#1624 refactor(file_system): use rocksdb API to read/write file
  src/replica/bulk_load/replica_bulk_loader.cpp
  src/replica/replica_restore.cpp
  src/server/pegasus_write_service_impl.h
  src/utils/filesystem.cpp
  src/utils/filesystem.h
  src/utils/test/file_system_test.cpp
  src/utils/test/file_utils.cpp
Labels: cpp

#1583 feat(http): implement http client based on libcurl
  src/http/http_call_registry.h
  src/http/http_client.cpp
  src/http/http_client.h
  src/http/http_message_parser.cpp
  src/http/http_method.h
  src/http/http_server.cpp
  src/http/http_server.h
  src/http/pprof_http_service.cpp
  src/http/test/CMakeLists.txt
  src/http/test/config-test.ini
  src/http/test/http_client_test.cpp
  src/http/test/http_server_test.cpp
  src/http/test/main.cpp
  src/utils/error_code.h
  src/utils/errors.h
  src/utils/metrics.cpp
  src/utils/test/metrics_test.cpp
  thirdparty/CMakeLists.txt
Labels: thirdparty, cpp, build
