Repository apache/incubator-pegasus, pull requests merged in 2023-06, with the labels that each got.

#1502 feat(new_metrics): migrate metrics for failure detector
  src/failure_detector/failure_detector.cpp
  src/failure_detector/failure_detector.h
  src/utils/metrics.h
Labels: cpp

#1500 feat(Ranger): remove ACL of RPC_CM_LIST_APPS from global resource
  src/runtime/ranger/ranger_resource_policy_manager.cpp
  src/runtime/test/ranger_resource_policy_manager_test.cpp
Labels: cpp

#1504 feat(new_metrics): migrate metrics for network
  src/runtime/rpc/network.cpp
  src/runtime/rpc/network.h
  src/runtime/rpc/rpc_message.cpp
  src/utils/metrics.h
Labels: cpp

#1499 fix: fix start_onebox failed because of libjvm.so not found (#1494)
  run.sh
Labels: scripts, build

#1509 refactor: remove counter_info and counter_info_ptr
  src/runtime/profiler.cpp
  src/runtime/profiler_header.h
Labels: cpp

#1514 fix: fix install zookeeper client
  scripts/start_zk.sh
Labels: scripts

#1516 chore: update rocksdb install url on thirdparty
  thirdparty/CMakeLists.txt
Labels: thirdparty, build

#1517 feat: Aggregate table/server level metrics
  collector/avail/detector.go
  collector/config.yml
  collector/main.go
  collector/metrics/meta_server_metrics.go
  collector/metrics/metric_collector.go
  collector/metrics/replica_server_metrics.go
  collector/sink/falcon_sink.go
  collector/sink/prometheus_sink.go
  collector/sink/sink.go
Labels: collector

#1519 chore(build): separate the build directory of IWYU version
  run.sh
Labels: scripts, build

#1512 feat: skip IO_ERROR dir_node when assign replicas
  idl/metadata.thrift
  src/common/fs_manager.cpp
  src/common/fs_manager.h
  src/common/replication_enums.h
  src/common/test/fs_manager_test.cpp
  src/replica/disk_cleaner.cpp
  src/replica/replica_2pc.cpp
  src/replica/replica_check.cpp
  src/replica/replica_context.cpp
  src/replica/replica_context.h
  src/replica/replica_disk_migrator.cpp
  src/replica/replica_stub.cpp
  src/replica/test/replica_disk_test.cpp
  src/utils/error_code.h
Labels: cpp, thrift

#1496 feat(FQDN): serialization format rpc_host_port
  idl/dsn.thrift
  src/common/serialization_helper/thrift_helper.h
  src/runtime/rpc/rpc_host_port.h
  src/runtime/test/host_port_test.cpp
  src/runtime/test/test_utils.h
Labels: cpp, thrift

#1521 fix: fix invaild build type
  run.sh
Labels: scripts, build

#1524 feat(new_metrics): migrate metrics for profiler
  src/common/fs_manager.h
  src/runtime/profiler.cpp
  src/runtime/profiler_header.h
  src/utils/metrics.h
Labels: cpp

#1528 fix(new_metrics): profiled tasks are measured by the wrong metrics
  src/runtime/profiler.cpp
  src/runtime/profiler_header.h
Labels: cpp

#1531 feat(new_metrics): remove all table-level perf-counters for each replica
  src/replica/replica.cpp
  src/replica/replica.h
Labels: cpp

#1530 fix(github): throttle_test failed frequently due to insufficient disk space
  .github/workflows/lint_and_test_cpp.yaml
  run.sh
  src/server/config.min.ini
  src/test/function_test/config.ini
  src/test/function_test/run.sh
  src/test/function_test/throttle_test/test_throttle.cpp
Labels: github, scripts, cpp, build

#1533 refactor(new_metrics): remove perf-counters that are still used in shared log
  src/replica/mutation_log.cpp
  src/replica/mutation_log.h
Labels: cpp

#1518 feat(Ranger): refactor the logic when ranger performs ACL
  src/runtime/ranger/access_type.h
  src/runtime/ranger/ranger_resource_policy.cpp
  src/runtime/ranger/ranger_resource_policy.h
  src/runtime/ranger/ranger_resource_policy_manager.cpp
  src/runtime/ranger/ranger_resource_policy_manager.h
  src/runtime/security/meta_access_controller.cpp
  src/runtime/security/replica_access_controller.cpp
  src/runtime/security/replica_access_controller.h
  src/runtime/test/ranger_resource_policy_manager_test.cpp
  src/runtime/test/ranger_resource_policy_test.cpp
Labels: cpp

#1540 feat(new_metrics): remove http service for perf counters
  src/http/builtin_http_calls.cpp
  src/http/builtin_http_calls.h
  src/http/perf_counter_http_service.cpp
  src/http/test/perf_counter_http_service_test.cpp
  src/perf_counter/perf_counters.cpp
  src/perf_counter/perf_counters.h
  src/perf_counter/test/perf_counters_test.cpp
Labels: cpp
