Repository apache/incubator-pegasus, pull requests merged in 2024-05, with the labels that each got.

#1993 feat(duplication): allow remote replica count to be specified for duplication
  idl/duplication.thrift
  src/client/replication_ddl_client.cpp
  src/client/replication_ddl_client.h
  src/common/duplication_common.cpp
  src/meta/duplication/duplication_info.cpp
  src/meta/duplication/duplication_info.h
  src/meta/duplication/meta_duplication_service.cpp
  src/meta/duplication/meta_duplication_service.h
  src/meta/test/duplication_info_test.cpp
  src/meta/test/meta_duplication_service_test.cpp
  src/shell/command_helper.h
  src/shell/commands/duplication.cpp
  src/shell/commands/local_partition_split.cpp
  src/shell/main.cpp
Labels: cpp, thrift

#1996 feat(plog): garbage collection is allowed to be enabled/disabled for plog
  src/replica/replica.cpp
  src/replica/replica.h
  src/replica/replica_chkpt.cpp
  src/replica/replica_config.cpp
  src/replica/replica_stub.cpp
Labels: type/config-change, cpp

#1999 feat(encryption): add a new security configuration for encryption key
  src/replica/replica_stub.cpp
  src/security/access_controller.cpp
Labels: type/config-change, cpp

#2005 refactor(encryption): change default value of encryption_method from AES128 to AES256
  src/utils/env.cpp
Labels: cpp

#2000 feat(duplication): add options to support cluster name only used for duplication and allow any other cluster id except myself to be ignored
  src/common/common.cpp
  src/common/common.h
  src/common/duplication_common.cpp
  src/common/duplication_common.h
  src/common/test/common_test.cpp
  src/common/test/duplication_common_test.cpp
  src/meta/duplication/meta_duplication_service.cpp
  src/server/pegasus_mutation_duplicator.cpp
  src/server/pegasus_write_service.cpp
  src/server/pegasus_write_service.h
  src/server/pegasus_write_service_impl.h
  src/server/rocksdb_wrapper.cpp
  src/server/test/pegasus_mutation_duplicator_test.cpp
  src/test_util/test_util.h
  src/utils/fmt_logging.h
Labels: type/config-change, cpp

#2011 feat: Add 2 options to limit thread count
  src/server/pegasus_server_impl_init.cpp
Labels: cpp

#2013 fix(aarch64): Fix build failure on ARM architecture chips
  thirdparty/CMakeLists.txt
Labels: thirdparty, build

#2016 fix(aarch64): Set the correct LD_LIBRARY_PATH for aarch64 platforms
  run.sh
Labels: scripts, build

#2020 feat: Add some useful time and filesystem utilies
  src/utils/filesystem.cpp
  src/utils/filesystem.h
  src/utils/test/file_system_test.cpp
  src/utils/test/time_utils_test.cpp
  src/utils/time_utils.cpp
  src/utils/time_utils.h
Labels: cpp

#2019 fix(ut): fix the dsn.meta.test using a directorty may has not permission
  src/common/fs_manager.cpp
  src/meta/test/misc/misc.cpp
Labels: cpp

#2021 feat(logging): Support to specify log directory
  src/runtime/global_config.h
  src/runtime/service_api_c.cpp
  src/utils/config_helper.h
  src/utils/logging.cpp
  src/utils/logging_provider.h
Labels: cpp

#2022 refactor(logging): Minor refactor on logging module
  src/runtime/service_api_c.cpp
  src/utils/simple_logger.cpp
  src/utils/simple_logger.h
Labels: cpp

#2024 feat(logging): Fill timestamp in log file name and limit single file size and total count
  src/runtime/tracer.cpp
  src/utils/simple_logger.cpp
  src/utils/simple_logger.h
  src/utils/test/logger.cpp
Labels: type/config-change, cpp

#2023 refactor(host_port): Unify the hostname lookup function
  src/base/pegasus_utils.cpp
  src/base/pegasus_utils.h
  src/runtime/rpc/rpc_host_port.cpp
  src/runtime/rpc/rpc_host_port.h
  src/runtime/test/host_port_test.cpp
  src/utils/test/hostname_test.cpp
  src/utils/utils.cpp
  src/utils/utils.h
Labels: cpp

#2008 feat(restore): Add 'restore_path' parameter for 'restore' command in Cpp CLI tool
  src/client/replication_ddl_client.h
  src/shell/commands/cold_backup.cpp
  src/shell/main.cpp
  src/test/function_test/restore/test_restore.cpp
Labels: cpp

#2010 feat: Distinguish log file names
  src/failure_detector/test/run.sh
  src/meta/test/meta_state/run.sh
  src/meta/test/run.sh
  src/replica/backup/test/run.sh
  src/replica/bulk_load/test/run.sh
  src/replica/duplication/test/run.sh
  src/replica/split/test/run.sh
  src/replica/storage/simple_kv/run.sh
  src/replica/storage/simple_kv/test/run.sh
  src/runtime/service_api_c.cpp
  src/runtime/test/run.sh
  src/runtime/tracer.cpp
  src/utils/logging.cpp
  src/utils/logging_provider.h
  src/utils/simple_logger.cpp
  src/utils/simple_logger.h
  src/utils/test/clear.sh
  src/utils/test/logger.cpp
  src/utils/test/main.cpp
  src/utils/test/run.sh
  src/zookeeper/test/run.sh
Labels: scripts, cpp

#2029 fix(backup): validate backup policy name
  src/meta/CMakeLists.txt
  src/meta/meta_backup_service.cpp
  src/meta/meta_backup_service.h
  src/meta/test/meta_backup_test.cpp
Labels: cpp, build

#2026 fix(duplication): fix the table name while checking if the table of the remote cluster has been created completely
  src/meta/duplication/meta_duplication_service.cpp
Labels: type/bug-fix

#2027 fix(duplication): parameters are not recognized while parsing add_dup shell command
  src/meta/meta_backup_service.cpp
  src/shell/command_helper.h
  src/shell/commands/duplication.cpp
Labels: type/bug-fix, cpp

#2033 fix(duplication): use get_current_dup_cluster_name() instead of get_current_cluster_name() for duplication
  src/meta/duplication/meta_duplication_service.cpp
  src/meta/test/meta_duplication_service_test.cpp
Labels: type/bug-fix, cpp

#2032 chore(CI): Add building debug version job on CentOS 7 and fix link errors
  .github/workflows/lint_and_test_cpp.yaml
  thirdparty/CMakeLists.txt
Labels: thirdparty, github, build

#2035 feat(build): Support to specify THIRDPARTY_ROOT by setting the environment variable
  CMakeLists.txt
  run.sh
  scripts/compile_thrift.py
  scripts/pack_client.sh
  scripts/pack_server.sh
  scripts/pack_tools.sh
  scripts/recompile_thrift.sh
  src/sample/run.sh
Labels: scripts, build

#2030 feat(shell): Add JSON format data output to some backup_policy commands
  src/client/replication_ddl_client.cpp
  src/client/replication_ddl_client.h
  src/meta/meta_backup_service.cpp
  src/shell/commands/cold_backup.cpp
  src/shell/main.cpp
Labels: cpp

#2034 chore(pack): Support to pack server binaries separately
  .github/actions/build_pegasus/action.yaml
  .github/workflows/lint_and_test_cpp.yaml
  scripts/pack_client.sh
  scripts/pack_common.sh
  scripts/pack_server.sh
  scripts/pack_tools.sh
Labels: github, scripts
