Repository apache/incubator-pegasus, pull requests merged in 2024-09, with the labels that each got.

#2110 fix(blob): allow `blob` object to be initialized with null-pointer char array whose length must be zero
  src/utils/blob.h
  src/utils/test/blob_test.cpp
Labels: type/bug-fix, cpp

#2120 chore(CI): Update actions/labeler configuration file
  .github/workflows/module_labeler_conf.yml
Labels: github

#2122 refactor(java-client): optimize the code style for checking if the list is empty
  java-client/src/main/java/org/apache/pegasus/client/PegasusTable.java
Labels: java-client

#2123 refactor(java-client): introduce validateHashKey() to simplify code
  java-client/src/main/java/org/apache/pegasus/client/PegasusTable.java
Labels: java-client

#2125 fix(build): Fix a linkage error of thrift
  .licenserc.yaml
  thirdparty/CMakeLists.txt
  thirdparty/fix_thrift_build_and_link_errors.patch
Labels: thirdparty, build

#2037 feat(thirdparty): Bump Hadoop to 3.3.6
  .github/actions/rebuild_thirdparty_if_needed/action.yaml
  .github/actions/upload_artifact/action.yaml
  .licenserc.yaml
  admin_tools/clear_zk.sh
  admin_tools/download_hadoop.sh
  admin_tools/download_package.sh
  admin_tools/download_zk.sh
  admin_tools/start_zk.sh
  admin_tools/stop_zk.sh
  build_tools/pack_server.sh
  build_tools/pack_tools.sh
  docker/thirdparties-bin/Dockerfile
  run.sh
  src/sample/run.sh
  src/test/function_test/recovery/test_recovery.cpp
  thirdparty/CMakeLists.txt
  thirdparty/fix_hdfs_native_client.patch
Labels: thirdparty, github, docker, scripts, cpp, build

#2127 fix(github): zookeeper-bin cannot be found while uploading artifact
  .github/actions/rebuild_thirdparty_if_needed/action.yaml
  .github/actions/upload_artifact/action.yaml
Labels: github
