Repository apache/incubator-pegasus, pull requests merged in 2024-12, with the labels that each got.

#2163 feat(duplication): support duplication entry for multiple purposes
  idl/duplication.thrift
  src/common/duplication_common.cpp
  src/meta/duplication/duplication_info.cpp
  src/meta/duplication/duplication_info.h
  src/meta/duplication/meta_duplication_service.cpp
  src/meta/test/duplication_info_test.cpp
  src/meta/test/meta_duplication_service_test.cpp
  src/replica/duplication/replica_duplicator_manager.cpp
Labels: component/duplication, cpp, thrift

#2161 feat(new_metircs): collect the number of primary and secondary replicas
  src/replica/replica_stub.cpp
  src/replica/replica_stub.h
Labels: cpp

#2164 feat(duplication): add a new RPC to list duplications for one or multiple tables with specified pattern
  .clang-tidy
  build_tools/clang_tidy.py
  idl/duplication.thrift
  idl/meta_admin.thrift
  idl/utils.thrift
  src/client/replication_ddl_client.cpp
  src/client/replication_ddl_client.h
  src/common/CMakeLists.txt
  src/common/duplication_common.h
  src/common/replication.codes.h
  src/meta/duplication/duplication_info.cpp
  src/meta/duplication/meta_duplication_service.cpp
  src/meta/duplication/meta_duplication_service.h
  src/meta/meta_service.cpp
  src/meta/meta_service.h
  src/meta/test/meta_duplication_service_test.cpp
  src/meta/test/meta_test_base.cpp
  src/meta/test/meta_test_base.h
  src/replica/replica_backup.cpp
  src/rpc/rpc_message.cpp
  src/runtime/service_engine.cpp
  src/server/pegasus_server_impl.cpp
  src/server/pegasus_server_impl.h
  src/server/result_writer.cpp
  src/shell/command_utils.h
  src/utils/error_code.h
  src/utils/strings.cpp
  src/utils/strings.h
  src/utils/test/utils.cpp
Labels: component/duplication, scripts, cpp, build, thrift

#2158 fix: fix some build errors on the latest MacOS
  src/meta/meta_state_service_simple.cpp
  src/meta/meta_state_service_simple.h
  src/meta/test/balancer_validator.cpp
  src/replica/prepare_list.cpp
  src/test/bench_test/benchmark.cpp
Labels: cpp

#2165 feat(duplication): add a new command to shell to list duplications for one or multiple tables
  idl/duplication.thrift
  src/client/replication_ddl_client.cpp
  src/meta/duplication/meta_duplication_service.cpp
  src/shell/command_helper.h
  src/shell/command_utils.cpp
  src/shell/command_utils.h
  src/shell/commands.h
  src/shell/commands/detect_hotkey.cpp
  src/shell/commands/duplication.cpp
  src/shell/commands/node_management.cpp
  src/shell/commands/table_management.cpp
  src/shell/main.cpp
  src/utils/output_utils.cpp
  src/utils/output_utils.h
  src/utils/strings.h
Labels: component/duplication, component/shell, cpp, thrift

#2157 fix(bulkload): Sometime ingest will hang when encountering write throttling
  src/replica/replica_2pc.cpp
Labels: cpp

#2166 fix(shell): fix the validation for the command while there is not any positional argument
  src/replica/replica_backup.cpp
  src/shell/command_utils.h
  src/shell/commands/detect_hotkey.cpp
  src/shell/commands/duplication.cpp
Labels: component/duplication, component/shell, type/bug-fix, cpp

#2169 feat: introduce a new task code for replicas stat
  src/common/replication.codes.h
  src/replica/replica_stub.cpp
  src/replica/replica_stub.h
Labels: type/config-change, cpp

#2170 fix(meta): fix null pointer while deleting environment variables after table was dropped
  src/meta/server_state.cpp
  src/meta/test/server_state_test.cpp
Labels: type/bug-fix, cpp

#2078 perf: enhance the loading process of replicas particularly when a significant number of replicas are spread across multiple disks
  .clang-tidy
  build_tools/clang_tidy.py
  src/common/replication.codes.h
  src/meta/meta_service.cpp
  src/replica/replica.h
  src/replica/replica_stub.cpp
  src/replica/replica_stub.h
  src/replica/test/config-test.ini
  src/replica/test/load_replicas_test.cpp
  src/replica/test/replica_dir_test.cpp
  src/server/result_writer.cpp
  src/test_util/test_util.h
  src/utils/autoref_ptr.h
  src/utils/command_manager.h
  src/utils/time_utils.h
Labels: type/performance, type/config-change, scripts, cpp
