Repository apache/incubator-pegasus, pull requests merged in 2024-06, with the labels that each got.

#2038 fix(duplication): add warning message while trying to add a duplication that has been existing for the same table with the same remote cluster
  src/meta/duplication/meta_duplication_service.cpp
  src/meta/duplication/meta_duplication_service.h
  src/meta/test/meta_duplication_service_test.cpp
  src/shell/command_helper.h
  src/shell/commands/duplication.cpp
  src/utils/error_code.h
Labels: component/shell, type/bug-fix, cpp

#2040 fix(shell): Add PARSE_OPT_STRS marco for shell command execute flag input mode
  src/shell/command_helper.h
  src/shell/commands/cold_backup.cpp
Labels: cpp

#1917 chore(go-client): add generation thrift files of go-client
  .gitignore
  .licenserc.yaml
  go-client/admin/client_test.go
  go-client/idl/admin/GoUnusedProtection__.go
  go-client/idl/admin/backup-consts.go
  go-client/idl/admin/backup.go
  go-client/idl/admin/bulk_load-consts.go
  go-client/idl/admin/bulk_load.go
  go-client/idl/admin/duplication-consts.go
  go-client/idl/admin/duplication.go
  go-client/idl/admin/meta_admin-consts.go
  go-client/idl/admin/meta_admin.go
  go-client/idl/admin/metadata-consts.go
  go-client/idl/admin/metadata.go
  go-client/idl/admin/partition_split-consts.go
  go-client/idl/admin/partition_split.go
  go-client/idl/cmd/GoUnusedProtection__.go
  go-client/idl/cmd/command-consts.go
  go-client/idl/cmd/command.go
  go-client/idl/radmin/GoUnusedProtection__.go
  go-client/idl/radmin/replica_admin-consts.go
  go-client/idl/radmin/replica_admin.go
  go-client/idl/replication/GoUnusedProtection__.go
  go-client/idl/replication/dsn.layer2-consts.go
  go-client/idl/replication/dsn.layer2.go
  go-client/idl/rrdb/GoUnusedProtection__.go
  go-client/idl/rrdb/meta-remote/meta-remote.go
  go-client/idl/rrdb/rrdb-consts.go
  go-client/idl/rrdb/rrdb-remote/rrdb-remote.go
  go-client/idl/rrdb/rrdb.go
Labels: go-client

#1916 fix(go-client): update config once replica server failed and forward to primary meta server if it was changed
  go-client/pegasus/table_connector.go
  go-client/pegasus/table_connector_test.go
  go-client/session/meta_call.go
  go-client/session/meta_session.go
  go-client/session/meta_session_test.go
Labels: go-client

#2044 fix(FQDN): Fix the bug of crash caused by un-resolved IP address
  src/client/replication_ddl_client.cpp
  src/failure_detector/test/failure_detector.cpp
  src/meta/meta_bulk_load_service.cpp
  src/meta/server_state.cpp
  src/redis_protocol/proxy_lib/proxy_layer.cpp
  src/redis_protocol/proxy_lib/proxy_layer.h
  src/replica/storage/simple_kv/test/case.cpp
  src/runtime/rpc/asio_net_provider.cpp
  src/runtime/rpc/asio_net_provider.h
  src/runtime/rpc/group_host_port.h
  src/runtime/rpc/network.cpp
  src/runtime/rpc/network.sim.cpp
  src/runtime/rpc/rpc_engine.cpp
  src/runtime/rpc/rpc_host_port.cpp
  src/runtime/rpc/rpc_message.h
  src/runtime/service_api_c.cpp
  src/runtime/test/host_port_test.cpp
Labels: cpp

#2046 chore: fix dead link open-falcon.org
  java-client/README.md
  rfcs/2020-08-27-metric-api.md
Labels: docs, java-client

#2045 feat(remote_command): provide the query for the progress of decrees including both local writes and duplications
  src/common/json_helper.h
  src/replica/duplication/replica_duplicator.h
  src/replica/duplication/replica_duplicator_manager.cpp
  src/replica/duplication/replica_duplicator_manager.h
  src/replica/replica.cpp
  src/replica/replica.h
  src/replica/replica_stub.cpp
  src/replica/replication_app_base.h
  src/replica/storage/simple_kv/simple_kv.server.impl.h
  src/replica/storage/simple_kv/test/simple_kv.server.impl.h
  src/replica/test/mock_utils.h
  src/server/pegasus_server_impl.cpp
  src/server/pegasus_server_impl.h
Labels: cpp

#2048 fix(duplication): reduce the delay before last mutation is duplicated to the remote cluster
  src/common/consensus.thrift
  src/replica/duplication/duplication_pipeline.cpp
  src/replica/duplication/mutation_batch.cpp
  src/replica/duplication/mutation_batch.h
  src/replica/duplication/replica_duplicator.h
  src/replica/duplication/test/duplication_test_base.h
  src/replica/duplication/test/mutation_batch_test.cpp
  src/replica/mutation_log.cpp
  src/replica/mutation_log.h
  src/replica/replica.h
  src/replica/test/mutation_log_test.cpp
  src/replica/test/replica_test_base.h
Labels: component/duplication, type/bug-fix, cpp, thrift

#1997 feat(java-client): add maven-thrift-plugin
  .github/workflows/lint_and_test_java-client.yml
  java-client/README.md
  java-client/pom.xml
  java-client/scripts/download_thrift.sh
Labels: docs, github, java-client, scripts
