Repository apache/incubator-pegasus, pull requests merged in 2024-07, with the labels that each got.

#2053 chore(run.sh): create a symbolic link of pegasus_shell only doesnt exist
  run.sh
Labels: scripts, build

#2055 fix: Fix a typo in log when [network].enable_udp is disabled
  src/runtime/task/task_spec.cpp
Labels: cpp

#2056 fix(scripts): fix downgrade_node script doesnt work
  scripts/downgrade_node.sh
Labels: scripts

#2057 feat(backup): Add --force option for 'disable_backup_policy' shell command
  idl/backup.thrift
  src/client/replication_ddl_client.cpp
  src/client/replication_ddl_client.h
  src/meta/meta_backup_service.cpp
  src/shell/commands.h
  src/shell/commands/cold_backup.cpp
  src/shell/main.cpp
Labels: cpp, thrift

#2059 fix(backup): Fix the stack overflow when read large sst file
  src/block_service/hdfs/hdfs_service.cpp
Labels: cpp

#2058 feat(remote_command): change some remote_command shell output to JSON format
  src/nfs/nfs_client_impl.cpp
  src/nfs/nfs_server_impl.cpp
  src/utils/command_manager.cpp
  src/utils/command_manager.h
Labels: cpp

#2060 fix(rocksdb): fix the problem that the usage of block cache is not set for the metric
  src/server/pegasus_server_impl.cpp
Labels: type/bug-fix, cpp

#2054 fix(duplication): create checkpoint for the replica with 0 or 1 record
  src/replica/duplication/replica_duplicator.cpp
  src/replica/duplication/replica_duplicator.h
  src/replica/duplication/test/duplication_test_base.h
  src/replica/duplication/test/replica_duplicator_test.cpp
  src/replica/replica.h
  src/replica/replica_chkpt.cpp
  src/replica/test/mock_utils.h
  src/replica/test/replica_test.cpp
  src/utils/errors.h
Labels: type/bug-fix, type/config-change, cpp

#2065 chore(CI): Add envs in build_debug_on_centos7 to ensure job can be run on centOS 7
  .github/workflows/lint_and_test_cpp.yaml
Labels: github

#2070 chore(CI): Force CI to run on node16
  .github/workflows/build-push-env-docker.yml
  .github/workflows/regular-build.yml
  .github/workflows/thirdparty-regular-push.yml
Labels: github

#2072 chore(CI): Force to use actions/checkout@v3 when OS maybe CentOS 7 or Ubuntu 18.04
  .github/workflows/build-push-env-docker.yml
  .github/workflows/regular-build.yml
  .github/workflows/thirdparty-regular-push.yml
Labels: github

#2074 fix(CI): fix java regular workflow
  .github/workflows/regular-build.yml
Labels: github

#2064 refactor(FQDN): update some logs in cpp-shell CLI
  src/shell/command_utils.cpp
  src/shell/command_utils.h
  src/shell/commands/detect_hotkey.cpp
  src/shell/commands/node_management.cpp
  src/shell/commands/recovery.cpp
  src/shell/main.cpp
Labels: cpp

#2075 fix(Dockerfile): Fix the yum install failure caused by its EOL
  docker/pegasus-build-env/centos7/Dockerfile
Labels: docker

#2052 refactor(shell): Refactor on 'remote_command' command
  src/shell/commands/node_management.cpp
  src/utils/command_manager.h
Labels: cpp

#2079 feat(logging): Make it possible to print logs to stderr when using screen_logger
  src/utils/logging_provider.h
  src/utils/simple_logger.cpp
  src/utils/simple_logger.h
  src/utils/test/fmt_logging_test.cpp
Labels: cpp

#2081 feat(docker): support arm64
  .github/workflows/build-push-env-docker.yml
Labels: github

#2076 feat(util): Introduce map utilities
  .licenserc.yaml
  LICENSE
  src/CMakeLists.txt
  src/base/idl_utils.h
  src/common/duplication_common.cpp
  src/gutil/CMakeLists.txt
  src/gutil/map_traits.h
  src/gutil/map_util.h
  src/gutil/no_destructor.h
  src/gutil/test/CMakeLists.txt
  src/gutil/test/main.cpp
  src/gutil/test/map_traits_test.cpp
  src/gutil/test/map_util_test.h
  src/gutil/test/map_util_unittest.cpp
  src/gutil/test/no_destructor_test.cpp
  src/gutil/test/run.sh
  src/http/http_call_registry.h
  src/http/http_server.cpp
  src/meta/app_balance_policy.cpp
  src/meta/app_env_validator.cpp
  src/meta/cluster_balance_policy.cpp
  src/meta/duplication/meta_duplication_service.cpp
  src/meta/test/cluster_balance_policy_test.cpp
  src/meta/test/meta_bulk_load_ingestion_test.cpp
  src/meta/test/meta_bulk_load_service_test.cpp
  src/nfs/nfs_server_impl.cpp
  src/replica/replica_config.cpp
  src/utils/metrics.h
  src/utils/test/logger.cpp
  src/utils/test/metrics_test.cpp
Labels: scripts, cpp, build
