Repository apache/incubator-pegasus, pull requests merged in 2024-10, with the labels that each got.

#2134 fix(github): fix redundant `hadoop-bin` while uploading artifact and build `thirdparties-src` image on each OS version
  .github/actions/rebuild_thirdparty_if_needed/action.yaml
  .github/actions/unpack_prebuilt_thirdparties/action.yaml
  .github/actions/upload_artifact/action.yaml
  .github/workflows/lint_and_test_cpp.yaml
  .github/workflows/thirdparty-regular-push.yml
  admin_tools/download_hadoop.sh
  admin_tools/download_package.sh
  admin_tools/download_zk.sh
  docker/README.md
  docker/thirdparties-bin/Dockerfile
  docker/thirdparties-src/Dockerfile
Labels: docs, type/bug-fix, github, docker, scripts

#2132 fix(java-client): fix `Negotiation failed` after a session with authentication enabled is closed
  java-client/src/main/java/org/apache/pegasus/rpc/async/ReplicaSession.java
  java-client/src/main/java/org/apache/pegasus/security/AuthReplicaSessionInterceptor.java
  java-client/src/test/java/org/apache/pegasus/rpc/async/ReplicaSessionTest.java
Labels: java-client

#2138 feat(backup): 1. remove pervious implementation on new backup dev branch
  src/meta/meta_backup_service.cpp
  src/meta/meta_backup_service.h
  src/meta/meta_http_service.cpp
  src/meta/meta_service.cpp
  src/meta/meta_service.h
  src/meta/test/backup_test.cpp
  src/meta/test/json_compacity.cpp
  src/meta/test/meta_backup_test.cpp
  src/meta/test/meta_http_service_test.cpp
  src/meta/test/server_state_restore_test.cpp
  src/replica/CMakeLists.txt
  src/replica/backup/cold_backup_context.cpp
  src/replica/backup/cold_backup_context.h
  src/replica/backup/replica_backup_manager.cpp
  src/replica/backup/replica_backup_manager.h
  src/replica/backup/replica_backup_server.cpp
  src/replica/backup/replica_backup_server.h
  src/replica/backup/test/replica_backup_manager_test.cpp
  src/replica/duplication/test/duplication_test_base.h
  src/replica/replica.h
  src/replica/replica_backup.cpp
  src/replica/replica_config.cpp
  src/replica/replica_init.cpp
  src/replica/replica_restore.cpp
  src/replica/replica_stub.cpp
  src/replica/replica_stub.h
  src/replica/test/backup_block_service_mock.h
  src/replica/test/cold_backup_context_test.cpp
  src/replica/test/main.cpp
  src/replica/test/mock_utils.h
  src/replica/test/replica_test.cpp
  src/replica/test/replica_test_base.h
  src/replica/test/replication_service_test_app.h
  src/test/function_test/backup_restore/test_backup_and_restore.cpp
  src/test/function_test/restore/test_restore.cpp
Labels: cpp, build
