Repository apache/incubator-pegasus, pull requests merged in 2024-11, with the labels that each got.

#2144 fix(duplication): dup would get stuck in `DS_PREPARE` indefinitely once some error occurred during creating follower table
  .clang-tidy
  build_tools/clang_tidy.py
  src/common/duplication_common.cpp
  src/common/duplication_common.h
  src/meta/app_env_validator.cpp
  src/meta/duplication/meta_duplication_service.cpp
  src/meta/duplication/meta_duplication_service.h
  src/meta/server_state.cpp
  src/meta/server_state.h
  src/meta/test/meta_app_operation_test.cpp
  src/meta/test/meta_duplication_service_test.cpp
  src/meta/test/meta_state/meta_state_service.cpp
  src/replica/duplication/replica_follower.cpp
  src/replica/duplication/test/replica_follower_test.cpp
  src/replica/replica_stub.cpp
  src/rpc/rpc_stream.h
  src/utils/binary_writer.cpp
  src/utils/binary_writer.h
  src/utils/fmt_utils.h
  src/utils/ports.h
Labels: component/duplication, type/bug-fix, scripts, cpp

#2145 ci: fix the workflow building images of compilation environment for centos7 on Github
  .github/workflows/build-push-env-docker.yml
Labels: github

#2148 fix(meta): meta server failed and could not be started normally while setting environment variables after dropping table
  src/meta/meta_service.h
  src/meta/server_state.cpp
  src/meta/server_state.h
  src/meta/test/meta_service_test_app.h
  src/meta/test/server_state_test.cpp
  src/meta/test/state_sync_test.cpp
  src/utils/fail_point.h
Labels: type/bug-fix, cpp

#2150 ci: recover the workflows building thirdparty images for centos7 on Github
  .github/workflows/thirdparty-regular-push.yml
Labels: thirdparty, github

#2154 fix(download): fix the broken download URL of thrift 0.11.0 tarball
  docker/pegasus-build-env/centos7/Dockerfile
  docker/pegasus-build-env/ubuntu1804/Dockerfile
  docker/pegasus-build-env/ubuntu2004/Dockerfile
  docker/pegasus-build-env/ubuntu2204/Dockerfile
  java-client/scripts/download_thrift.sh
Labels: docker, java-client, scripts
