Repository apache/incubator-pegasus, pull requests merged in 2024-08, with the labels that each got.

#2084 feat(logging): Introduce spdlog to thirdparty
  thirdparty/CMakeLists.txt
Labels: thirdparty, build

#2086 chore(CI): Reduce the target size when build on GitHub actions
  cmake_modules/BaseFunctions.cmake
Labels: build

#2090 fix(gutil): Fix the key doesn't print when check failed
  src/gutil/map_util.h
Labels: cpp

#2087 feat(logging): Move the logger remote_command handler to command_manager
  src/utils/command_manager.cpp
  src/utils/command_manager.h
  src/utils/logging_provider.h
  src/utils/simple_logger.cpp
  src/utils/test/logger.cpp
Labels: cpp

#2094 chore(CI): Introduce clang tidy linter
  .clang-tidy
  .github/workflows/lint_and_test_cpp.yaml
  run.sh
  scripts/clang_tidy.py
Labels: github, scripts, build

#2096 refactor(scripts): Separate admin and build scripts to independent directories
  .github/actions/rebuild_thirdparty_if_needed/action.yaml
  .github/workflows/lint_and_test_cpp.yaml
  .github/workflows/module_labeler_conf.yml
  .github/workflows/regular-build.yml
  .licenserc.yaml
  LICENSE
  admin_tools/config_hdfs.sh
  admin_tools/downgrade_node.sh
  admin_tools/learn_stat.py
  admin_tools/migrate_node.sh
  admin_tools/minos_common.sh
  admin_tools/pegasus_add_node_list.sh
  admin_tools/pegasus_bench_run.sh
  admin_tools/pegasus_check_arguments.sh
  admin_tools/pegasus_kill_test.sh
  admin_tools/pegasus_manual_compact.sh
  admin_tools/pegasus_migrate_zookeeper.sh
  admin_tools/pegasus_offline_node.sh
  admin_tools/pegasus_offline_node_list.sh
  admin_tools/pegasus_rebalance_cluster.sh
  admin_tools/pegasus_replica_thread.sh
  admin_tools/pegasus_restart_node.sh
  admin_tools/pegasus_rolling_update.sh
  admin_tools/pegasus_set_usage_scenario.sh
  admin_tools/pegasus_stat_available.sh
  admin_tools/pegasus_update_ingest_behind.sh
  admin_tools/sendmail.sh
  build_tools/bump_version.sh
  build_tools/check_license.py
  build_tools/clang_tidy.py
  build_tools/clear_zk.sh
  build_tools/collector_table_counter_gen.py
  build_tools/compile_thrift.py
  build_tools/download_hadoop.sh
  build_tools/download_package.sh
  build_tools/download_zk.sh
  build_tools/format_files.sh
  build_tools/pack_client.sh
  build_tools/pack_common.sh
  build_tools/pack_server.sh
  build_tools/pack_tools.sh
  build_tools/recompile_thrift.sh
  build_tools/redis_proto_check.py
  build_tools/run-clang-format.py
  build_tools/start_zk.sh
  build_tools/stop_zk.sh
  docker/thirdparties-bin/Dockerfile
  java-client/README.md
  run.sh
  src/replica/replica.h
Labels: docs, github, docker, java-client, scripts, cpp, build

#2093 fix(duplication): fix unexpected ERR_NOT_ENOUGH_MEMBER while checking if the remote table with only one replica is ready for duplication
  src/meta/duplication/duplication_info.cpp
  src/meta/duplication/meta_duplication_service.cpp
  src/meta/test/meta_duplication_service_test.cpp
  src/meta/test/meta_test_base.cpp
  src/meta/test/meta_test_base.h
Labels: component/duplication, type/bug-fix, cpp

#2088 fix(duplication): fix the dangling pointer after `blob` object is moved
  .clang-tidy
  build_tools/clang_tidy.py
  src/replica/duplication/mutation_batch.cpp
  src/replica/duplication/test/duplication_test_base.h
  src/replica/duplication/test/load_from_private_log_test.cpp
  src/replica/duplication/test/mutation_batch_test.cpp
  src/replica/mutation_log_replay.cpp
  src/replica/test/log_block_test.cpp
  src/replica/test/log_file_test.cpp
  src/replica/test/mutation_log_test.cpp
  src/replica/test/replica_test_base.h
  src/runtime/rpc/network.sim.cpp
  src/utils/binary_reader.cpp
  src/utils/binary_reader.h
  src/utils/blob.h
  src/utils/test/blob_test.cpp
Labels: component/duplication, type/bug-fix, scripts, cpp, unit-test

#2097 fix(duplication): `min_checkpoint_decree` was reset to the invalid decree after replica server was restarted
  src/replica/duplication/replica_duplicator.cpp
  src/replica/duplication/replica_duplicator.h
  src/replica/duplication/test/dup_replica_http_service_test.cpp
  src/replica/duplication/test/duplication_sync_timer_test.cpp
  src/replica/duplication/test/mutation_batch_test.cpp
  src/replica/duplication/test/replica_duplicator_manager_test.cpp
  src/replica/duplication/test/replica_duplicator_test.cpp
Labels: component/duplication, type/bug-fix, cpp

#2099 feat(duplication): add a new option to configure the duration of the delay until the next execution if there is no mutation to be loaded
  src/replica/duplication/duplication_pipeline.cpp
Labels: component/duplication, type/config-change, cpp

#2106 fix(github): add write permission to module labeler
  .github/workflows/module_labeler_conf.yml
Labels: github

#2085 feat(new_metrics): support server_stat command showing some important server-level metrics (part 1)
  .clang-tidy
  .github/workflows/module_labeler_conf.yml
  build_tools/clang_tidy.py
  src/shell/command_helper.h
  src/shell/commands/data_operations.cpp
  src/shell/commands/node_management.cpp
  src/shell/commands/table_management.cpp
  src/shell/main.cpp
  src/utils/error_code.h
  src/utils/metrics.h
Labels: component/shell, github, scripts, cpp
