Repository apache/incubator-pegasus, pull requests merged in 2024-02, with the labels that each got.

#1882 feat(new_metrics): show sst statistics by shell app_disk based on new metrics
  src/geo/lib/geo_client.cpp
  src/http/http_client.h
  src/shell/CMakeLists.txt
  src/shell/command_helper.h
  src/shell/commands/table_management.cpp
  src/utils/errors.h
  src/utils/metrics.h
Labels: cpp, build

#1884 feat(new_metrics): show server-level resource usage by shell nodes command based on new metrics
  src/shell/commands/node_management.cpp
  src/shell/commands/table_management.cpp
Labels: cpp

#1879 feat(macro): Add LOG_TIMING* series macros
  src/http/pprof_http_service.cpp
  src/utils/fmt_logging.h
  src/utils/test/logging.cpp
  src/utils/timer.h
Labels: cpp

#1883 fix(backup): Limit the backup interval to be larger than 86400 seconds
  src/meta/meta_backup_service.cpp
  src/meta/test/backup_test.cpp
  src/test/function_test/restore/test_restore.cpp
Labels: cpp

#1885 feat(new_metrics): show replica-level resource usage by shell nodes command based on new metrics
  src/shell/commands/node_management.cpp
Labels: component/shell, cpp

#1889 feat(new_metrics): show disk-level resource usage by shell nodes command based on new metrics
  src/common/fs_manager.cpp
  src/replica/test/replica_disk_test_base.h
  src/shell/commands/node_management.cpp
  src/utils/math.cpp
  src/utils/math.h
Labels: component/shell, cpp

#1887 fix(shell): add missing librocksdb.so.8 while packing tools and fix errors while launching shell
  run.sh
  scripts/pack_tools.sh
Labels: component/shell, type/bug-fix, scripts, build

#1891 feat(new_metrics): show profiler-level latencies by shell `nodes` command
  src/meta/server_state.cpp
  src/shell/command_helper.h
  src/shell/commands/node_management.cpp
  src/shell/commands/table_management.cpp
  src/utils/metrics.h
Labels: cpp

#1896 fix(shell): allow bench to be launched for the directory packaged by `pack_tools` on production environment
  run.sh
Labels: type/bug-fix, scripts, build

#1894 refactor(host_port): Make some functions as static
  src/common/json_helper.h
  src/runtime/rpc/group_host_port.h
  src/runtime/rpc/rpc_host_port.cpp
  src/runtime/rpc/rpc_host_port.h
  src/runtime/test/host_port_test.cpp
  src/utils/test/json_helper_test.cpp
Labels: cpp

#1888 refactor(fmt): Use operator<< instead of explict to_string() (2nd)
  src/meta/duplication/duplication_info.h
  src/meta/duplication/meta_duplication_service.cpp
  src/replica/duplication/replica_duplicator.h
  src/replica/duplication/replica_follower.h
  src/replica/replication_app_base.cpp
  src/replica/replication_app_base.h
  src/replica/storage/simple_kv/simple_kv.app.example.h
  src/replica/storage/simple_kv/test/case.cpp
  src/replica/storage/simple_kv/test/case.h
  src/replica/storage/simple_kv/test/common.cpp
  src/replica/storage/simple_kv/test/common.h
  src/runtime/task/task_engine.cpp
  src/shell/commands/data_operations.cpp
  src/shell/commands/debugger.cpp
  src/shell/commands/node_management.cpp
  src/shell/commands/rebalance.cpp
  src/shell/commands/recovery.cpp
  src/shell/commands/table_management.cpp
  src/utils/latency_tracer.cpp
Labels: cpp

#1890 refactor(table_envs): Unify and remove duplicate variables
  src/base/pegasus_const.cpp
  src/base/pegasus_const.h
  src/client_lib/pegasus_client_impl.cpp
  src/client_lib/pegasus_scanner_impl.cpp
  src/common/common.cpp
  src/common/common.h
  src/common/replica_envs.cpp
  src/common/replica_envs.h
  src/common/replication_common.cpp
  src/common/test/common_test.cpp
  src/geo/test/geo_test.cpp
  src/ranger/ranger_resource_policy_manager.cpp
  src/redis_protocol/proxy_lib/redis_parser.cpp
  src/server/meta_store.cpp
  src/server/meta_store.h
  src/server/pegasus_manual_compact_service.cpp
  src/server/pegasus_manual_compact_service.h
  src/server/pegasus_scan_context.h
  src/server/pegasus_server_impl.cpp
  src/server/test/manual_compact_service_test.cpp
  src/server/test/pegasus_server_impl_test.cpp
  src/shell/main.cpp
  src/test/function_test/backup_restore/test_backup_and_restore.cpp
  src/test/function_test/base_api/test_batch_get.cpp
  src/test/function_test/base_api/test_scan.cpp
  src/test/function_test/base_api/test_ttl.cpp
  src/test/function_test/bulk_load/test_bulk_load.cpp
  src/test/function_test/restore/test_restore.cpp
  src/test/function_test/utils/test_util.cpp
  src/test/kill_test/kill_testor.cpp
Labels: cpp

#1901 fix(scripts): drop unnecessary dependencies for pack_tools.sh
  scripts/pack_tools.sh
Labels: type/bug-fix, scripts

#1899 feat(new_metrics): show replica-level qps and capacity units by shell `nodes` command based on new metrics
  src/shell/command_helper.h
  src/shell/commands/node_management.cpp
  src/shell/commands/table_management.cpp
  src/utils/metrics.cpp
  src/utils/metrics.h
  src/utils/test/metrics_test.cpp
Labels: component/shell, cpp

#1875 refactor(command_manager): Simplify command_manager code
  src/common/replication_common.cpp
  src/common/replication_common.h
  src/meta/app_balance_policy.cpp
  src/meta/meta_service.cpp
  src/meta/meta_service.h
  src/meta/partition_guardian.cpp
  src/meta/partition_guardian.h
  src/meta/server_state.cpp
  src/meta/test/meta_test_base.cpp
  src/meta/test/meta_test_base.h
  src/meta/test/update_configuration_test.cpp
  src/nfs/nfs_client_impl.cpp
  src/nfs/nfs_server_impl.cpp
  src/replica/backup/cold_backup_context.cpp
  src/replica/bulk_load/replica_bulk_loader.cpp
  src/replica/replica_stub.cpp
  src/replica/replica_stub.h
  src/utils/command_manager.cpp
  src/utils/command_manager.h
Labels: cpp

#1902 refactor: make class 'dns_resolver' as a singleton
  src/runtime/rpc/dns_resolver.h
  src/runtime/rpc/group_address.h
  src/runtime/test/host_port_test.cpp
Labels: cpp

#1905 fix(configs): add missing namespace in group validator of flags
  src/replica/replica_stub.cpp
Labels: type/bug-fix, cpp

#1877 refactor(configs): Update some default configs and remove some useless configs
  docker/pegasus-docker-compose/config.min.ini
  src/common/replication_common.cpp
  src/meta/meta_options.cpp
  src/meta/meta_server_failure_detector.cpp
  src/meta/meta_service.cpp
  src/meta/partition_guardian.cpp
  src/meta/server_state.cpp
  src/redis_protocol/proxy/config.ini
  src/replica/disk_cleaner.cpp
  src/replica/replica.cpp
  src/replica/replica_2pc.cpp
  src/replica/replica_check.cpp
  src/replica/replica_chkpt.cpp
  src/replica/replica_init.cpp
  src/replica/replica_stub.cpp
  src/replica/storage/simple_kv/test/case-202-0.ini
  src/replica/storage/simple_kv/test/case-202-1.ini
  src/replica/storage/simple_kv/test/case-203-0.ini
  src/replica/storage/simple_kv/test/case-204.ini
  src/replica/storage/simple_kv/test/case-205.ini
  src/replica/storage/simple_kv/test/case-206.ini
  src/replica/storage/simple_kv/test/case-207.ini
  src/replica/storage/simple_kv/test/case-208.ini
  src/replica/storage/simple_kv/test/case-209.ini
  src/replica/storage/simple_kv/test/case-210.ini
  src/replica/storage/simple_kv/test/case-211.ini
  src/replica/storage/simple_kv/test/case-212.act
  src/replica/storage/simple_kv/test/case-212.ini
  src/replica/storage/simple_kv/test/case-213.act
  src/replica/storage/simple_kv/test/case-213.ini
  src/replica/storage/simple_kv/test/case-214.ini
  src/replica/storage/simple_kv/test/case-215.ini
  src/replica/storage/simple_kv/test/case-216.ini
  src/replica/storage/simple_kv/test/case-603.act
  src/runtime/global_config.h
  src/runtime/rpc/asio_net_provider.cpp
  src/runtime/rpc/network.cpp
  src/runtime/service_api_c.cpp
  src/server/config.ini
  src/server/config.min.ini
  src/server/pegasus_server_impl.cpp
  src/server/pegasus_server_impl_init.cpp
  src/server/test/config.ini
  src/utils/logging.cpp
  src/utils/simple_logger.cpp
  src/utils/threadpool_spec.h
  src/zookeeper/zookeeper_session_mgr.cpp
Labels: docker, cpp

#1911 fix(hdfs): export LIBHDFS_OPTS=-Xrs to ensure server could exit normally
  scripts/config_hdfs.sh
  src/block_service/hdfs/hdfs_service.cpp
Labels: scripts, cpp

#1903 feat(new_metrics): show table stats by shell `app_stat` command based on new metrics (part 1)
  src/shell/command_helper.h
  src/shell/commands/data_operations.cpp
  src/shell/commands/node_management.cpp
  src/shell/commands/table_management.cpp
  src/utils/metrics.cpp
  src/utils/metrics.h
  src/utils/string_conv.h
Labels: cpp

#1918 feat(new_metrics): show table stats by shell `app_stat` command based on new metrics (part 2)
  src/shell/command_helper.h
  src/shell/commands/node_management.cpp
Labels: cpp

#1920 feat(new_metrics): show estimated number of keys by shell `count_data` command based on new metrics
  src/client_lib/pegasus_client_factory_impl.cpp
  src/shell/command_helper.h
  src/shell/commands/data_operations.cpp
  src/shell/commands/node_management.cpp
  src/shell/commands/table_management.cpp
Labels: cpp

#1914 refactor: optimize zookeeper client init for sasl
  src/zookeeper/zookeeper_session.cpp
Labels: type/config-change, cpp

#1921 feat(new_metrics): show table stats by shell `app_stat` command based on new metrics (part 3)
  src/shell/command_helper.h
Labels: cpp

#1922 feat(new_metrics): show table stats by shell `app_stat` command based on new metrics (part 4)
  src/shell/command_helper.h
Labels: cpp

#1923 feat(shell): support options `sample_interval_ms` for shell `app_stat` and `nodes` commands
  src/shell/command_helper.h
  src/shell/commands/node_management.cpp
  src/shell/commands/table_management.cpp
  src/shell/main.cpp
Labels: cpp

#1924 refactor(shell): use `fmt::print` to implement macro `PRINT_AND_RETURN_FALSE_IF_NOT` instead of `fprintf`
  src/shell/command_helper.h
  src/shell/command_utils.h
  src/shell/commands/node_management.cpp
  src/shell/commands/rebalance.cpp
  src/shell/commands/table_management.cpp
Labels: component/shell, cpp
