Repository apache/incubator-pegasus, pull requests merged in 2024-04, with the labels that each got.

#1967 refactor(duplication): move get_all_replicas/get_all_primaries from duplication_sync_timer to replica_stub
  src/replica/duplication/duplication_sync_timer.cpp
  src/replica/duplication/duplication_sync_timer.h
  src/replica/duplication/test/duplication_sync_timer_test.cpp
  src/replica/replica_stub.cpp
  src/replica/replica_stub.h
Labels: cpp

#1968 fix(duplication): get duplication manager as shared_ptr in case raw pointer has been reset to null
  src/replica/duplication/duplication_sync_timer.cpp
  src/replica/replica.cpp
  src/replica/replica.h
Labels: type/bug-fix, cpp

#1608 fix(duplication): failed to start duplication after source replica servers exit due to missing duplicating status in .app-info
  src/replica/duplication/duplication_sync_timer.cpp
  src/replica/duplication/replica_duplicator_manager.h
  src/replica/replica.h
  src/replica/replica_config.cpp
Labels: component/duplication, type/bug-fix, cpp

#1966 chore(thirdparty): Bump prometheus-cpp to 1.2.4
  .licenserc.yaml
  thirdparty/CMakeLists.txt
  thirdparty/fix_prometheus-cpp_limits.patch
Labels: thirdparty, build

#1959 refactor(HTTP): Improve the help description of HTTP APIs
  src/http/builtin_http_calls.cpp
  src/http/config_http_service.cpp
  src/http/http_server.cpp
  src/http/http_server.h
  src/http/pprof_http_service.cpp
  src/http/pprof_http_service.h
  src/http/test/http_server_test.cpp
  src/http/test/main.cpp
  src/meta/meta_http_service.cpp
  src/meta/meta_http_service.h
  src/replica/replica_http_service.h
  src/utils/flags.cpp
  src/utils/metrics.cpp
Labels: cpp

#1955 refactor(configs): Clarify more configs
  src/client_lib/pegasus_client_impl.cpp
  src/common/replication_common.cpp
  src/common/replication_other_types.h
  src/geo/test/geo_test.cpp
  src/meta/duplication/duplication_info.cpp
  src/meta/duplication/meta_duplication_service.cpp
  src/meta/server_state.cpp
  src/redis_protocol/proxy/config.ini
  src/redis_protocol/proxy_lib/redis_parser.cpp
  src/redis_protocol/proxy_ut/config.ini
  src/replica/disk_cleaner.cpp
  src/replica/mutation.cpp
  src/replica/replica_chkpt.cpp
  src/replica/replica_init.cpp
  src/replica/replica_stub.cpp
  src/replica/storage/simple_kv/test/case-003.ini
  src/replica/storage/simple_kv/test/case-004.ini
  src/replica/storage/simple_kv/test/case-101.ini
  src/replica/storage/simple_kv/test/case-102.ini
  src/replica/storage/simple_kv/test/case-105.ini
  src/replica/storage/simple_kv/test/case-106.ini
  src/replica/storage/simple_kv/test/case-201.ini
  src/replica/storage/simple_kv/test/case-202-1.ini
  src/replica/storage/simple_kv/test/case-205.ini
  src/replica/storage/simple_kv/test/case-206.ini
  src/replica/storage/simple_kv/test/case-210.ini
  src/replica/storage/simple_kv/test/case-213.ini
  src/replica/storage/simple_kv/test/case-214.ini
  src/replica/storage/simple_kv/test/case-215.ini
  src/replica/storage/simple_kv/test/client.cpp
  src/replica/test/replica_http_service_test.cpp
  src/runtime/global_config.cpp
  src/runtime/global_config.h
  src/runtime/profiler.cpp
  src/runtime/rpc/network.cpp
  src/runtime/service_api_c.cpp
  src/runtime/task/task_spec.h
  src/runtime/test/service_api_c.cpp
  src/runtime/tracer.cpp
  src/server/available_detector.cpp
  src/server/config.ini
  src/server/config.min.ini
  src/server/info_collector.cpp
  src/server/pegasus_server_impl_init.cpp
  src/server/test/config.ini
  src/shell/main.cpp
  src/test/function_test/config.ini
  src/test/function_test/security/config.ini
  src/test/function_test/utils/test_util.cpp
  src/test/kill_test/config.ini
  src/test/kill_test/kill_testor.cpp
  src/test/pressure_test/config-pressure.ini
  src/utils/config_api.cpp
  src/utils/config_api.h
  src/utils/simple_logger.cpp
Labels: cpp

#1958 feat(FQDN): Use chkpt_<host>_<port> as the backup path
  src/common/backup_common.cpp
  src/common/backup_common.h
  src/replica/replica_stub.cpp
Labels: cpp

#1956 feat(backup): 1. remove pervious implementation
  src/meta/meta_backup_service.cpp
  src/meta/meta_backup_service.h
  src/meta/meta_http_service.cpp
  src/meta/meta_service.cpp
  src/meta/meta_service.h
  src/meta/test/backup_test.cpp
  src/meta/test/json_compacity.cpp
  src/meta/test/meta_backup_test.cpp
  src/meta/test/meta_http_service_test.cpp
  src/meta/test/server_state_restore_test.cpp
  src/replica/CMakeLists.txt
  src/replica/backup/cold_backup_context.cpp
  src/replica/backup/cold_backup_context.h
  src/replica/backup/replica_backup_manager.cpp
  src/replica/backup/replica_backup_manager.h
  src/replica/backup/replica_backup_server.cpp
  src/replica/backup/replica_backup_server.h
  src/replica/backup/test/replica_backup_manager_test.cpp
  src/replica/duplication/test/duplication_test_base.h
  src/replica/replica.h
  src/replica/replica_backup.cpp
  src/replica/replica_config.cpp
  src/replica/replica_init.cpp
  src/replica/replica_restore.cpp
  src/replica/replica_stub.cpp
  src/replica/replica_stub.h
  src/replica/test/backup_block_service_mock.h
  src/replica/test/cold_backup_context_test.cpp
  src/replica/test/main.cpp
  src/replica/test/mock_utils.h
  src/replica/test/replica_test.cpp
  src/replica/test/replica_test_base.h
  src/replica/test/replication_service_test_app.h
  src/test/function_test/backup_restore/test_backup_and_restore.cpp
  src/test/function_test/restore/test_restore.cpp
Labels: cpp, build

#1957 refactor(FQDN): Use const reference to reduce unnecessary object copying
  src/client/partition_resolver.h
  src/common/replication_common.cpp
  src/common/replication_other_types.h
  src/failure_detector/failure_detector.cpp
  src/failure_detector/failure_detector.h
  src/failure_detector/failure_detector_multimaster.cpp
  src/failure_detector/failure_detector_multimaster.h
  src/failure_detector/test/failure_detector.cpp
  src/meta/cluster_balance_policy.cpp
  src/meta/cluster_balance_policy.h
  src/meta/load_balance_policy.cpp
  src/meta/load_balance_policy.h
  src/meta/meta_data.h
  src/meta/meta_server_failure_detector.cpp
  src/meta/meta_server_failure_detector.h
  src/meta/partition_guardian.h
  src/meta/server_state.cpp
  src/meta/server_state.h
  src/meta/test/balancer_simulator/balancer_simulator.cpp
  src/meta/test/balancer_validator.cpp
  src/meta/test/misc/misc.cpp
  src/nfs/nfs_client_impl.cpp
  src/replica/replica.h
  src/replica/replica_2pc.cpp
  src/replica/replica_config.cpp
  src/replica/replica_context.cpp
  src/replica/replica_context.h
  src/replica/replica_failover.cpp
  src/replica/replica_learn.cpp
  src/replica/replica_stub.cpp
  src/replica/replica_stub.h
  src/replica/storage/simple_kv/test/checker.cpp
  src/replica/storage/simple_kv/test/checker.h
  src/runtime/test/host_port_test.cpp
  src/shell/command_helper.h
  src/shell/commands/recovery.cpp
Labels: cpp

#1938 fix(message_ex): Fix the crash caused by message_ex::copy() in server internally
  src/runtime/rpc/rpc_message.cpp
Labels: cpp

#1953 refactor(FQDN): Rename variables to indicate type and remove useless function
  src/runtime/rpc/serialization.h
  src/server/pegasus_server_impl.cpp
  src/server/pegasus_server_impl.h
  src/server/pegasus_server_impl_init.cpp
  src/server/pegasus_write_service_impl.h
  src/server/test/pegasus_server_write_test.cpp
  src/server/test/pegasus_write_service_test.cpp
Labels: cpp

#1952 refactor(FQDN): Make address() and host_port() members return const reference types
  src/meta/meta_data.h
  src/runtime/rpc/asio_net_provider.h
  src/runtime/rpc/network.h
  src/runtime/rpc/network.sim.h
Labels: cpp

#1950 refactor(FQDN): Resolve IP from from host:port in tests to keep consistent
  src/meta/duplication/meta_duplication_service.cpp
  src/meta/test/meta_bulk_load_service_test.cpp
  src/meta/test/meta_split_service_test.cpp
  src/meta/test/misc/misc.cpp
  src/meta/test/misc/misc.h
  src/replica/duplication/test/replica_follower_test.cpp
  src/replica/split/test/replica_split_test.cpp
Labels: cpp

#1954 refactor(FQDN): resolve host:port to ip:port if -r parameter is specified
  src/client/replication_ddl_client.cpp
  src/client/replication_ddl_client.h
  src/runtime/rpc/dns_resolver.cpp
  src/runtime/rpc/dns_resolver.h
  src/runtime/test/dns_resolver_test.cpp
  src/runtime/test/host_port_test.cpp
  src/shell/commands/node_management.cpp
  src/shell/commands/table_management.cpp
  src/utils/test/hostname_test.cpp
  src/utils/utils.cpp
  src/utils/utils.h
Labels: cpp

#1972 refactor(FQDN): Refactor the code about new_proposal_action()
  src/meta/cluster_balance_policy.cpp
  src/meta/greedy_load_balancer.h
  src/meta/load_balance_policy.cpp
  src/meta/load_balance_policy.h
  src/meta/test/meta_partition_guardian_test.cpp
  src/shell/command_helper.h
  src/shell/commands/rebalance.cpp
  src/shell/commands/recovery.cpp
Labels: cpp

#1971 feat(java-client): java client add class host_port for fqdn compile
  java-client/src/main/java/org/apache/pegasus/base/host_port.java
  java-client/src/test/java/org/apache/pegasus/base/TestHostPort.java
Labels: java-client

#1973 refactor(FQDN): Simplify function generate_node_list()
  src/meta/test/backup_test.cpp
  src/meta/test/balancer_simulator/balancer_simulator.cpp
  src/meta/test/balancer_validator.cpp
  src/meta/test/meta_data.cpp
  src/meta/test/meta_duplication_service_test.cpp
  src/meta/test/meta_partition_guardian_test.cpp
  src/meta/test/meta_test_base.cpp
  src/meta/test/misc/misc.cpp
  src/meta/test/misc/misc.h
  src/meta/test/state_sync_test.cpp
  src/meta/test/update_configuration_test.cpp
Labels: cpp

#1949 refactor(FQDN): Add some convenient macros and update idl/bulk_load.thrift related code
  idl/bulk_load.thrift
  src/meta/meta_bulk_load_service.cpp
  src/meta/test/meta_bulk_load_service_test.cpp
  src/replica/bulk_load/replica_bulk_loader.cpp
  src/replica/bulk_load/test/replica_bulk_loader_test.cpp
  src/runtime/rpc/rpc_host_port.h
  src/shell/commands/bulk_load.cpp
Labels: cpp, thrift

#1970 fix(java-client): fix client renew TGT thread leak when request table doesnt exist
  java-client/src/main/java/org/apache/pegasus/rpc/async/ClusterManager.java
  java-client/src/main/java/org/apache/pegasus/rpc/interceptor/ReplicaSessionInterceptor.java
  java-client/src/main/java/org/apache/pegasus/rpc/interceptor/ReplicaSessionInterceptorManager.java
  java-client/src/main/java/org/apache/pegasus/security/AuthProtocol.java
  java-client/src/main/java/org/apache/pegasus/security/AuthReplicaSessionInterceptor.java
  java-client/src/main/java/org/apache/pegasus/security/KerberosProtocol.java
Labels: java-client

#1974 refactor(FQDN): Use operator bool to simplify code
  src/aio/aio_provider.h
  src/client/partition_resolver_simple.cpp
  src/client/replication_ddl_client.cpp
  src/common/json_helper.h
  src/common/replication_other_types.h
  src/failure_detector/failure_detector_multimaster.cpp
  src/meta/backup_engine.cpp
  src/meta/duplication/meta_duplication_service.cpp
  src/meta/load_balance_policy.cpp
  src/meta/meta_backup_service.cpp
  src/meta/meta_bulk_load_service.cpp
  src/meta/meta_data.h
  src/meta/meta_http_service.cpp
  src/meta/meta_service.cpp
  src/meta/meta_service.h
  src/meta/partition_guardian.cpp
  src/meta/server_load_balancer.cpp
  src/meta/server_state.cpp
  src/meta/server_state_restore.cpp
  src/meta/test/balancer_validator.cpp
  src/meta/test/json_compacity.cpp
  src/meta/test/meta_partition_guardian_test.cpp
  src/meta/test/misc/misc.cpp
  src/meta/test/state_sync_test.cpp
  src/meta/test/update_configuration_test.cpp
  src/replica/duplication/replica_follower.cpp
  src/replica/duplication/replica_follower.h
  src/replica/duplication/test/replica_follower_test.cpp
  src/replica/replica_config.cpp
  src/replica/replica_context.cpp
  src/replica/storage/simple_kv/simple_kv.app.example.h
  src/replica/storage/simple_kv/test/case.cpp
  src/replica/storage/simple_kv/test/checker.cpp
  src/replica/storage/simple_kv/test/common.cpp
  src/replica/storage/simple_kv/test/common.h
  src/runtime/rpc/group_address.h
  src/runtime/rpc/group_host_port.h
  src/runtime/rpc/network.cpp
  src/runtime/rpc/rpc_address.h
  src/runtime/rpc/rpc_engine.cpp
  src/runtime/rpc/rpc_host_port.cpp
  src/runtime/rpc/rpc_host_port.h
  src/runtime/test/address_test.cpp
  src/runtime/test/host_port_test.cpp
  src/runtime/test/rpc.cpp
  src/shell/commands/node_management.cpp
  src/shell/commands/rebalance.cpp
  src/shell/commands/recovery.cpp
  src/shell/commands/table_management.cpp
  src/test/function_test/utils/test_util.cpp
  src/test/kill_test/kill_testor.cpp
Labels: cpp

#1978 refactor: Fix some clang warnings
  src/client/partition_resolver_manager.cpp
  src/client/partition_resolver_simple.cpp
  src/client/replication_ddl_client.cpp
  src/common/replication_common.cpp
  src/common/replication_other_types.h
  src/meta/meta_data.h
  src/meta/server_state.cpp
  src/meta/test/balancer_validator.cpp
  src/meta/test/meta_bulk_load_service_test.cpp
  src/meta/test/update_configuration_test.cpp
  src/replica/bulk_load/replica_bulk_loader.cpp
  src/replica/replica.h
  src/replica/replica_config.cpp
  src/replica/replica_context.cpp
  src/replica/replica_stub.cpp
  src/replica/storage/simple_kv/test/checker.cpp
  src/replica/storage/simple_kv/test/common.cpp
  src/runtime/global_config.cpp
  src/runtime/rpc/group_address.h
  src/runtime/rpc/group_host_port.h
  src/shell/commands/data_operations.cpp
  src/shell/commands/node_management.cpp
  src/shell/commands/table_management.cpp
  src/utils/metrics.h
  src/utils/utils.h
Labels: cpp

#1915 feat(table_env): Support to list all available table envs
  src/base/meta_store.cpp
  src/base/meta_store.h
  src/common/replica_envs.cpp
  src/common/replica_envs.h
  src/http/http_call_registry.h
  src/http/http_server.cpp
  src/http/http_server.h
  src/meta/app_env_validator.cpp
  src/meta/app_env_validator.h
  src/meta/meta_http_service.cpp
  src/meta/server_state.cpp
  src/meta/server_state.h
  src/meta/test/meta_app_envs_test.cpp
  src/meta/test/meta_http_service_test.cpp
  src/meta/test/meta_mauanl_compaction_test.cpp
  src/meta/test/meta_test_base.cpp
  src/meta/test/server_state_test.cpp
  src/replica/replica.h
  src/replica/replica_throttle.cpp
  src/replica/test/throttling_controller_test.cpp
  src/server/pegasus_manual_compact_service.cpp
  src/server/pegasus_manual_compact_service.h
  src/server/pegasus_server_impl.cpp
  src/server/test/manual_compact_service_test.cpp
  src/server/test/pegasus_server_impl_test.cpp
  src/utils/test/token_bucket_throttling_controller_test.cpp
  src/utils/throttling_controller.cpp
  src/utils/throttling_controller.h
  src/utils/token_bucket_throttling_controller.cpp
  src/utils/token_bucket_throttling_controller.h
Labels: cpp

#1977 refactor(FQDN): Add some convenient macros and update idl/dsn.layer2.thrift related code
  src/client/partition_resolver_simple.cpp
  src/meta/cluster_balance_policy.cpp
  src/meta/duplication/meta_duplication_service.cpp
  src/meta/meta_data.cpp
  src/meta/meta_service.cpp
  src/meta/partition_guardian.cpp
  src/meta/server_state.cpp
  src/meta/test/backup_test.cpp
  src/meta/test/balancer_simulator/balancer_simulator.cpp
  src/meta/test/balancer_validator.cpp
  src/meta/test/cluster_balance_policy_test.cpp
  src/meta/test/ford_fulkerson_test.cpp
  src/meta/test/meta_bulk_load_ingestion_test.cpp
  src/meta/test/meta_bulk_load_service_test.cpp
  src/meta/test/meta_data.cpp
  src/meta/test/meta_duplication_service_test.cpp
  src/meta/test/meta_partition_guardian_test.cpp
  src/meta/test/misc/misc.cpp
  src/meta/test/state_sync_test.cpp
  src/meta/test/update_configuration_test.cpp
  src/replica/bulk_load/replica_bulk_loader.cpp
  src/replica/bulk_load/test/replica_bulk_loader_test.cpp
  src/replica/duplication/replica_follower.cpp
  src/replica/duplication/replica_follower.h
  src/replica/duplication/test/replica_follower_test.cpp
  src/replica/replica_config.cpp
  src/replica/replica_stub.cpp
  src/replica/split/replica_split_manager.cpp
  src/replica/split/test/replica_split_test.cpp
  src/runtime/rpc/rpc_host_port.h
  src/runtime/test/host_port_test.cpp
  src/server/hotspot_partition_calculator.cpp
Labels: cpp

#1983 refactor(FQDN): Add some convenient macros and update idl/duplication.thrift related code
  src/meta/duplication/meta_duplication_service.cpp
  src/meta/test/meta_duplication_service_test.cpp
  src/replica/duplication/duplication_sync_timer.cpp
  src/replica/duplication/test/duplication_sync_timer_test.cpp
  src/runtime/rpc/rpc_host_port.h
Labels: cpp

#1984 refactor(FQDN): Add some convenient macros and update idl/meta_admin.thrift related code
  idl/meta_admin.thrift
  src/client/replication_ddl_client.cpp
  src/common/replication_other_types.h
  src/failure_detector/failure_detector_multimaster.cpp
  src/meta/load_balance_policy.cpp
  src/meta/meta_data.cpp
  src/meta/meta_service.cpp
  src/meta/meta_split_service.cpp
  src/meta/partition_guardian.cpp
  src/meta/server_load_balancer.cpp
  src/meta/server_state.cpp
  src/meta/test/balancer_validator.cpp
  src/meta/test/meta_partition_guardian_test.cpp
  src/meta/test/meta_split_service_test.cpp
  src/meta/test/misc/misc.cpp
  src/meta/test/update_configuration_test.cpp
  src/replica/replica.h
  src/replica/replica_config.cpp
  src/replica/replica_failover.cpp
  src/replica/replica_stub.cpp
  src/replica/storage/simple_kv/test/checker.cpp
  src/replica/storage/simple_kv/test/client.cpp
  src/replica/test/open_replica_test.cpp
  src/runtime/rpc/rpc_host_port.cpp
  src/runtime/rpc/rpc_host_port.h
  src/runtime/test/host_port_test.cpp
  src/shell/commands/recovery.cpp
Labels: cpp, thrift

#1986 refactor(FQDN): Update idl/metadata.thrift related code
  src/common/replication_common.cpp
  src/replica/bulk_load/test/replica_bulk_loader_test.cpp
  src/replica/replica_check.cpp
  src/replica/replica_context.cpp
  src/replica/replica_learn.cpp
  src/replica/replica_stub.cpp
  src/replica/split/replica_split_manager.cpp
Labels: cpp

#1987 refactor(FQDN): Update idl/partition_split.thrift related code
  src/meta/test/meta_split_service_test.cpp
  src/replica/split/replica_split_manager.cpp
  src/replica/split/test/replica_split_test.cpp
Labels: cpp

#1988 refactor(FQDN): Update idl/replica_admin.thrift related code
  idl/replica_admin.thrift
  src/client/replication_ddl_client.cpp
  src/meta/server_state.cpp
Labels: cpp, thrift

#1989 refactor(FQDN): Update src/common/consensus.thrift related code
  src/replica/duplication/test/replica_follower_test.cpp
  src/replica/replica_check.cpp
  src/replica/replica_chkpt.cpp
  src/replica/replica_learn.cpp
  src/replica/split/replica_split_manager.cpp
  src/replica/split/test/replica_split_test.cpp
Labels: cpp

#1990 refactor(FQDN): Update src/failure_detector/fd.thrift related code
  src/failure_detector/failure_detector.cpp
  src/failure_detector/failure_detector_multimaster.cpp
  src/failure_detector/test/failure_detector.cpp
  src/meta/meta_server_failure_detector.cpp
Labels: cpp

#1991 refactor(FQDN): Update src/nfs/nfs.thrift related code
  src/nfs/nfs_client_impl.cpp
Labels: cpp

#1992 refactor(slog): refactor logging for slog gc
  src/replica/mutation_log.cpp
Labels: cpp, 2.5
