Repository apache/incubator-pegasus, pull requests merged in 2024-03, with the labels that each got.

#1925 refactor: replace perf-counters with new metrics in some names and comments
  src/meta/meta_data.cpp
  src/replica/bulk_load/replica_bulk_loader.h
  src/replica/duplication/mutation_batch.cpp
  src/replica/replica.h
  src/replica/replica_context.h
  src/replica/split/replica_split_manager.h
  src/runtime/profiler.h
  src/server/pegasus_write_service.h
  src/server/test/pegasus_server_impl_test.cpp
  src/utils/api_utilities.h
Labels: cpp

#1928 fix(cmake): increase the minimum required version of cmake to 3.24.0
  CMakeLists.txt
  thirdparty/CMakeLists.txt
Labels: thirdparty, build

#1932 refactor(meta_store): Reduce the dependency of meta_store
  src/base/meta_store.cpp
  src/base/meta_store.h
  src/server/pegasus_server_impl.cpp
  src/server/pegasus_server_impl.h
  src/server/pegasus_server_impl_init.cpp
  src/server/pegasus_write_service_impl.h
  src/server/rocksdb_wrapper.cpp
  src/server/test/CMakeLists.txt
  src/server/test/pegasus_server_impl_test.cpp
Labels: cpp, build

#1822 feat(java-client): Introduce exponentialBackoff retry mechanism
  java-client/src/main/java/org/apache/pegasus/client/ClientOptions.java
  java-client/src/main/java/org/apache/pegasus/client/retry/DefaultRetryPolicy.java
  java-client/src/main/java/org/apache/pegasus/client/retry/ExponentialBackoffRetryPolicy.java
  java-client/src/main/java/org/apache/pegasus/client/retry/RetryPolicies.java
  java-client/src/main/java/org/apache/pegasus/client/retry/RetryPolicy.java
  java-client/src/main/java/org/apache/pegasus/rpc/async/ClientRequestRound.java
  java-client/src/main/java/org/apache/pegasus/rpc/async/ClusterManager.java
  java-client/src/main/java/org/apache/pegasus/rpc/async/ReplicaSession.java
  java-client/src/main/java/org/apache/pegasus/rpc/async/TableHandler.java
  java-client/src/test/java/org/apache/pegasus/client/retry/TestDefaultRetryPolicy.java
  java-client/src/test/java/org/apache/pegasus/client/retry/TestExponentialBackoffRetryPolicy.java
Labels: java-client

#1933 refactor(replica): Unify some unique variables to reduce redundances
  src/block_service/test/main.cpp
  src/common/replication_common.cpp
  src/common/replication_common.h
  src/common/test/main.cpp
  src/common/test/replication_common_test.cpp
  src/replica/backup/test/main.cpp
  src/replica/bulk_load/test/main.cpp
  src/replica/bulk_load/test/replica_bulk_loader_test.cpp
  src/replica/duplication/test/main.cpp
  src/replica/duplication/test/replica_follower_test.cpp
  src/replica/replica.cpp
  src/replica/replica.h
  src/replica/replica_disk_migrator.cpp
  src/replica/replica_http_service.h
  src/replica/replica_stub.cpp
  src/replica/replication_app_base.cpp
  src/replica/replication_app_base.h
  src/replica/replication_service_app.cpp
  src/replica/split/test/main.cpp
  src/replica/split/test/replica_split_test.cpp
  src/replica/storage/simple_kv/test/checker.cpp
  src/replica/test/main.cpp
  src/replica/test/mock_utils.h
  src/replica/test/open_replica_test.cpp
  src/replica/test/replica_disk_migrate_test.cpp
  src/replica/test/replica_disk_test_base.h
  src/replica/test/replica_learn_test.cpp
  src/replica/test/replica_test.cpp
  src/server/main.cpp
  src/server/pegasus_server_impl.cpp
  src/server/test/main.cpp
  src/server/test/pegasus_server_test_base.h
  src/test/kill_test/job.h
  src/test/kill_test/killer_handler_shell.cpp
Labels: cpp

#1934 refactor(partition_resolver): Make get_partition_index() as public accessable
  src/client/partition_resolver.cpp
  src/client/partition_resolver.h
  src/client/partition_resolver_simple.cpp
  src/client/partition_resolver_simple.h
Labels: cpp

#1929 refactor(go-client): refactor admin APIs for meta by reflection
  .github/workflows/lint_and_test_go-client.yml
  go-client/admin/client.go
  go-client/admin/client_test.go
  go-client/idl/base/error_code.go
Labels: github, go-client

#1936 fix(partition_split): Fix the missing garbage partition
  src/replica/replica_stub.cpp
  src/utils/blob.h
Labels: cpp

#1941 fix(image): enable verifying certificate for CentOS 7
  docker/pegasus-build-env/centos7/Dockerfile
Labels: docker

#1939 feat(go-client): add ListNodes as admin API for meta
  go-client/admin/client.go
  go-client/admin/client_test.go
  go-client/idl/base/rpc_address.go
Labels: go-client

#1942 fix: fix recall_app with default app_name
  src/client/replication_ddl_client.cpp
  src/client/replication_ddl_client.h
Labels: cpp

#1930 feat(local_partition_split): Add local_partition_split CLI tool
  src/shell/command_executor.h
  src/shell/command_helper.h
  src/shell/commands.h
  src/shell/commands/local_partition_split.cpp
  src/shell/main.cpp
Labels: cpp

#1946 feat(go-client): Add new HostPort struct according to IDL
  go-client/idl/base/host_port.go
  go-client/idl/base/host_port_test.go
Labels: go-client

#1943 feat(collector): introduce the hotspot detector into go-collector
  collector/avail/detector.go
  collector/config.yml
  collector/hotspot/partition_detector.go
  collector/main.go
  collector/metrics/metric_collector.go
Labels: collector

#1951 fix(balance): Distinguish cluster balanced or collecting balance info interruptted
  src/meta/greedy_load_balancer.cpp
  src/meta/greedy_load_balancer.h
Labels: cpp

#1841 fix(duplication): dup request is rejected by remote cluster due to `max_allowed_write_size`
  src/server/pegasus_mutation_duplicator.cpp
Labels: type/config-change, cpp

#1597 fix(duplication): prevent plog files from being removed by GC while they are being checked by duplication
  src/replica/duplication/load_from_private_log.cpp
  src/replica/duplication/load_from_private_log.h
  src/replica/duplication/replica_duplicator.cpp
  src/replica/duplication/replica_duplicator.h
  src/replica/replica.h
  src/replica/replica_chkpt.cpp
Labels: cpp

#1960 feat(duplication): allow remote app name to be specified for duplication
  idl/duplication.thrift
  src/client/replication_ddl_client.cpp
  src/client/replication_ddl_client.h
  src/common/duplication_common.cpp
  src/common/duplication_common.h
  src/meta/duplication/duplication_info.cpp
  src/meta/duplication/duplication_info.h
  src/meta/duplication/meta_duplication_service.cpp
  src/meta/duplication/meta_duplication_service.h
  src/meta/test/duplication_info_test.cpp
  src/meta/test/meta_duplication_service_test.cpp
  src/replica/duplication/duplication_pipeline.cpp
  src/replica/duplication/duplication_sync_timer.cpp
  src/replica/duplication/duplication_sync_timer.h
  src/replica/duplication/replica_duplicator.cpp
  src/replica/duplication/replica_duplicator.h
  src/replica/duplication/replica_duplicator_manager.cpp
  src/replica/duplication/replica_duplicator_manager.h
  src/replica/duplication/replica_follower.cpp
  src/replica/duplication/test/dup_replica_http_service_test.cpp
  src/replica/duplication/test/duplication_sync_timer_test.cpp
  src/replica/duplication/test/replica_duplicator_test.cpp
  src/replica/duplication/test/replica_follower_test.cpp
  src/replica/replica_http_service.cpp
  src/runtime/rpc/rpc_holder.h
  src/shell/commands/duplication.cpp
  src/shell/main.cpp
  src/utils/errors.h
  src/utils/test/time_utils_test.cpp
Labels: component/duplication, component/shell, cpp, thrift
