Repository apache/incubator-pegasus, pull requests merged in 2024-01, with the labels that each got.

#1776 feat(http): use scoped enum http_status_code instead of magic numbers
  src/http/builtin_http_calls.cpp
  src/http/config_http_service.cpp
  src/http/http_client.cpp
  src/http/http_client.h
  src/http/http_server.cpp
  src/http/http_server.h
  src/http/http_status_code.cpp
  src/http/http_status_code.h
  src/http/pprof_http_service.cpp
  src/http/test/http_client_test.cpp
  src/http/test/http_server_test.cpp
  src/http/test/http_status_code_test.cpp
  src/http/test/main.cpp
  src/meta/meta_http_service.cpp
  src/meta/server_state.cpp
  src/meta/test/meta_duplication_service_test.cpp
  src/meta/test/meta_http_service_test.cpp
  src/replica/duplication/test/dup_replica_http_service_test.cpp
  src/replica/replica_http_service.cpp
  src/replica/test/replica_http_service_test.cpp
  src/replica/test/replica_test.cpp
  src/utils/enum_helper.h
  src/utils/metrics.cpp
  src/utils/test/enum_helper_test.cpp
  src/utils/test/metrics_test.cpp
Labels: cpp

#1829 fix(logging): remove too verbose log when key not found
  src/replica/replica.cpp
Labels: cpp

#1835 chore(version): update the version of pegasus server and client of each language to 2.5.1-SNAPSHOT
  java-client/pom.xml
  nodejs-client/package.json
  python-client/pypegasus/__init__.py
  scala-client/build.sbt
  src/include/pegasus/version.h
Labels: java-client, nodejs-client, python-client, scala-client, cpp, 2.5

#1834 fix(build): Fix Cpp build errors in recent github actions
  cmake_modules/BaseFunctions.cmake
Labels: build

#1818 refactor(json_file): Refactor the load and dump functions of JSON objects
  src/block_service/local/local_service.cpp
  src/block_service/local/local_service.h
  src/block_service/test/local_service_test.cpp
  src/replica/bulk_load/replica_bulk_loader.cpp
  src/replica/bulk_load/replica_bulk_loader.h
  src/replica/bulk_load/test/replica_bulk_loader_test.cpp
  src/replica/replica_disk_migrator.cpp
  src/replica/replica_restore.cpp
  src/replica/replication_app_base.cpp
  src/replica/replication_app_base.h
  src/test/function_test/bulk_load/CMakeLists.txt
  src/test/function_test/bulk_load/test_bulk_load.cpp
  src/utils/filesystem.cpp
  src/utils/fmt_logging.h
  src/utils/load_dump_object.h
  src/utils/test/load_dump_object_test.cpp
Labels: cpp, build

#1833 chore(collector): Add fmt job for collector CI
  .github/workflows/lint_and_test_collector.yml
  collector/README.md
  collector/go.mod
  collector/main.go
  collector/sink/falcon_sink.go
  collector/sink/prometheus_sink.go
  collector/sink/sink.go
  collector/usage/usage_recorder.go
  collector/webui/index.go
Labels: docs, github, collector

#1831 chore(version): update the version of pegasus server and client of each language to 2.6.0-SNAPSHOT
  java-client/pom.xml
  nodejs-client/package.json
  python-client/pypegasus/__init__.py
  scala-client/build.sbt
  src/include/pegasus/version.h
Labels: java-client, nodejs-client, python-client, scala-client, cpp

#1827 feat(new_metrics): add some basic fields to the response to metrics query
  src/runtime/task/task.h
  src/utils/CMakeLists.txt
  src/utils/metrics.cpp
  src/utils/metrics.h
  src/utils/test/metrics_test.cpp
Labels: cpp, build

#1821 refactor(security): Move security out of runtime
  .github/workflows/lint_and_test_cpp.yaml
  src/CMakeLists.txt
  src/meta/meta_backup_service.cpp
  src/meta/meta_service.h
  src/meta/server_state.cpp
  src/replica/replica.cpp
  src/replica/replica_2pc.cpp
  src/replica/replica_config.cpp
  src/replica/replica_stub.cpp
  src/replica/replica_stub.h
  src/runtime/CMakeLists.txt
  src/runtime/service_api_c.cpp
  src/security/CMakeLists.txt
  src/security/access_controller.cpp
  src/security/access_controller.h
  src/security/client_negotiation.cpp
  src/security/client_negotiation.h
  src/security/init.cpp
  src/security/init.h
  src/security/kinit_context.cpp
  src/security/kinit_context.h
  src/security/meta_access_controller.cpp
  src/security/meta_access_controller.h
  src/security/negotiation.cpp
  src/security/negotiation.h
  src/security/negotiation_manager.cpp
  src/security/negotiation_manager.h
  src/security/negotiation_utils.h
  src/security/replica_access_controller.cpp
  src/security/replica_access_controller.h
  src/security/sasl_client_wrapper.cpp
  src/security/sasl_client_wrapper.h
  src/security/sasl_init.cpp
  src/security/sasl_init.h
  src/security/sasl_server_wrapper.cpp
  src/security/sasl_server_wrapper.h
  src/security/sasl_wrapper.cpp
  src/security/sasl_wrapper.h
  src/security/server_negotiation.cpp
  src/security/server_negotiation.h
  src/security/test/CMakeLists.txt
  src/security/test/client_negotiation_test.cpp
  src/security/test/config.ini
  src/security/test/main.cpp
  src/security/test/meta_access_controller_test.cpp
  src/security/test/negotiation_manager_test.cpp
  src/security/test/replica_access_controller_test.cpp
  src/security/test/run.sh
  src/security/test/server_negotiation_test.cpp
Labels: github, scripts, cpp, build

#1842 feat(json_file): Load and dump functions of JSON objects support encryption
  src/utils/load_dump_object.h
  src/utils/test/load_dump_object_test.cpp
Labels: cpp

#1836 fix(java-client): Fix the failed java-client test
  .github/workflows/lint_and_test_java-client.yml
  java-client/README.md
  java-client/src/test/java/org/apache/pegasus/client/TestBasic.java
  java-client/src/test/java/org/apache/pegasus/rpc/async/ReplicaSessionTest.java
  java-client/src/test/java/org/apache/pegasus/tools/Toollet.java
Labels: docs, github, java-client

#1839 fix: specify ambiguous meta_server_list on recovery_test
  src/test/function_test/recovery/test_recovery.cpp
  src/test/function_test/utils/test_util.cpp
  src/test/function_test/utils/test_util.h
Labels: cpp

#1825 feat(fqdn): add operator< and use shared_ptr for group_host_port() instead of raw pointer for host_port
  src/runtime/rpc/dns_resolver.cpp
  src/runtime/rpc/group_host_port.h
  src/runtime/rpc/rpc_host_port.cpp
  src/runtime/rpc/rpc_host_port.h
  src/runtime/test/host_port_test.cpp
Labels: cpp

#1847 fix(build): fix undefined reference to thrift-generated objects while linking libdsn_client.a
  src/client/CMakeLists.txt
Labels: build

#1849 feat(marco): Add RETURN_ERRS_NOT_TRUE marco to simplify code
  src/utils/errors.h
Labels: cpp

#1850 refactor(log): Use *_PREFIX macros to simplify code
  src/redis_protocol/proxy_lib/proxy_layer.cpp
  src/redis_protocol/proxy_lib/redis_parser.cpp
  src/utils/fmt_logging.h
Labels: cpp

#1851 fix(collector): fix the problem that prometheus cannot display the indicators collected by collector
  collector/webui/webserver.go
Labels: collector

#1855 fix(collector): fix the parsing way of metrics returned by the server
  collector/metrics/metric_collector.go
Labels: collector

#1858 fix(tcmalloc): add the version number as the missing postfix for libtcmalloc_and_profiler.so.* otherwise it would never be linked
  scripts/pack_server.sh
  scripts/pack_tools.sh
Labels: type/bug-fix, scripts

#1854 refactor(test): use semicolon instead of comma to separate each option in TEST_OPTS
  .github/workflows/lint_and_test_cpp.yaml
  run.sh
  src/common/test/run.sh
  src/meta/test/run.sh
  src/replica/backup/test/run.sh
  src/replica/bulk_load/test/run.sh
  src/replica/duplication/test/run.sh
  src/replica/split/test/run.sh
  src/replica/storage/simple_kv/run.sh
  src/replica/storage/simple_kv/test/run.sh
  src/replica/test/run.sh
  src/server/test/run.sh
  src/test/function_test/run.sh
Labels: github, scripts, build

#1843 feat(http_client): add http_url class to help build URLs for http client
  src/http/http_client.cpp
  src/http/http_client.h
  src/http/test/http_client_test.cpp
  src/utils/enum_helper.h
Labels: cpp

#1862 refactor(test): replace deprecated INSTANTIATE_TEST_CASE_P with INSTANTIATE_TEST_SUITE_P
  src/aio/test/aio.cpp
  src/block_service/test/block_service_manager_test.cpp
  src/block_service/test/hdfs_service_test.cpp
  src/block_service/test/local_service_test.cpp
  src/common/test/fs_manager_test.cpp
  src/http/test/http_client_test.cpp
  src/http/test/http_status_code_test.cpp
  src/meta/test/meta_state/meta_state_service.cpp
  src/nfs/test/main.cpp
  src/replica/backup/test/replica_backup_manager_test.cpp
  src/replica/bulk_load/test/replica_bulk_loader_test.cpp
  src/replica/duplication/test/dup_replica_http_service_test.cpp
  src/replica/duplication/test/duplication_sync_timer_test.cpp
  src/replica/duplication/test/load_from_private_log_test.cpp
  src/replica/duplication/test/mutation_batch_test.cpp
  src/replica/duplication/test/replica_duplicator_manager_test.cpp
  src/replica/duplication/test/replica_duplicator_test.cpp
  src/replica/duplication/test/replica_follower_test.cpp
  src/replica/duplication/test/ship_mutation_test.cpp
  src/replica/split/test/replica_split_test.cpp
  src/replica/test/log_block_test.cpp
  src/replica/test/log_file_test.cpp
  src/replica/test/main.cpp
  src/replica/test/mutation_log_learn_test.cpp
  src/replica/test/mutation_log_test.cpp
  src/replica/test/open_replica_test.cpp
  src/replica/test/replica_disk_migrate_test.cpp
  src/replica/test/replica_disk_test.cpp
  src/replica/test/replica_http_service_test.cpp
  src/replica/test/replica_learn_test.cpp
  src/replica/test/replica_test.cpp
  src/server/test/capacity_unit_calculator_test.cpp
  src/server/test/hotkey_collector_test.cpp
  src/server/test/hotspot_partition_test.cpp
  src/server/test/manual_compact_service_test.cpp
  src/server/test/pegasus_compression_options_test.cpp
  src/server/test/pegasus_mutation_duplicator_test.cpp
  src/server/test/pegasus_server_impl_test.cpp
  src/server/test/pegasus_server_write_test.cpp
  src/server/test/pegasus_write_service_impl_test.cpp
  src/server/test/pegasus_write_service_test.cpp
  src/server/test/rocksdb_wrapper_test.cpp
  src/utils/test/TokenBucketTest.cpp
  src/utils/test/enum_helper_test.cpp
  src/utils/test/env.cpp
  src/utils/test/file_utils.cpp
  src/utils/test/load_dump_object_test.cpp
  src/utils/test/metrics_test.cpp
  src/utils/test/utils.cpp
Labels: cpp

#1865 fix: drop redundant semicolons of error_s macros
  src/utils/errors.h
Labels: cpp

#1864 feat: Support meta_server connect to Kerberos sasl authenticated Zookeeper where KDC configured 'rdns = false'
  src/zookeeper/zookeeper_session.cpp
Labels: cpp

#1867 feat: Support meta_server connect to Kerberos sasl authenticated Zookeeper where KDC configured 'rdns = false'
  src/zookeeper/zookeeper_session.cpp
Labels: cpp

#1870 feat(new_metrics): build the http query string based on metric filters
  src/http/http_server.cpp
  src/http/http_server.h
  src/utils/CMakeLists.txt
  src/utils/metrics.cpp
  src/utils/metrics.h
  src/utils/strings.cpp
  src/utils/strings.h
  src/utils/test/metrics_test.cpp
  src/utils/test/utils.cpp
Labels: cmake, cpp, build

#1871 feat(slog): Remove slog related code (2nd)
  src/common/replication_common.cpp
  src/replica/replica_2pc.cpp
  src/replica/replica_stub.cpp
Labels: cpp

#1878 feat: Make checkpoint_reserve_min_count & checkpoint_reserve_time_seconds mutable
  src/server/pegasus_server_impl_init.cpp
Labels: cpp

#1873 feat(dns_resolver): Add metrics for dns_resolver
  src/runtime/rpc/dns_resolver.cpp
  src/runtime/rpc/dns_resolver.h
  src/runtime/rpc/rpc_host_port.cpp
Labels: cpp

#1869 feat: use getaddrinfo instead of gethostbyname
  src/runtime/rpc/rpc_address.cpp
  src/runtime/rpc/rpc_address.h
  src/runtime/rpc/rpc_host_port.cpp
  src/utils/test/lock.std.cpp
Labels: cpp

#1874 refactor(fmt): Use operator<< instead of explict to_string()
  src/block_service/block_service_manager.cpp
  src/block_service/test/hdfs_service_test.cpp
  src/client/replication_ddl_client.cpp
  src/failure_detector/failure_detector.cpp
  src/http/test/main.cpp
  src/meta/backup_engine.cpp
  src/meta/cluster_balance_policy.cpp
  src/meta/duplication/duplication_info.h
  src/meta/duplication/meta_duplication_service.cpp
  src/meta/load_balance_policy.cpp
  src/meta/meta_backup_service.cpp
  src/meta/meta_bulk_load_ingestion_context.cpp
  src/meta/meta_bulk_load_service.cpp
  src/meta/meta_http_service.cpp
  src/meta/meta_service.cpp
  src/meta/partition_guardian.cpp
  src/meta/server_state.cpp
  src/meta/test/duplication_info_test.cpp
  src/meta/test/meta_duplication_service_test.cpp
  src/meta/test/meta_test_base.cpp
  src/meta/test/misc/misc.cpp
  src/redis_protocol/proxy_lib/redis_parser.cpp
  src/replica/backup/replica_backup_server.cpp
  src/replica/bulk_load/replica_bulk_loader.cpp
  src/replica/duplication/duplication_sync_timer.cpp
  src/replica/duplication/mutation_batch.cpp
  src/replica/duplication/replica_follower.cpp
  src/replica/replica_2pc.cpp
  src/replica/replica_check.cpp
  src/replica/replica_context.cpp
  src/replica/replica_disk_migrator.cpp
  src/replica/replica_learn.cpp
  src/replica/replica_restore.cpp
  src/replica/replica_stub.cpp
  src/replica/split/replica_split_manager.cpp
  src/replica/storage/simple_kv/test/case.cpp
  src/replica/storage/simple_kv/test/case.h
  src/replica/storage/simple_kv/test/common.cpp
  src/replica/storage/simple_kv/test/common.h
  src/replica/test/mutation_log_test.cpp
  src/replica/test/replica_disk_migrate_test.cpp
  src/runtime/fault_injector.cpp
  src/runtime/tracer.cpp
  src/security/client_negotiation.cpp
  src/security/negotiation_manager.cpp
  src/security/server_negotiation.cpp
  src/server/hotspot_partition_calculator.cpp
  src/server/pegasus_server_impl.cpp
  src/server/pegasus_server_write.cpp
  src/utils/blob.h
Labels: cpp
