Repository apache/incubator-pegasus, pull requests merged in 2025-02, with the labels that each got.

#2185 feat(make_idempotent): support making `incr` request idempotent in `pegasus_write_service::impl`
  idl/rrdb.thrift
  src/server/pegasus_server_write.h
  src/server/pegasus_write_service.h
  src/server/pegasus_write_service_impl.h
  src/server/rocksdb_wrapper.cpp
  src/server/test/pegasus_write_service_impl_test.cpp
  src/utils/blob.h
Labels: cpp, thrift

#2186 refactor(java-client): optimize code for meta session to eliminate potential problems
  java-client/src/main/java/org/apache/pegasus/rpc/async/MetaSession.java
  java-client/src/test/java/org/apache/pegasus/rpc/async/MetaSessionTest.java
  java-client/src/test/java/org/apache/pegasus/rpc/async/ReplicaSessionTest.java
Labels: java-client

#2191 fix(scripts): Fix the way the wait_manual_compact function parses the shell output
  admin_tools/pegasus_manual_compact.sh
Labels: scripts

#2196 feat(make_idempotent): support making `incr` request idempotent in `pegasus_server_write` and `replication_app_base`
  .clang-tidy
  build_tools/clang_tidy.py
  src/redis_protocol/proxy_ut/redis_proxy_test.cpp
  src/replica/mutation.h
  src/replica/replication_app_base.cpp
  src/replica/replication_app_base.h
  src/replica/storage/simple_kv/simple_kv.server.h
  src/replica/test/mock_utils.h
  src/rpc/rpc_holder.h
  src/rpc/rpc_message.cpp
  src/rpc/rpc_message.h
  src/rpc/rpc_stream.h
  src/rpc/test/rpc_message_test.cpp
  src/server/pegasus_server_impl.cpp
  src/server/pegasus_server_impl.h
  src/server/pegasus_server_write.cpp
  src/server/pegasus_server_write.h
  src/server/test/hotkey_collector_test.cpp
  src/server/test/pegasus_server_write_test.cpp
  src/tools/mutation_log_tool.cpp
  src/utils/alloc.h
Labels: scripts, cpp
