Repository apache/incubator-pegasus, pull requests merged in 2025-04, with the labels that each got.

#2218 ci: bump dorny/paths-filter from v2 to v3.0.2
  .github/actions/rebuild_thirdparty_if_needed/action.yaml
Labels: github

#2221 feat(make_idempotent): support `atomic_idempotent` for `create` and `ls` commands on shell
  src/client/replication_ddl_client.cpp
  src/client/replication_ddl_client.h
  src/geo/test/geo_test.cpp
  src/shell/command_helper.h
  src/shell/command_utils.h
  src/shell/commands/detect_hotkey.cpp
  src/shell/commands/duplication.cpp
  src/shell/commands/table_management.cpp
  src/shell/main.cpp
  src/test/function_test/base_api/test_copy.cpp
  src/test/function_test/base_api/test_scan.cpp
  src/test/function_test/recovery/test_recovery.cpp
  src/test/function_test/utils/test_util.cpp
  src/test/function_test/utils/test_util.h
Labels: cpp

#2222 feat(make_idempotent): each primary replica uses `atomic_idempotent` to decide whether to make all atomic writes idempotent
  src/replica/mutation.cpp
  src/replica/replica.cpp
  src/replica/replica.h
  src/replica/replica_2pc.cpp
Labels: cpp

#2223 feat(new_metrics): support `server_stat` command showing some important server-level metrics (part 2)
  src/shell/commands/node_management.cpp
Labels: cpp

#2229 feat(make_idempotent): support getting/enabling/disabling `atomic_idempotent` on shell
  src/shell/commands.h
  src/shell/commands/table_management.cpp
  src/shell/main.cpp
Labels: component/shell, cpp

#2126 fix(learn): avoid learn use DEFAULT_POOL
  src/block_service/block_service.h
  src/block_service/hdfs/hdfs_service.cpp
  src/block_service/local/local_service.cpp
  src/nfs/nfs_code_definition.h
  src/nfs/test/config.ini
  src/replica/storage/simple_kv/test/case-000.ini
  src/replica/storage/simple_kv/test/case-001.ini
  src/replica/storage/simple_kv/test/case-002.ini
  src/replica/storage/simple_kv/test/case-003.ini
  src/replica/storage/simple_kv/test/case-004.ini
  src/replica/storage/simple_kv/test/case-005.ini
  src/replica/storage/simple_kv/test/case-006.ini
  src/replica/storage/simple_kv/test/case-100.ini
  src/replica/storage/simple_kv/test/case-101.ini
  src/replica/storage/simple_kv/test/case-102.ini
  src/replica/storage/simple_kv/test/case-103.ini
  src/replica/storage/simple_kv/test/case-104.ini
  src/replica/storage/simple_kv/test/case-105.ini
  src/replica/storage/simple_kv/test/case-106.ini
  src/replica/storage/simple_kv/test/case-107.ini
  src/replica/storage/simple_kv/test/case-108.ini
  src/replica/storage/simple_kv/test/case-109.ini
  src/replica/storage/simple_kv/test/case-200.ini
  src/replica/storage/simple_kv/test/case-201.ini
  src/replica/storage/simple_kv/test/case-202-0.ini
  src/replica/storage/simple_kv/test/case-202-1.ini
  src/replica/storage/simple_kv/test/case-203-0.ini
  src/replica/storage/simple_kv/test/case-204.ini
  src/replica/storage/simple_kv/test/case-205.ini
  src/replica/storage/simple_kv/test/case-206.ini
  src/replica/storage/simple_kv/test/case-207.ini
  src/replica/storage/simple_kv/test/case-208.ini
  src/replica/storage/simple_kv/test/case-209.ini
  src/replica/storage/simple_kv/test/case-210.ini
  src/replica/storage/simple_kv/test/case-211.ini
  src/replica/storage/simple_kv/test/case-212.ini
  src/replica/storage/simple_kv/test/case-213.ini
  src/replica/storage/simple_kv/test/case-214.ini
  src/replica/storage/simple_kv/test/case-215.ini
  src/replica/storage/simple_kv/test/case-216.ini
  src/replica/storage/simple_kv/test/case-300-0.ini
  src/replica/storage/simple_kv/test/case-300-1.ini
  src/replica/storage/simple_kv/test/case-300-2.ini
  src/replica/storage/simple_kv/test/case-301.ini
  src/replica/storage/simple_kv/test/case-302.ini
  src/replica/storage/simple_kv/test/case-303.ini
  src/replica/storage/simple_kv/test/case-304.ini
  src/replica/storage/simple_kv/test/case-305.ini
  src/replica/storage/simple_kv/test/case-306.ini
  src/replica/storage/simple_kv/test/case-307.ini
  src/replica/storage/simple_kv/test/case-400.ini
  src/replica/storage/simple_kv/test/case-401.ini
  src/replica/storage/simple_kv/test/case-402.ini
  src/replica/storage/simple_kv/test/case-600.ini
  src/replica/storage/simple_kv/test/case-601.ini
  src/replica/storage/simple_kv/test/case-602.ini
  src/replica/storage/simple_kv/test/case-603.ini
  src/replica/storage/simple_kv/test/config.ini
  src/utils/threadpool_code.h
Labels: cpp

#2230 feat(make_idempotent): support making `check_and_set` request idempotent in `pegasus_write_service::impl`
  idl/rrdb.thrift
  src/base/pegasus_key_schema.h
  src/server/pegasus_write_service_impl.h
  src/server/result_writer.cpp
  src/server/rocksdb_wrapper.cpp
  src/server/rocksdb_wrapper.h
  src/utils/blob.h
  src/utils/test/utils.cpp
Labels: cpp, thrift

#2236 ci(github): fix that sbt could not be found while checking format for Scala
  .github/workflows/lint_and_test_scala-client.yml
Labels: github

#2239 feat(make_idempotent): support making `check_and_set` request idempotent in `pegasus_write_service`
  src/server/pegasus_write_service.cpp
  src/server/pegasus_write_service.h
Labels: cpp
