Repository apache/incubator-pegasus, pull requests merged in 2025-03, with the labels that each got.

#2174 feat(admin-cli): remove admin-cli use "pegasus-kv/collector"
  admin-cli/executor/client.go
  admin-cli/executor/nodes_stat.go
  admin-cli/executor/partition_stat.go
  admin-cli/executor/table_stat.go
  admin-cli/executor/toolkits/tablemigrator/migrator.go
  admin-cli/go.mod
  admin-cli/go.sum
  admin-cli/util/pegasus_node.go
  admin-cli/util/perf_counter.go
Labels: admin-cli

#2184 feat(duplication): make the task code for incremental loading from private logs configurable
  src/replica/duplication/replica_duplicator.cpp
Labels: cpp

#2199 feat(go-client): add DelRange API to go-client
  go-client/Makefile
  go-client/pegasus/error.go
  go-client/pegasus/error_test.go
  go-client/pegasus/scanner.go
  go-client/pegasus/table_connector.go
  go-client/pegasus/table_connector_test.go
Labels: first-time-contributor, go-client

#2198 feat(make_idempotent): support making write requests idempotent for primary replicas
  src/replica/bulk_load/replica_bulk_loader.cpp
  src/replica/mutation.cpp
  src/replica/mutation.h
  src/replica/replica.cpp
  src/replica/replica.h
  src/replica/replica_2pc.cpp
  src/replica/replica_base.h
  src/replica/replica_check.cpp
  src/replica/replica_chkpt.cpp
  src/replica/replica_config.cpp
  src/replica/replica_context.h
  src/replica/split/replica_split_manager.cpp
  src/replica/split/test/replica_split_test.cpp
  src/replica/test/cold_backup_context_test.cpp
  src/runtime/serverlet.h
  src/task/task_spec.cpp
Labels: cpp

#2195 feat(bulk_load): reduce partition ingest time
  src/common/bulk_load_common.cpp
  src/common/bulk_load_common.h
  src/meta/meta_bulk_load_service.cpp
Labels: cpp

#2204 fix(scripts): Add the --config parameter to pegasus_manual_compact.sh
  admin_tools/pegasus_manual_compact.sh
Labels: scripts

#1994 refactor(FQDN): Minor refactor on remove_node()
  src/common/replication_other_types.h
  src/meta/test/meta_partition_guardian_test.cpp
  src/meta/test/misc/misc.cpp
  src/meta/test/update_configuration_test.cpp
  src/replica/replica_config.cpp
  src/replica/replica_stub.cpp
  src/rpc/rpc_host_port.cpp
  src/rpc/rpc_host_port.h
Labels: cpp

#2205 feat(make_idempotent): introduce new table-level APIs to meta servers to list/control idempotence for atomic writes
  idl/dsn.layer2.thrift
  idl/meta_admin.thrift
  src/client/replication_ddl_client.cpp
  src/client/replication_ddl_client.h
  src/common/json_helper.h
  src/common/replication.codes.h
  src/meta/meta_rpc_types.h
  src/meta/meta_service.cpp
  src/meta/meta_service.h
  src/meta/server_state.cpp
  src/meta/server_state.h
  src/meta/test/meta_app_operation_test.cpp
  src/meta/test/state_sync_test.cpp
  src/ranger/ranger_resource_policy_manager.cpp
Labels: cpp, thrift
