Repository apache/incubator-pegasus, pull requests merged in 2025-05, with the labels that each got.

#2238 feat(duplication): support resumable download for checkpoint files during full duplication on the server side
  idl/utils.thrift
  src/block_service/test/block_service_manager_test.cpp
  src/common/consensus.thrift
  src/replica/bulk_load/test/replica_bulk_loader_test.cpp
  src/replica/mutation.h
  src/replica/replica.h
  src/replica/replica_chkpt.cpp
  src/replica/replica_stub.cpp
  src/replica/replica_stub.h
  src/replica/test/replica_test.cpp
  src/server/pegasus_server_impl.cpp
  src/server/pegasus_server_impl.h
  src/server/test/CMakeLists.txt
  src/server/test/capacity_unit_calculator_test.cpp
  src/server/test/hotkey_collector_test.cpp
  src/server/test/manual_compact_service_test.cpp
  src/server/test/pegasus_compression_options_test.cpp
  src/server/test/pegasus_server_impl_test.cpp
  src/server/test/pegasus_server_test_base.h
  src/server/test/pegasus_server_write_test.cpp
  src/server/test/pegasus_write_service_impl_test.cpp
  src/server/test/pegasus_write_service_test.cpp
  src/server/test/rocksdb_wrapper_test.cpp
  src/test_util/test_util.cpp
  src/test_util/test_util.h
  src/utils/checksum.cpp
  src/utils/checksum.h
  src/utils/test/CMakeLists.txt
  src/utils/test/checksum_test.cpp
  src/utils/test_macros.h
Labels: component/duplication, cpp, build, thrift

#2246 feat(make_idempotent): support making `check_and_mutate` request idempotent in `pegasus_write_service::impl`
  idl/rrdb.thrift
  src/base/idl_utils.h
  src/server/pegasus_write_service_impl.h
  src/server/rocksdb_wrapper.cpp
  src/server/rocksdb_wrapper.h
Labels: cpp, thrift

#2247 ci: introduce `revive` as the linter replacement for `golint`
  .github/workflows/lint_and_test_admin-cli.yml
  .github/workflows/lint_and_test_collector.yml
  .github/workflows/lint_and_test_pegic.yml
  .golangci.yml
  admin-cli/client/fake_meta_test.go
  admin-cli/client/meta.go
  admin-cli/executor/server_config.go
  admin-cli/executor/table_version.go
  admin-cli/tabular/template.go
  admin-cli/util/common_utils.go
  collector/avail/detector.go
  collector/metrics/metric_collector.go
  collector/usage/usage_recorder.go
  go-client/.golangci.yml
  go-client/admin/client_test.go
  pegic/interactive/cmd/compression.go
  pegic/interactive/cmd/encoding.go
  pegic/shell/app.go
Labels: github, admin-cli, go-client, pegic, collector

#2217 refactor(FQDN): further more refator on idl/dsn.layer2.thrift v2
  src/meta/backup_engine.cpp
  src/meta/duplication/meta_duplication_service.cpp
  src/meta/greedy_load_balancer.cpp
  src/meta/meta_backup_service.cpp
  src/meta/meta_bulk_load_service.cpp
  src/meta/server_state_restore.cpp
  src/replica/bulk_load/replica_bulk_loader.cpp
  src/replica/replica_context.cpp
  src/replica/replica_stub.cpp
Labels: cpp

#2252 fix: fix build failure on Apple M chips
  thirdparty/CMakeLists.txt
  thirdparty/fix_absl_build_on_macos_arm64.patch
Labels: thirdparty, build

#2257 fix(go-client): fix the data race issue caused by concurrent read/write access to the session list of `metaCall`
  go-client/session/meta_call.go
  go-client/session/meta_session.go
Labels: go-client, go
