Repository apache/incubator-pegasus, pull requests merged in 2025-01, with the labels that each got.

#2162 refactor: support close admin-cli client
  admin-cli/cmd/init.go
  admin-cli/executor/client.go
  admin-cli/executor/disk_info.go
  admin-cli/executor/toolkits/tablemigrator/switcher.go
  admin-cli/util/pegasus_node.go
Labels: admin-cli

#2101 fix(duplication): deal with bulkload dup crash
  src/server/pegasus_mutation_duplicator.cpp
Labels: cpp

#2175 chore: Upgrade to use macOS 15 in action
  .github/workflows/lint_and_test_cpp.yaml
Labels: github

#2179 chore(gha): introduce RockyLinux as an action runner
  .github/workflows/build-push-env-docker.yml
  .github/workflows/lint_and_test_cpp.yaml
  .github/workflows/regular-build.yml
  .github/workflows/standardization_lint.yaml
  .github/workflows/thirdparty-regular-push.yml
  docker/README.md
  docker/pegasus-build-env/rockylinux9/Dockerfile
  docker/thirdparties-bin/Dockerfile
  docker/thirdparties-src/Dockerfile
Labels: docs, github, docker

#2180 fix(rockylinux): add the missing ccache package
  docker/pegasus-build-env/rockylinux9/Dockerfile
Labels: docker

#2172 feat(meta): list tables with specified name pattern
  idl/dsn.layer2.thrift
  idl/duplication.thrift
  idl/meta_admin.thrift
  src/client/replication_ddl_client.cpp
  src/client/replication_ddl_client.h
  src/client/test/ddl_client_test.cpp
  src/meta/duplication/meta_duplication_service.cpp
  src/meta/meta_http_service.cpp
  src/meta/server_state.cpp
  src/server/hotspot_partition_calculator.h
  src/server/info_collector.cpp
  src/server/pegasus_mutation_duplicator.cpp
  src/shell/command_helper.h
  src/shell/command_utils.cpp
  src/shell/command_utils.h
  src/shell/commands/node_management.cpp
  src/shell/commands/rebalance.cpp
  src/shell/commands/table_management.cpp
  src/shell/main.cpp
  src/utils/errors.h
  src/utils/output_utils.h
  src/utils/strings.cpp
  src/utils/strings.h
  src/utils/test/utils.cpp
Labels: component/shell, cpp, thrift

#2181 fix(meta): fix null pointer while clearing environment variables after table was dropped
  src/meta/server_state.cpp
  src/meta/test/server_state_test.cpp
Labels: type/bug-fix, cpp

#2182 refactor: specify data column family explicitly for RocksDB wrapper
  src/server/rocksdb_wrapper.cpp
  src/server/rocksdb_wrapper.h
Labels: cpp

#2151 chore: update actions download-artifact and up-artifact to v4
  .github/actions/download_artifact/action.yaml
  .github/actions/upload_artifact/action.yaml
Labels: github

#2187 fix(java-client): package `org.apache.pegasus.utils` does not exist while building java client
  java-client/pom.xml
Labels: java-client
